$primary: var(--reference-palette-primary40) !default;
$on-primary: var(--reference-palette-primary100) !default;
$primary-container: var(--reference-palette-primary90) !default;
$on-primary-container: var(--reference-palette-primary10) !default;

$secondary: var(--reference-palette-secondary40) !default;
$on-secondary: var(--reference-palette-secondary100) !default;
$secondary-container: var(--reference-palette-secondary90) !default;
$on-secondary-container: var(--reference-palette-secondary10) !default; 

$tertiary: var(--reference-palette-tertiary40) !default;
$on-tertiary: var(--reference-palette-tertiary100) !default;
$tertiary-container: var(--reference-palette-tertiary90) !default;
$on-tertiary-container: var(--reference-palette-tertiary10) !default; 

$surface-dim: var(--reference-palette-neutral87) !default;
$surface: var(--reference-palette-neutral98) !default;
$surface-bright: var(--reference-palette-neutral98) !default;
$surface-container-lowest: var(--reference-palette-neutral100) !default;
$surface-container-low: var(--reference-palette-neutral96) !default;
$surface-container: var(--reference-palette-neutral94) !default;
$surface-container-high: var(--reference-palette-neutral92) !default;
$surface-container-highest: var(--reference-palette-neutral90) !default;
$on-surface: var(--reference-palette-neutral10) !default;

$surface-variant: var(--reference-palette-neutral-variant90) !default;
$on-surface-variant: var(--reference-palette-neutral-variant30) !default;

$error: var(--reference-palette-error40) !default;
$on-error: var(--reference-palette-error100) !default;
$error-container: var(--reference-palette-error90) !default;
$on-error-container: var(--reference-palette-error10) !default; 

$outline: var(--reference-palette-neutral-variant50) !default;
$outline-variant: var(--reference-palette-neutral-variant80) !default;

$light: (
    "primary": $primary,
    "on-primary": $on-primary,
    "primary-container": $primary-container,
    "on-primary-container": $on-primary-container,
    "secondary": $secondary,
    "on-secondary": $on-secondary,
    "secondary-container": $secondary-container,
    "on-secondary-container": $on-secondary-container,
    "tertiary": $tertiary,
    "on-tertiary": $on-tertiary,
    "tertiary-container": $tertiary-container,
    "on-tertiary-container": $on-tertiary-container,
    "surface-dim": $surface-dim,
    "surface": $surface,
    "surface-bright": $surface-bright,
    "surface-container-lowest": $surface-container-lowest,
    "surface-container-low": $surface-container-low,
    "surface-container": $surface-container,
    "surface-container-high": $surface-container-high,
    "surface-container-highest": $surface-container-highest,
    "on-surface": $on-surface,
    "surface-variant": $surface-variant,
    "on-surface-variant": $on-surface-variant,
    "error": $error,
    "on-error": $on-error,
    "error-container": $error-container,
    "on-error-container": $on-error-container,
    "outline": $outline,
    "outline-variant": $outline-variant,
) !default;

$primary-rgb: var(--reference-palette-primary40-rgb) !default;
$on-primary-rgb: var(--reference-palette-primary100-rgb) !default;
$primary-container-rgb: var(--reference-palette-primary90-rgb) !default;
$on-primary-container-rgb: var(--reference-palette-primary10-rgb) !default;

$secondary-rgb: var(--reference-palette-secondary40-rgb) !default;
$on-secondary-rgb: var(--reference-palette-secondary100-rgb) !default;
$secondary-container-rgb: var(--reference-palette-secondary90-rgb) !default;
$on-secondary-container-rgb: var(--reference-palette-secondary10-rgb) !default;

$tertiary-rgb: var(--reference-palette-tertiary40-rgb) !default;
$on-tertiary-rgb: var(--reference-palette-tertiary100-rgb) !default;
$tertiary-container-rgb: var(--reference-palette-tertiary90-rgb) !default;
$on-tertiary-container-rgb: var(--reference-palette-tertiary10-rgb) !default;

$surface-dim-rgb: var(--reference-palette-neutral87-rgb) !default;
$surface-rgb: var(--reference-palette-neutral98-rgb) !default;
$surface-bright-rgb: var(--reference-palette-neutral98-rgb) !default;
$surface-container-lowest-rgb: var(--reference-palette-neutral100-rgb) !default;
$surface-container-low-rgb: var(--reference-palette-neutral96-rgb) !default;
$surface-container-rgb: var(--reference-palette-neutral94-rgb) !default;
$surface-container-high-rgb: var(--reference-palette-neutral92-rgb) !default;
$surface-container-highest-rgb: var(--reference-palette-neutral90-rgb) !default;
$on-surface-rgb: var(--reference-palette-neutral10-rgb) !default;

$surface-variant-rgb: var(--reference-palette-neutral-variant90-rgb) !default;
$on-surface-variant-rgb: var(--reference-palette-neutral-variant30-rgb) !default;

$error-rgb: var(--reference-palette-error40-rgb) !default;
$on-error-rgb: var(--reference-palette-error100-rgb) !default;
$error-container-rgb: var(--reference-palette-error90-rgb) !default;
$on-error-container-rgb: var(--reference-palette-error10-rgb) !default;

$outline-rgb: var(--reference-palette-neutral-variant50-rgb) !default;
$outline-variant-rgb: var(--reference-palette-neutral-variant80-rgb) !default;

$light-rgb: (
    "primary-rgb": $primary-rgb,
    "on-primary-rgb": $on-primary-rgb,
    "primary-container-rgb": $primary-container-rgb,
    "on-primary-container-rgb": $on-primary-container-rgb,
    "secondary-rgb": $secondary-rgb,
    "on-secondary-rgb": $on-secondary-rgb,
    "secondary-container-rgb": $secondary-container-rgb,
    "on-secondary-container-rgb": $on-secondary-container-rgb,
    "tertiary-rgb": $tertiary-rgb,
    "on-tertiary-rgb": $on-tertiary-rgb,
    "tertiary-container-rgb": $tertiary-container-rgb,
    "on-tertiary-container-rgb": $on-tertiary-container-rgb,
    "surface-dim-rgb": $surface-dim-rgb,
    "surface-rgb": $surface-rgb,
    "surface-bright-rgb": $surface-bright-rgb,
    "surface-container-lowest-rgb": $surface-container-lowest-rgb,
    "surface-container-low-rgb": $surface-container-low-rgb,
    "surface-container-rgb": $surface-container-rgb,
    "surface-container-high-rgb": $surface-container-high-rgb,
    "surface-container-highest-rgb": $surface-container-highest-rgb,
    "on-surface-rgb": $on-surface-rgb,
    "surface-variant-rgb": $surface-variant-rgb,
    "on-surface-variant-rgb": $on-surface-variant-rgb,
    "error-rgb": $error-rgb,
    "on-error-rgb": $on-error-rgb,
    "error-container-rgb": $error-container-rgb,
    "on-error-container-rgb": $on-error-container-rgb,
    "outline-rgb": $outline-rgb,
    "outline-variant-rgb": $outline-variant-rgb,
) !default;

$primary-dark: var(--reference-palette-primary80) !default;
$on-primary-dark: var(--reference-palette-primary20) !default;
$primary-container-dark: var(--reference-palette-primary30) !default;
$on-primary-container-dark: var(--reference-palette-primary90) !default;

$secondary-dark: var(--reference-palette-secondary80) !default;
$on-secondary-dark: var(--reference-palette-secondary20) !default;
$secondary-container-dark: var(--reference-palette-secondary30) !default;
$on-secondary-container-dark: var(--reference-palette-secondary90) !default;

$tertiary-dark: var(--reference-palette-tertiary80) !default;
$on-tertiary-dark: var(--reference-palette-tertiary20) !default;
$tertiary-container-dark: var(--reference-palette-tertiary30) !default;
$on-tertiary-container-dark: var(--reference-palette-tertiary90) !default;

$surface-dim-dark: var(--reference-palette-neutral6) !default;
$surface-dark: var(--reference-palette-neutral6) !default;
$surface-bright-dark: var(--reference-palette-neutral24) !default;
$surface-container-lowest-dark: var(--reference-palette-neutral4) !default;
$surface-container-low-dark: var(--reference-palette-neutral10) !default;
$surface-container-dark: var(--reference-palette-neutral12) !default;
$surface-container-high-dark: var(--reference-palette-neutral17) !default;
$surface-container-highest-dark: var(--reference-palette-neutral22) !default;
$surface-tint-dark: var(--system-color-primary) !default;
$on-surface-dark: var(--reference-palette-neutral90) !default;

$surface-variant-dark: var(--reference-palette-neutral-variant30) !default;
$on-surface-variant-dark: var(--reference-palette-neutral-variant80) !default;

$error-dark: var(--reference-palette-error80) !default;
$on-error-dark: var(--reference-palette-error20) !default;
$error-container-dark: var(--reference-palette-error30) !default;
$on-error-container-dark: var(--reference-palette-error90) !default;

$outline-dark: var(--reference-palette-neutral-variant60) !default;
$outline-variant-dark: var(--reference-palette-neutral-variant30) !default;

$dark: (
    "primary": $primary-dark,
    "on-primary": $on-primary-dark,
    "primary-container": $primary-container-dark,
    "on-primary-container": $on-primary-container-dark,
    "secondary": $secondary-dark,
    "on-secondary": $on-secondary-dark,
    "secondary-container": $secondary-container-dark,
    "on-secondary-container": $on-secondary-container-dark,
    "tertiary": $tertiary-dark,
    "on-tertiary": $on-tertiary-dark,
    "tertiary-container": $tertiary-container-dark,
    "on-tertiary-container": $on-tertiary-container-dark,
    "surface-dim": $surface-dim-dark,
    "surface": $surface-dark,
    "surface-bright": $surface-bright-dark,
    "surface-container-lowest": $surface-container-lowest-dark,
    "surface-container-low": $surface-container-low-dark,
    "surface-container": $surface-container-dark,
    "surface-container-high": $surface-container-high-dark,
    "surface-container-highest": $surface-container-highest-dark,
    "on-surface": $on-surface-dark,
    "surface-variant": $surface-variant-dark,
    "on-surface-variant": $on-surface-variant-dark,
    "error": $error-dark,
    "on-error": $on-error-dark,
    "error-container": $error-container-dark,
    "on-error-container": $on-error-container-dark,
    "outline": $outline-dark,
    "outline-variant": $outline-variant-dark,
) !default;

$primary-dark-rgb: var(--reference-palette-primary80-rgb) !default;
$on-primary-dark-rgb: var(--reference-palette-primary20-rgb) !default;
$primary-container-dark-rgb: var(--reference-palette-primary30-rgb) !default;
$on-primary-container-dark-rgb: var(--reference-palette-primary90-rgb) !default;

$secondary-dark-rgb: var(--reference-palette-secondary80-rgb) !default;
$on-secondary-dark-rgb: var(--reference-palette-secondary20-rgb) !default;
$secondary-container-dark-rgb: var(--reference-palette-secondary30-rgb) !default;
$on-secondary-container-dark-rgb: var(--reference-palette-secondary90-rgb) !default;

$tertiary-dark-rgb: var(--reference-palette-tertiary80-rgb) !default;
$on-tertiary-dark-rgb: var(--reference-palette-tertiary20-rgb) !default;
$tertiary-container-dark-rgb: var(--reference-palette-tertiary30-rgb) !default;
$on-tertiary-container-dark-rgb: var(--reference-palette-tertiary90-rgb) !default;

$surface-dim-dark-rgb: var(--reference-palette-neutral6-rgb) !default;
$surface-dark-rgb: var(--reference-palette-neutral6-rgb) !default;
$surface-bright-dark-rgb: var(--reference-palette-neutral24-rgb) !default;
$surface-container-lowest-dark-rgb: var(--reference-palette-neutral4-rgb) !default;
$surface-container-low-dark-rgb: var(--reference-palette-neutral10-rgb) !default;
$surface-container-dark-rgb: var(--reference-palette-neutral12-rgb) !default;
$surface-container-high-dark-rgb: var(--reference-palette-neutral17-rgb) !default;
$surface-container-highest-dark-rgb: var(--reference-palette-neutral22-rgb) !default;
$on-surface-dark-rgb: var(--reference-palette-neutral90-rgb) !default;

$surface-variant-dark-rgb: var(--reference-palette-neutral-variant30-rgb) !default;
$on-surface-variant-dark-rgb: var(--reference-palette-neutral-variant80-rgb) !default;

$error-dark-rgb: var(--reference-palette-error80-rgb) !default;
$on-error-dark-rgb: var(--reference-palette-error20-rgb) !default;
$error-container-dark-rgb: var(--reference-palette-error30-rgb) !default;
$on-error-container-dark-rgb: var(--reference-palette-error90-rgb) !default;

$outline-dark-rgb: var(--reference-palette-neutral-variant60-rgb) !default;
$outline-variant-dark-rgb: var(--reference-palette-neutral-variant30-rgb) !default;

$dark-rgb: (
    "primary-rgb": $primary-dark-rgb,
    "on-primary-rgb": $on-primary-dark-rgb,
    "primary-container-rgb": $primary-container-dark-rgb,
    "on-primary-container-rgb": $on-primary-container-dark-rgb,
    "secondary-rgb": $secondary-dark-rgb,
    "on-secondary-rgb": $on-secondary-dark-rgb,
    "secondary-container-rgb": $secondary-container-dark-rgb,
    "on-secondary-container-rgb": $on-secondary-container-dark-rgb,
    "tertiary-rgb": $tertiary-dark-rgb,
    "on-tertiary-rgb": $on-tertiary-dark-rgb,
    "tertiary-container-rgb": $tertiary-container-dark-rgb,
    "on-tertiary-container-rgb": $on-tertiary-container-dark-rgb,
    "surface-dim-rgb": $surface-dim-dark-rgb,
    "surface-rgb": $surface-dark-rgb,
    "surface-bright-rgb": $surface-bright-dark-rgb,
    "surface-container-lowest-rgb": $surface-container-lowest-dark-rgb,
    "surface-container-low-rgb": $surface-container-low-dark-rgb,
    "surface-container-rgb": $surface-container-dark-rgb,
    "surface-container-high-rgb": $surface-container-high-dark-rgb,
    "surface-container-highest-rgb": $surface-container-highest-dark-rgb,
    "on-surface-rgb": $on-surface-dark-rgb,
    "surface-variant-rgb": $surface-variant-dark-rgb,
    "on-surface-variant-rgb": $on-surface-variant-dark-rgb,
    "error-rgb": $error-dark-rgb,
    "on-error-rgb": $on-error-dark-rgb,
    "error-container-rgb": $error-container-dark-rgb,
    "on-error-container-rgb": $on-error-container-dark-rgb,
    "outline-rgb": $outline-dark-rgb,
    "outline-variant-rgb": $outline-variant-dark-rgb,
) !default;

$scrim: var(--reference-palette-neutral0) !default;
$scrim-rgb: var(--reference-palette-neutral0-rgb) !default;

$scrims: (
    "scrim": $scrim,
    "scrim-rgb": $scrim-rgb,
) !default;

$shadow: var(--reference-palette-neutral0) !default;
$shadow-rgb: var(--reference-palette-neutral0-rgb) !default;

$shadows: (
    "shadow": $shadow,
    "shadow-rgb": $shadow-rgb,
) !default;