$shape-corner-none: 0px !default;
$shape-corner-extra-small: 0.125rem !default;
$shape-corner-small: 0.25rem !default;
$shape-corner-medium: 0.375rem !default;
$shape-corner-large: 0.5rem !default;
$shape-corner-extra-large: 0.75 !default;
$shape-corner-full: 9999px !default;

$shapes: (
    "shape-corner-none": $shape-corner-none,
    "shape-corner-extra-small": $shape-corner-extra-small,
    "shape-corner-small": $shape-corner-small,
    "shape-corner-medium": $shape-corner-medium,
    "shape-corner-large": $shape-corner-large,
    "shape-corner-extra-large": $shape-corner-extra-large,
    "shape-corner-full": $shape-corner-full,
) !default;