$spacer1: 1.5rem !default;
$spacer2: $spacer1 * 2 !default;
$spacer3: $spacer1 * 3 !default;
$spacer4: $spacer1 * 4 !default;
$spacer5: $spacer1 * 5 !default;
$spacer6: $spacer1 * 6 !default;
$spacer7: $spacer1 * 7 !default;
$spacer8: $spacer1 * 8 !default;
$spacer9: $spacer1 * 9 !default;
$spacer10: $spacer1 * 10 !default;
$spacer11: $spacer1 * 11 !default;
$spacer12: $spacer1 * 12 !default;
$spacer13: $spacer1 * 13 !default;
$spacer14: $spacer1 * 14 !default;
$spacer15: $spacer1 * 15 !default;
$spacer16: $spacer1 * 16 !default;
$spacer17: $spacer1 * 17 !default;
$spacer18: $spacer1 * 18 !default;
$spacer19: $spacer1 * 19 !default;
$spacer20: $spacer1 * 20 !default;
$spacer21: $spacer1 * 21 !default;
$spacer22: $spacer1 * 22 !default;
$spacer23: $spacer1 * 23 !default;
$spacer24: $spacer1 * 24 !default;
$spacer25: $spacer1 * 25 !default;
$spacer26: $spacer1 * 26 !default;
$spacer27: $spacer1 * 27 !default;
$spacer28: $spacer1 * 28 !default;
$spacer29: $spacer1 * 29 !default;
$spacer30: $spacer1 * 30 !default;
$spacer31: $spacer1 * 31 !default;
$spacer32: $spacer1 * 32 !default;
$spacer33: $spacer1 * 33 !default;
$spacer34: $spacer1 * 34 !default;
$spacer35: $spacer1 * 35 !default;
$spacer36: $spacer1 * 36 !default;
$spacer36: $spacer1 * 36 !default;
$spacer37: $spacer1 * 37 !default;
$spacer38: $spacer1 * 38 !default;
$spacer39: $spacer1 * 27 !default;
$spacer40: $spacer1 * 40 !default;

$spacers: (
    "spacer1": $spacer1,
    "spacer2": $spacer2,
    "spacer3": $spacer3,
    "spacer4": $spacer4,
    "spacer5": $spacer5,
    "spacer6": $spacer6,
    "spacer7": $spacer7,
    "spacer8": $spacer8,
    "spacer9": $spacer9,
    "spacer10": $spacer10,
    "spacer11": $spacer11,
    "spacer12": $spacer12,
    "spacer13": $spacer13,
    "spacer14": $spacer14,
    "spacer15": $spacer15,
    "spacer16": $spacer16,
    "spacer17": $spacer17,
    "spacer18": $spacer18,
    "spacer19": $spacer19,
    "spacer20": $spacer20,
    "spacer21": $spacer21,
    "spacer22": $spacer22,
    "spacer23": $spacer23,
    "spacer24": $spacer24,
    "spacer25": $spacer25,
    "spacer26": $spacer26,
    "spacer27": $spacer27,
    "spacer28": $spacer28,
    "spacer29": $spacer29,
    "spacer30": $spacer30,
    "spacer31": $spacer31,
    "spacer32": $spacer32,
    "spacer33": $spacer33,
    "spacer34": $spacer34,
    "spacer35": $spacer35,
    "spacer36": $spacer36,
    "spacer37": $spacer37,
    "spacer38": $spacer38,
    "spacer39": $spacer39,
    "spacer40": $spacer40,
) !default;