@use "reference-tokens" as ref;
@use "functions" as fn;

$primary: ref.$primary40 !default;
$on-primary: ref.$primary100 !default;
$primary-container: ref.$primary90 !default;
$on-primary-container: ref.$primary10 !default;

$secondary: ref.$secondary40 !default;
$on-secondary: ref.$secondary100 !default;
$secondary-container: ref.$secondary90 !default;
$on-secondary-container: ref.$secondary10 !default;

$surface-dim: ref.$neutral87 !default;
$surface: ref.$neutral98 !default;
$surface-bright: ref.$neutral98 !default;
$surface-container-lowest: ref.$neutral100 !default;
$surface-container-low: ref.$neutral96 !default;
$surface-container: ref.$neutral94 !default;
$surface-container-high: ref.$neutral92 !default;
$surface-container-highest: ref.$neutral90 !default;
$on-surface: ref.$neutral10 !default;
$on-surface-variant: ref.$neutral-variant30 !default;
$outline: ref.$neutral-variant50 !default;
$outline-variant: ref.$neutral-variant80 !default;

$colors: (
    "primary": $primary,
    "on-primary": $on-primary,
    "primary-container": $primary-container,
    "on-primary-container": $on-primary-container,
    "secondary": $secondary,
    "on-secondary": $on-secondary,
    "secondary-container": $secondary-container,
    "on-secondary-container": $on-secondary-container,
    "surface-dim": $surface-dim,
    "surface": $surface,
    "surface-bright": $surface-bright,
    "on-surface": $on-surface,
    "on-surface-variant": $on-surface-variant,
    "surface-container-lowest": $surface-container-lowest,
    "surface-container-low": $surface-container-low,
    "surface-container": $surface-container,
    "surface-container-high": $surface-container-high,
    "surface-container-highest": $surface-container-highest,
    "outline": $outline,
    "outline-variant": $outline-variant,
) !default;

$primary-rgb: fn.to-rgb($primary) !default;
$on-primary-rgb: fn.to-rgb($on-primary) !default;
$primary-container-rgb: fn.to-rgb($primary-container) !default;
$on-primary-container-rgb: fn.to-rgb($on-primary-container) !default;

$secondary-rgb: fn.to-rgb($secondary) !default;
$on-secondary-rgb: fn.to-rgb($on-secondary) !default;
$secondary-container-rgb: fn.to-rgb($secondary-container) !default;
$on-secondary-container-rgb: fn.to-rgb($on-secondary-container) !default;

$surface-dim-rgb: fn.to-rgb($surface-dim) !default;
$surface-rgb: fn.to-rgb($surface) !default;
$surface-bright-rgb: fn.to-rgb($surface-bright) !default;
$surface-container-lowest-rgb: fn.to-rgb($surface-container-lowest) !default;
$surface-container-low-rgb: fn.to-rgb($surface-container-low) !default;
$surface-container-rgb: fn.to-rgb($surface-container) !default;
$surface-container-high-rgb: fn.to-rgb($surface-container-high) !default;
$surface-container-highest-rgb: fn.to-rgb($surface-container-highest) !default;
$on-surface-rgb: fn.to-rgb($on-surface) !default;
$on-surface-variant-rgb: fn.to-rgb($on-surface-variant) !default;
$outline-rgb: fn.to-rgb($outline) !default;
$outline-variant-rgb: fn.to-rgb($outline-variant) !default;

$colors-rgb: (
    "primary": $primary-rgb,
    "on-primary": $on-primary-rgb,
    "primary-container": $primary-container-rgb,
    "on-primary-container": $on-primary-container-rgb,
    "secondary": $secondary-rgb,
    "on-secondary": $on-secondary-rgb,
    "secondary-container": $secondary-container-rgb,
    "on-secondary-container": $on-secondary-container-rgb,
    "surface-dim": $surface-dim-rgb,
    "surface": $surface-rgb,
    "surface-bright": $surface-bright-rgb,
    "on-surface": $on-surface-rgb,
    "on-surface-variant": $on-surface-variant-rgb,
    "surface-container-lowest": $surface-container-lowest-rgb,
    "surface-container-low": $surface-container-low-rgb,
    "surface-container": $surface-container-rgb,
    "surface-container-high": $surface-container-high-rgb,
    "surface-container-highest": $surface-container-highest-rgb,
    "outline": $outline-rgb,
    "outline-variant": $outline-variant-rgb,
) !default;

$primary-dark: ref.$primary80 !default;
$on-primary-dark: ref.$primary20 !default;
$primary-container-dark: ref.$primary30 !default;
$on-primary-container-dark: ref.$primary90 !default;

$secondary-dark: ref.$secondary80 !default;
$on-secondary-dark: ref.$secondary20 !default;
$secondary-container-dark: ref.$secondary30 !default;
$on-secondary-container-dark: ref.$secondary90 !default;

$surface-dim-dark: ref.$neutral6 !default;
$surface-dark: ref.$neutral6 !default;
$surface-bright-dark: ref.$neutral24 !default;
$surface-container-lowest-dark: ref.$neutral4 !default;
$surface-container-low-dark: ref.$neutral10 !default;
$surface-container-dark: ref.$neutral12 !default;
$surface-container-high-dark: ref.$neutral17 !default;
$surface-container-highest-dark: ref.$neutral22 !default;
$on-surface-dark: ref.$neutral90 !default;
$on-surface-variant-dark: ref.$neutral-variant80 !default;
$outline-dark: ref.$neutral-variant60 !default;
$outline-variant-dark: ref.$neutral-variant30 !default;

$colors-dark: (
    "primary": $primary-dark,
    "on-primary": $on-primary-dark,
    "primary-container": $primary-container-dark,
    "on-primary-container": $on-primary-container-dark,
    "secondary": $secondary-dark,
    "on-secondary": $on-secondary-dark,
    "secondary-container": $secondary-container-dark,
    "on-secondary-container": $on-secondary-container-dark,
    "surface-dim": $surface-dim-dark,
    "surface": $surface-dark,
    "surface-bright": $surface-bright-dark,
    "on-surface": $on-surface-dark,
    "on-surface-variant": $on-surface-variant-dark,
    "surface-container-lowest": $surface-container-lowest-dark,
    "surface-container-low": $surface-container-low-dark,
    "surface-container": $surface-container-dark,
    "surface-container-high": $surface-container-high-dark,
    "surface-container-highest": $surface-container-highest-dark,
    "outline": $outline-dark,
    "outline-variant": $outline-variant-dark,
) !default;

$primary-dark-rgb: fn.to-rgb($primary-dark) !default;
$on-primary-dark-rgb: fn.to-rgb($on-primary-dark) !default;
$primary-container-dark-rgb: fn.to-rgb($primary-container-dark) !default;
$on-primary-container-dark-rgb: fn.to-rgb($on-primary-container-dark) !default;

$secondary-dark-rgb: fn.to-rgb($secondary-dark) !default;
$on-secondary-dark-rgb: fn.to-rgb($on-secondary-dark) !default;
$secondary-container-dark-rgb: fn.to-rgb($secondary-container-dark) !default;
$on-secondary-container-dark-rgb: fn.to-rgb($on-secondary-container-dark) !default;

$surface-dim-dark-rgb: fn.to-rgb($surface-dim-dark) !default;
$surface-dark-rgb: fn.to-rgb($surface-dark) !default;
$surface-bright-dark-rgb: fn.to-rgb($surface-bright-dark) !default;
$surface-container-lowest-dark-rgb: fn.to-rgb($surface-container-lowest-dark) !default;
$surface-container-low-dark-rgb: fn.to-rgb($surface-container-low-dark) !default;
$surface-container-dark-rgb: fn.to-rgb($surface-container-dark) !default;
$surface-container-high-dark-rgb: fn.to-rgb($surface-container-high-dark) !default;
$surface-container-highest-dark-rgb: fn.to-rgb($surface-container-highest-dark) !default;
$on-surface-dark-rgb: fn.to-rgb($on-surface-dark) !default;
$on-surface-variant-dark-rgb: fn.to-rgb($on-surface-variant-dark) !default;
$outline-dark-rgb: fn.to-rgb($outline-dark) !default;
$outline-variant-dark-rgb: fn.to-rgb($outline-variant-dark) !default;

$colors-dark-rgb: (
    "primary": $primary-dark-rgb,
    "on-primary": $on-primary-dark-rgb,
    "primary-container": $primary-container-dark-rgb,
    "on-primary-container": $on-primary-container-dark-rgb,
    "secondary": $secondary-dark-rgb,
    "on-secondary": $on-secondary-dark-rgb,
    "secondary-container": $secondary-container-dark-rgb,
    "on-secondary-container": $on-secondary-container-dark-rgb,
    "surface-dim": $surface-dim-dark-rgb,
    "surface": $surface-dark-rgb,
    "surface-bright": $surface-bright-dark-rgb,
    "on-surface": $on-surface-dark-rgb,
    "on-surface-variant": $on-surface-variant-dark-rgb,
    "surface-container-lowest": $surface-container-lowest-dark-rgb,
    "surface-container-low": $surface-container-low-dark-rgb,
    "surface-container": $surface-container-dark-rgb,
    "surface-container-high": $surface-container-high-dark-rgb,
    "surface-container-highest": $surface-container-highest-dark-rgb,
    "outline": $outline-dark-rgb,
    "outline-variant": $outline-variant-dark-rgb,
) !default;

$scrim: ref.$neutral0 !default;
$scrim-rgb: fn.to-rgb($scrim) !default;

$scrims: (
    "scrim": $scrim,
    "scrim-rgb": $scrim-rgb,
) !default;

$shadow: ref.$neutral0 !default;
$shadow-rgb: fn.to-rgb($shadow) !default;

$shadows: (
    "shadow": $shadow,
    "shadow-rgb": $shadow-rgb,
) !default;

$elevation-level0: 0 0 var(--shadow-rgb) !default;
$elevation-level1:	0 1px 2px 0 rgba(var(--shadow-rgb), 0.05) !default;
$elevation-level2: 0 1px 3px 0 rgba(var(--shadow-rgb), 0.1), 0 1px 2px -1px rgba(var(--shadow-rgb), 0.1) !default;
$elevation-level3: 0 4px 6px -1px rgba(var(--shadow-rgb), 0.1), 0 2px 4px -2px rgba(var(--shadow-rgb), 0.1) !default;
$elevation-level4: 0 10px 15px -3px rgba(var(--shadow-rgb), 0.1), 0 4px 6px -4px rgba(var(--shadow-rgb), 0.1) !default;
$elevation-level5: 0 20px 25px -5px rgba(var(--shadow-rgb), 0.1), 0 8px 10px -6px rgba(var(--shadow-rgb), 0.1) !default;

$elevations: (
    "elevation-level0": $elevation-level0,
    "elevation-level1": $elevation-level1,
    "elevation-level2": $elevation-level2,
    "elevation-level3": $elevation-level3,
    "elevation-level4": $elevation-level4,
    "elevation-level5": $elevation-level5,
) !default;

$state-hover-state-layer-opacity: 0.08 !default;
$state-focus-state-layer-opacity: 0.1 !default;
$state-focus-indicator-thickness: 3px !default;
$state-focus-indicator-offset: 2px !default;
$state-press-state-layer-opacity: 0.1 !default;
$state-drag-state-layer-opacity: 0.16 !default;

$states: (
    "state-hover-state-layer-opacity": $state-hover-state-layer-opacity,
    "state-focus-state-layer-opacity": $state-focus-state-layer-opacity,
    "state-focus-indicator-thickness": $state-focus-indicator-thickness,
    "state-focus-indicator-offset": $state-focus-indicator-offset,
    "state-press-state-layer-opacity": $state-press-state-layer-opacity,
    "state-drag-state-layer-opacity": $state-drag-state-layer-opacity,
) !default;

$typescale-display-large-font: ref.$typeface-brand !default;
$typescale-display-large-font-weight: 400 !default;
$typescale-display-large-font-size: 57pt !default;
$typescale-display-large-font-tracking: -0.25pt !default;
$typescale-display-large-line-height: 64pt !default;
$typescale-display-medium-font: ref.$typeface-brand !default;
$typescale-display-medium-font-weight: 400 !default;
$typescale-display-medium-font-size: 45pt !default;
$typescale-display-medium-font-tracking: 0pt !default;
$typescale-display-medium-line-height: 52pt !default;
$typescale-display-small-font: ref.$typeface-brand !default;
$typescale-display-small-font-weight: 400 !default;
$typescale-display-small-font-size: 36pt !default;
$typescale-display-small-font-tracking: 0pt !default;
$typescale-display-small-line-height: 44pt !default;
$typescale-headline-large-font: ref.$typeface-brand !default;
$typescale-headline-large-font-weight: 400 !default;
$typescale-headline-large-font-size: 32pt !default;
$typescale-headline-large-font-tracking: 0pt !default;
$typescale-headline-large-line-height: 40pt !default;
$typescale-headline-medium-font: ref.$typeface-brand !default;
$typescale-headline-medium-font-weight: 400 !default;
$typescale-headline-medium-font-size: 28pt !default;
$typescale-headline-medium-font-tracking: 0pt !default;
$typescale-headline-medium-line-height: 36pt !default;
$typescale-headline-small-font: ref.$typeface-brand !default;
$typescale-headline-small-font-weight: 400 !default;
$typescale-headline-small-font-size: 24pt !default;
$typescale-headline-small-font-tracking: 0pt !default;
$typescale-headline-small-line-height: 32pt !default;
$typescale-title-large-font: ref.$typeface-brand !default;
$typescale-title-large-font-weight: 400 !default;
$typescale-title-large-font-size: 22pt !default;
$typescale-title-large-font-tracking: 0pt !default;
$typescale-title-large-line-height: 28pt !default;
$typescale-title-medium-font: ref.$typeface-brand !default;
$typescale-title-medium-font-weight: 500 !default;
$typescale-title-medium-font-size: 16pt !default;
$typescale-title-medium-font-tracking: 0.15pt !default;
$typescale-title-medium-line-height: 24pt !default;
$typescale-title-small-font: ref.$typeface-brand !default;
$typescale-title-small-font-weight: 500 !default;
$typescale-title-small-font-size: 14pt !default;
$typescale-title-small-font-tracking: 0.1pt !default;
$typescale-title-small-line-height: 20pt !default;
$typescale-body-large-font: ref.$typeface-plain !default;
$typescale-body-large-font-weight: 400 !default;
$typescale-body-large-font-size: 16pt !default;
$typescale-body-large-font-tracking: 0.5pt !default;
$typescale-body-large-line-height: 24pt !default;
$typescale-body-medium-font: ref.$typeface-plain !default;
$typescale-body-medium-font-weight: 400 !default;
$typescale-body-medium-font-size: 14pt !default;
$typescale-body-medium-font-tracking: 0.25pt !default;
$typescale-body-medium-line-height: 20pt !default;
$typescale-body-small-font: ref.$typeface-plain !default;
$typescale-body-small-font-weight: 400 !default;
$typescale-body-small-font-size: 12pt !default;
$typescale-body-small-font-tracking: 0.4pt !default;
$typescale-body-small-line-height: 16pt !default;
$typescale-label-large-font: ref.$typeface-plain !default;
$typescale-label-large-font-weight: 500 !default;
$typescale-label-large-font-weight-prominent: 700 !default;
$typescale-label-large-font-size: 14pt !default;
$typescale-label-large-font-tracking: 0.1pt !default;
$typescale-label-large-line-height: 20pt !default;
$typescale-label-medium-font: ref.$typeface-plain !default;
$typescale-label-medium-font-weight: 500 !default;
$typescale-label-medium-font-weight-prominent: 700 !default;
$typescale-label-medium-font-size: 12pt !default;
$typescale-label-medium-font-tracking: 0.5pt !default;
$typescale-label-medium-line-height: 16pt !default;
$typescale-label-medium-text-transform: none !default;
$typescale-label-small-font: ref.$typeface-plain !default;
$typescale-label-small-font-weight: 500 !default;
$typescale-label-small-font-size: 11pt !default;
$typescale-label-small-font-tracking: 0.5pt !default;
$typescale-label-small-line-height: 16pt !default;

$typescale: (
    "typescale-display-large-font": $typescale-display-large-font,
    "typescale-display-large-font-weight": $typescale-display-large-font-weight,
    "typescale-display-large-font-size": $typescale-display-large-font-size,
    "typescale-display-large-font-tracking": $typescale-display-large-font-tracking,
    "typescale-display-large-line-height": $typescale-display-large-line-height,
    "typescale-display-medium-font": $typescale-display-medium-font,
    "typescale-display-medium-font-weight": $typescale-display-medium-font-weight,
    "typescale-display-medium-font-size": $typescale-display-medium-font-size,
    "typescale-display-medium-font-tracking": $typescale-display-medium-font-tracking,
    "typescale-display-medium-line-height": $typescale-display-medium-line-height,
    "typescale-display-small-font": $typescale-display-small-font,
    "typescale-display-small-font-weight": $typescale-display-small-font-weight,
    "typescale-display-small-font-size": $typescale-display-small-font-size,
    "typescale-display-small-font-tracking": $typescale-display-small-font-tracking,
    "typescale-display-small-line-height": $typescale-display-small-line-height,
    "typescale-headline-large-font": $typescale-headline-large-font,
    "typescale-headline-large-font-weight": $typescale-headline-large-font-weight,
    "typescale-headline-large-font-size": $typescale-headline-large-font-size,
    "typescale-headline-large-font-tracking": $typescale-headline-large-font-tracking,
    "typescale-headline-large-line-height": $typescale-headline-large-line-height,
    "typescale-headline-medium-font": $typescale-headline-medium-font,
    "typescale-headline-medium-font-weight": $typescale-headline-medium-font-weight,
    "typescale-headline-medium-font-size": $typescale-headline-medium-font-size,
    "typescale-headline-medium-font-tracking": $typescale-headline-medium-font-tracking,
    "typescale-headline-medium-line-height": $typescale-headline-medium-line-height,
    "typescale-headline-small-font": $typescale-headline-small-font,
    "typescale-headline-small-font-weight": $typescale-headline-small-font-weight,
    "typescale-headline-small-font-size": $typescale-headline-small-font-size,
    "typescale-headline-small-font-tracking": $typescale-headline-small-font-tracking,
    "typescale-headline-small-line-height": $typescale-headline-small-line-height,
    "typescale-title-large-font": $typescale-title-large-font,
    "typescale-title-large-font-weight": $typescale-title-large-font-weight,
    "typescale-title-large-font-size": $typescale-title-large-font-size,
    "typescale-title-large-font-tracking": $typescale-title-large-font-tracking,
    "typescale-title-large-line-height": $typescale-title-large-line-height,
    "typescale-title-medium-font": $typescale-title-medium-font,
    "typescale-title-medium-font-weight": $typescale-title-medium-font-weight,
    "typescale-title-medium-font-size": $typescale-title-medium-font-size,
    "typescale-title-medium-font-tracking": $typescale-title-medium-font-tracking,
    "typescale-title-medium-line-height": $typescale-title-medium-line-height,
    "typescale-title-small-font": $typescale-title-small-font,
    "typescale-title-small-font-weight": $typescale-title-small-font-weight,
    "typescale-title-small-font-size": $typescale-title-small-font-size,
    "typescale-title-small-font-tracking": $typescale-title-small-font-tracking,
    "typescale-title-small-line-height": $typescale-title-small-line-height,
    "typescale-body-large-font": $typescale-body-large-font,
    "typescale-body-large-font-weight": $typescale-body-large-font-weight,
    "typescale-body-large-font-size": $typescale-body-large-font-size,
    "typescale-body-large-font-tracking": $typescale-body-large-font-tracking,
    "typescale-body-large-line-height": $typescale-body-large-line-height,
    "typescale-body-medium-font": $typescale-body-medium-font,
    "typescale-body-medium-font-weight": $typescale-body-medium-font-weight,
    "typescale-body-medium-font-size": $typescale-body-medium-font-size,
    "typescale-body-medium-font-tracking": $typescale-body-medium-font-tracking,
    "typescale-body-medium-line-height": $typescale-body-medium-line-height,
    "typescale-body-small-font": $typescale-body-small-font,
    "typescale-body-small-font-weight": $typescale-body-small-font-weight,
    "typescale-body-small-font-size": $typescale-body-small-font-size,
    "typescale-body-small-font-tracking": $typescale-body-small-font-tracking,
    "typescale-body-small-line-height": $typescale-body-small-line-height,
    "typescale-label-large-font": $typescale-label-large-font,
    "typescale-label-large-font-weight": $typescale-label-large-font-weight,
    "typescale-label-large-font-weight-prominent": $typescale-label-large-font-weight-prominent,
    "typescale-label-large-font-size": $typescale-label-large-font-size,
    "typescale-label-large-font-tracking": $typescale-label-large-font-tracking,
    "typescale-label-large-line-height": $typescale-label-large-line-height,
    "typescale-label-medium-font": $typescale-label-medium-font,
    "typescale-label-medium-font-weight": $typescale-label-medium-font-weight,
    "typescale-label-medium-font-weight-prominent": $typescale-label-medium-font-weight-prominent,
    "typescale-label-medium-font-size": $typescale-label-medium-font-size,
    "typescale-label-medium-font-tracking": $typescale-label-medium-font-tracking,
    "typescale-label-medium-line-height": $typescale-label-medium-line-height,
    "typescale-label-medium-text-transform": $typescale-label-medium-text-transform,
    "typescale-label-small-font": $typescale-label-small-font,
    "typescale-label-small-font-weight": $typescale-label-small-font-weight,
    "typescale-label-small-font-size": $typescale-label-small-font-size,
    "typescale-label-small-font-tracking": $typescale-label-small-font-tracking,
    "typescale-label-small-line-height": $typescale-label-small-line-height,
) !default;

$shape-corner-none: 0px !default;
$shape-corner-extra-small: 0.125rem !default;
$shape-corner-small: 0.25rem !default;
$shape-corner-medium: 0.375rem !default;
$shape-corner-large: 0.5rem !default;
$shape-corner-extra-large: 0.75 !default;
$shape-corner-full: 9999px !default;

$shape: (
    "shape-corner-none": $shape-corner-none,
    "shape-corner-extra-small": $shape-corner-extra-small,
    "shape-corner-small": $shape-corner-small,
    "shape-corner-medium": $shape-corner-medium,
    "shape-corner-large": $shape-corner-large,
    "shape-corner-extra-large": $shape-corner-extra-large,
    "shape-corner-full": $shape-corner-full,
) !default;