@use "../uicomponents/components";

.table {
    width: 100%;
    border: 1px solid var(--system-color-outline-variant);
    border-collapse: collapse;
}

%cell {
    padding: {
        top: 0.5rem;
        bottom: 0.5rem;
    };
}

.table > thead > tr {
    height: 4rem;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--system-color-on-secondary);

    & > th {
        @extend %cell;
        background-color: var(--system-color-secondary);
        position: sticky;
        top: 0;

        & > .description {
            width: 100%;
            padding: {
                left: 1rem;
                right: 1rem;
            };
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            white-space: nowrap;
        }

        & > .currency {
            width: 100%;
            padding: {
                left: 1rem;
                right: 1rem;
            };
            display: inline-block;
            vertical-align: middle;
            text-align: end;
            white-space: nowrap;
        }
    }

    & > .selection {
        position: sticky;
        left: 0;
        z-index: 1;
    }
}

.table > tbody > tr {
    height: var(--system-spacer2);
  
    &:nth-of-type(odd) {
        color: var(--system-color-on-surface);

        & > td {
            background: var(--system-color-surface-container);
        }
    }

    & > td {
        @extend %cell;
        background-color: var(--system-color-primary-container);

        & > .checkbox-container {
            vertical-align: middle;
            text-align: center;
        }

        & > .description {
            width: 100%;
            padding: {
                left: 1rem;
                right: 1rem;
            };
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            white-space: nowrap;

            & > a, button {
                display: inline-block;
            }
        }

        & > .currency {
            width: 100%;
            padding: {
                left: 1rem;
                right: 1rem;
            };
            display: inline-block;
            vertical-align: middle;
            text-align: end;
            white-space: nowrap;
        }
    }

    & > .selection {
        position: sticky;
        left: 0;
        z-index: 1;
    }
}