$typeface-brand: "'Roboto', sans-serif" !default;
$typeface-plain: "'Roboto', sans-serif" !default;

$typefaces: (
    "typeface-brand": $typeface-brand,
    "typeface-plain": $typeface-plain,
) !default;