@use "../component-tokens" as comp;

.button.filled {
    @each $key, $value in comp.$button-filled {
        --#{$key}: #{$value};
    }
    --container-shape: var(--button-filled-container-shape);
    --container-height: var(--button-filled-container-height);
    --container-elevation: var(--button-filled-container-elevation);
    --container-color: var(--button-filled-container-color);
    --focus-indicator-style: none;
    --focus-indicator-color: unset;
    --focus-indicator-width: unset;
    --focus-indicator-offset: unset;
    --label-font: var(--button-filled-label-font);
    --label-line-height: var(--button-filled-label-line-height);
    --label-size: var(--button-filled-label-size);
    --label-weight: var(--button-filled-label-weight);
    --label-tracking: var(--button-filled-label-tracking);
    --label-color: var(--button-filled-label-color);
    --state-layer-color: transparent;
    --icon-width: var(--button-filled-icon-size);
    --icon-height: var(--button-filled-icon-size);
    --icon-color: var(--button-filled-icon-color);
    
    &:hover {
        @each $key, $value in comp.$button-filled-hover {
            --#{$key}: #{$value};
        }
        --state-layer-color: rgba(var(--button-filled-state-layer-color-rgb), var(--button-filled-state-layer-opacity));
    }
    
    &:focus {
        @each $key, $value in comp.$button-filled-focus {
            --#{$key}: #{$value};
        }
        --state-layer-color: rgba(var(--button-filled-state-layer-color-rgb), var(--button-filled-state-layer-opacity));

        --focus-indicator-style: solid;
        --focus-indicator-color: var(--button-filled-indicator-color);
        --focus-indicator-width: var(--button-filled-indicator-thickness);
        --focus-indicator-offset: var(--button-filled-indicator-offset);
    }
    
    &:active {
        @each $key, $value in comp.$button-filled-pressed {
            --#{$key}: #{$value};
        }
        --state-layer-color: rgba(var(--button-filled-state-layer-color-rgb), var(--button-filled-state-layer-opacity));

        --focus-indicator-style: none;
        --focus-indicator-color: unset;
        --focus-indicator-width: unset;
        --focus-indicator-offset: unset;
    }
    
    &:disabled {
        @each $key, $value in comp.$button-filled-disabled {
            --#{$key}: #{$value};
        }
        --container-color: rgba(var(--button-filled-container-color-rgb), var(--button-filled-container-opacity));
        --label-color: rgba(var(--button-filled-label-color-rgb), var(--button-filled-label-opacity));
        --stater-layer-color: transparent;
    }
}