.card {
    background-color: none;
    border: none;
    outline: none;
    box-shadow: none;

    & > .container {
        height: 100%;
        background-color: var(--container-color);
        box-shadow: var(--container-elevation);
        border-radius: var(--container-shape);
        outline: {
            style: var(--focus-indicator-style);
            color: var(--focus-indicator-color);
            width: var(--focus-indicator-width);
            offset: var(--focus-indicator-offset);
        };

        & > .state-layer {
            height: 100%;
            background-color: var(--state-layer-color);
            border-radius: var(--state-layer-shape);

            & > .content {
                height: 100%;
                border-radius: var(--content-shape);
                padding: {
                    left: 1rem;
                    right: 1rem;
                }

                & svg {
                    color: var(--icon-color);
                    width: var(--icon-width);
                    height: var(--icon-height);
                }
            }
        }
    }
}