@use "../component-tokens" as comp;

.card.outlined {
    @each $key, $value in comp.$card-outlined {
        --#{$key}: #{$value};
    }
    --container-color: var(--card-outlined-container-color);
    --container-shape: var(--card-outlined-container-shape);
    --container-elevation: var(--card-outlined-container-elevation);
    --outline-width: var(--card-outlined-outline-width);
    --outline-color: var(--card-outlined-outline-color);
    --focus-indicator-style: none;
    --focus-indicator-color: unset;
    --focus-indicator-width: unset;
    --focus-indicator-offset: unset;
    --icon-color: var(--card-outlined-icon-color);
    --icon-width: var(--card-outlined-icon-size);
    --icon-height: var(--card-outlined-icon-size);
    --state-layer-color: transparent;
    --state-layer-shape: var(--card-outlined-container-shape);
    --content-shape: var(--card-outlined-container-shape);

    &:hover {
        @each $key, $value in comp.$card-outlined-hover {
            --#{$key}: #{$value};
        }
        --state-layer-color: rgba(var(--card-outlined-state-layer-color-rgb), var(--card-outlined-state-layer-opacity));
    }

    &:focus {
        @each $key, $value in comp.$card-outlined-focus {
            --#{$key}: #{$value};
        }
        --focus-indicator-style: solid;
        --focus-indicator-color: var(--card-outlined-focus-indicator-color);
        --focus-indicator-width: var(--card-outlined-focus-indicator-thickness);
        --focus-indicator-offset: var(--card-outlined-focus-indicator-offset);
        --state-layer-color: rgba(var(--card-outlined-state-layer-color-rgb), var(--card-outlined-state-layer-opacity));
    }

    &:active {
        @each $key, $value in comp.$card-outlined-pressed {
            --#{$key}: #{$value};
        }
        --focus-indicator-style: none;
        --focus-indicator-color: unset;
        --focus-indicator-width: unset;
        --focus-indicator-offset: unset;
        --state-layer-color: rgba(var(--card-outlined-state-layer-color-rgb), var(--card-outlined-state-layer-opacity));
    }

    &:disabled {
        @each $key, $value in comp.$card-outlined-disabled {
            --#{$key}: #{$value};
        }
        --outline-color: rgba(var(--card-outlined-outline-color), var(--card-outlined-outline-opacity));
    }
}