@use "../mixins";

.card-filled {
    --container-color: var(--component-card-filled-container-color);
    --container-shape: var(--component-card-filled-container-shape);
    --container-elevation: var(--component-card-filled-container-elevation);
    --focus-indicator-style: none;
    --focus-indicator-color: unset;
    --focus-indicator-width: unset;
    --focus-indicator-offset: unset;
    --icon-color: var(--component-card-filled-icon-color);
    --icon-width: var(--component-card-filled-icon-size);
    --icon-height: var(--component-card-filled-icon-size);
    --state-layer-color: transparent;
    --state-layer-shape: var(--component-card-filled-container-shape);
    --content-shape: var(--component-card-filled-container-shape);

    &:hover {
        --container-elevation: var(--component-card-filled-hover-container-elevation);
        --state-layer-color: rgba(var(--component-card-filled-hover-state-layer-color-rgb), var(--component-card-filled-hover-state-layer-opacity));
    }

    &:focus {
        --focus-indicator-style: solid;
        --focus-indicator-color: var(--component-card-filled-focus-indicator-color);
        --focus-indicator-width: var(--component-card-filled-focus-indicator-thickness);
        --focus-indicator-offset: var(--component-card-filled-focus-indicator-offset);
        --container-elevation: var(--component-card-filled-focus-container-elevation);
        --state-layer-color: rgba(var(--component-card-filled-focus-state-layer-color-rgb), var(--component-card-filled-focus-state-layer-opacity));
    }

    &:active {
        --focus-indicator-style: none;
        --focus-indicator-color: unset;
        --focus-indicator-width: unset;
        --focus-indicator-offset: unset;
        --container-elevation: var(--component-card-filled-pressed-container-elevation);
        --state-layer-color: rgba(var(--component-card-filled-pressed-state-layer-color-rgb), var(--component-card-filled-pressed-state-layer-opacity));
    }

    &:disabled {
        --container-elevation: var(--component-card-filled-disabled-container-elevation);
        --container-color: rgba(var(--component-card-filled-disabled-container-color-rgb), var(--component-card-filled-disabled-container-opacity));
    }

    @include mixins.card;
}