.checkbox {
    --container-width: var(--component-checkbox-container-width);
    --container-height: var(--component-checkbox-container-height);
    --container-shape: var(--component-checkbox-container-shape);
    --outline-color: var(--component-checkbox-unselected-outline-color);
    --outline-width: var(--component-checkbox-unselected-outline-width);
    --icon-width: var(--component-checkbox-icon-width);
    --icon-height: var(--component-checkbox-icon-height);
    --icon-color: var(--component-checkbox-unselected-icon-color);
    --state-layer-width: var(--component-checkbox-state-layer-size);
    --state-layer-height: var(--component-checkbox-state-layer-size);
    --state-layer-shape: var(--component-checkbox-state-layer-shape);

    &:hover {
        --outline-color: var(--component-checkbox-unselected-hover-outline-color);
        --outline-width: var(--component-checkbox-unselected-hover-outline-width);
        --state-layer-color: rgb(var(--component-checkbox-unselected-hover-state-layer-color-rgb), var(--component-checkbox-unselected-hover-state-layer-opacity));
        --icon-color: var(--component-checkbox-unselected-hover-icon-color);
    }

    &:focus-within {
        --focus-indicator-style: solid;
        --focus-indicator-color: var(--component-button-filled-focus-indicator-color);
        --focus-indicator-width: var(--component-button-filled-focus-indicator-thickness);
        --focus-indicator-offset: var(--component-button-filled-focus-indicator-offset);
        --outline-color: var(--component-checkbox-unselected-focus-outline-color);
        --outline-width: var(--component-checkbox-unselected-focus-outline-width);
        --state-layer-color: rgb(var(--component-checkbox-unselected-focus-state-layer-color-rgb), var(--component-checkbox-unselected-focus-state-layer-opacity));
        --icon-color: var(--component-checkbox-unselected-focus-icon-color);
    }

    &:active {
        --outline-color: var(--component-checkbox-unselected-pressed-outline-color);
        --outline-width: var(--component-checkbox-unselected-pressed-outline-width);
        --state-layer-color: rgb(var(--component-checkbox-unselected-pressed-state-layer-color-rgb), var(--component-checkbox-unselected-pressed-state-layer-opacity));
        --icon-color: var(--component-checkbox-unselected-pressed-icon-color);
    }

    &.error {
        --outline-color: var(--component-checkbox-unselected-error-outline-color);

        &:hover {
            --outline-color: var(--component-checkbox-unselected-error-hover-outline-color);
            --outline-width: var(--component-checkbox-unselected-error-hover-outline-width);
            --state-layer-color: rgb(var(--component-checkbox-error-hover-state-layer-color-rgb), var(--component-checkbox-error-hover-state-layer-opacity));
        }

        &:focus-within {
            --outline-color: var(--component-checkbox-unselected-error-focus-outline-color);
            --outline-width: var(--component-checkbox-unselected-error-focus-outline-width);
            --state-layer-color: rgb(var(--component-checkbox-error-focus-state-layer-color-rgb), var(--component-checkbox-error-focus-state-layer-opacity));
        }

        &:active {
            --outline-color: var(--component-checkbox-unselected-error-pressed-outline-color);
            --outline-width: var(--component-checkbox-unselected-error-pressed-outline-width);
            --state-layer-color: rgb(var(--component-checkbox-error-pressed-state-layer-color-rgb), var(--component-checkbox-error-pressed-state-layer-opacity));
        }
    }

    &.indeterminate,
    &.checked {
        --container-color: var(--component-checkbox-selected-container-color);
        --outline-width: var(--component-checkbox-selected-outline-width);
        --icon-color: var(--component-checkbox-selected-icon-color);

        &:hover {
            --container-color: var(--component-checkbox-selected-hover-container-color);
            --outline-width: var(--component-checkbox-selected-hover-outline-width);
            --state-layer-color: rgb(var(--component-checkbox-selected-hover-state-layer-color-rgb), var(--component-checkbox-selected-hover-state-layer-opacity));
            --icon-color: var(--component-checkbox-selected-hover-icon-color);
        }

        &:focus-within {
            --container-color: var(--component-checkbox-selected-focus-container-color);
            --outline-width: var(--component-checkbox-selected-focus-outline-width);
            --state-layer-color: rgb(var(--component-checkbox-selected-focus-state-layer-color-rgb), var(--component-checkbox-selected-focus-state-layer-opacity));
            --icon-color: var(--component-checkbox-selected-focus-icon-color);
        }

        &:active {
            --container-color: var(--component-checkbox-selected-pressed-container-color);
            --outline-width: var(--component-checkbox-selected-pressed-outline-width);
            --state-layer-color: rgb(var(--component-checkbox-selected-pressed-state-layer-color-rgb), var(--component-checkbox-selected-pressed-state-layer-opacity));
            --icon-color: var(--component-checkbox-selected-pressed-icon-color);
        }

        &.error {
            --container-color: var(--component-checkbox-selected-error-container-color);
            --icon-color: var(--component-checkbox-selected-error-icon-color);

            &:hover {
                --container-color: var(--component-checkbox-selected-error-hover-container-color);
                --outline-width: var(--component-checkbox-selected-error-hover-outline-width);
                --icon-color: var(--component-checkbox-selected-error-hover-icon-color);
            }

            &:focus-within {
                --icon-color: var(--component-checkbox-selected-error-focus-icon-color);
            }

            &:active {
                --icon-color: var(--component-checkbox-selected-error-pressed-icon-color);
            }
        }
    }

    &:disabled {
        --outline-color: var(--component-checkbox-unselected-disabled-outline-color);
        --outline-width: var(--component-checkbox-unselected-disabled-outline-width);
        --container-opacity: var(--component-checkbox-unselected-container-opacity);
        --icon-color: rgba(var(--component-checkbox-unselected-disabled-icon-color-rgb), var(--component-checkbox-unselected-disabled-icon-opacity));
        --state-layer-color: unset;

        &.checked {
            --container-color: var(--component-checkbox-selected-disabled-container-color);
            --container-opacity: var(--component-checkbox-selected-disabled-container-opacity);
            --outline-width: var(--component-checkbox-selected-disabled-outline-width);
            // --icon-color: var(--component-checkbox-selected-disabled-icon-color);
            --icon-color: rgba(var(--component-checkbox-selected-disabled-icon-color-rgb), var(--component-checkbox-selected-disabled-icon-opacity));
            --state-layer-color: unset;
        }
    }

    width: var(--state-layer-width);
    height: var(--state-layer-height);

    & > .container {
        position: relative;
        width: var(--state-layer-width);
        height: var(--state-layer-height);

        & > .input {
            display: grid;
            place-items: center;
            position: relative;
            width: 100%;
            height: 100%;

            & > input {
                opacity: 0;
                width: var(--container-width);
                height: var(--container-height);
            }
        }

        & > .icon {
            display: grid;
            place-items: center;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            & > svg {
                width: var(--icon-width);
                height: var(--icon-height);
                color: var(--icon-color);
            }
        }

        & > .state-layer {
            display: grid;
            place-items: center;
            position: absolute;
            top: 0;
            left: 0;
            width: var(--state-layer-width);
            height: var(--state-layer-height);
            border-radius: var(--state-layer-shape);
            background-color: var(--state-layer-color);
            outline-style: var(--focus-indicator-style);
            outline-width: var(--focus-indicator-width);
            outline-offset: var(--focus-indicator-offset);
            outline-color: var(--focus-indicator-color);

            & > .check {
                position: relative;
                background-color: var(--container-color);
                opacity: var(--container-opacity);
                width: var(--container-width);
                height: var(--container-height);
                border-radius: var(--container-shape);
                border: var(--outline-width) solid var(--outline-color); 
            }
        }
    }
}