@use "../component-tokens" as comp;

.button.filled {
    @each $key, $value in comp.$filled-button {
        --#{$key}: #{$value};
    }
    --shadow-rgb: var(--filled-button-container-shadow-color-rgb);
    --radius: calc(var(--filled-button-container-height) * 0.5);
    
    &:hover {
        @each $key, $value in comp.$filled-button-hover {
            --#{$key}: #{$value};
        }
    }
    
    &:focus {
        @each $key, $value in comp.$filled-button-focus {
            --#{$key}: #{$value};
        }
    }
    
    &:active {
        @each $key, $value in comp.$filled-button-pressed {
            --#{$key}: #{$value};
        }
    }
    
    &:disabled {
        @each $key, $value in comp.$filled-button-disabled {
            --#{$key}: #{$value};
        }
    }

    border: none;
    background: none;
    min-height: var(--reference-spacer2);
    min-width: var(--reference-spacer2);
    margin: 0;
    padding: 0;
    font-family: var(--filled-button-label-font);
    line-height: var(--filled-button-label-line-height);
    font-size: var(--filled-button-label-size);
    font-weight: var(--filled-button-label-weight);
    letter-spacing: var(--filled-button-label-tracking);
    color: rgba(var(--filled-button-label-color-rgb, var(--filled-button-label-opacity)));

    & > .container {
        position: relative;
        border-radius: var(--filled-button-container-shape);
        height: var(--filled-button-container-height);
        box-shadow: var(--filled-button-container-elevation);
        background-color: rgba(var(--filled-button-container-color-rgb), var(--filled-button-container-opacity));
        // overflow: hidden;

        & > .state-layer {
            display: grid;
            place-items: center;
            padding: {
                left: var(--reference-padding4);
                right: var(--reference-padding4);
            };
            height: 100%;
            background-color: rgba(var(--filled-button-state-layer-color-rgb), var(--filled-button-state-layer-opacity));
            border-radius: var(--filled-button-container-shape);

            & > .label {
                padding: {
                    left: var(--reference-padding2);
                    right: var(--reference-padding2);
                }
            }
        }
    }
}