.menu {
    --container-color: var(--component-menu-container-color);
    --container-elevation: var(--component-menu-container-elevation);
    --container-shape: var(--component-menu-container-shape);
    --list-item-container-height: var(--component-menu-list-item-container-height);
    --list-item-label-color: var(--component-menu-list-item-label-color);
    --list-item-label-font: var(--component-menu-list-item-label-font);
    --list-item-label-line-height: var(--component-menu-list-item-label-line-height);
    --list-item-label-size: var(--component-menu-list-item-label-size);
    --list-item-label-tracking: var(--component-menu-list-item-label-tracking);
    --list-item-label-weight: var(--component-menu-list-item-label-weight);
    --icon-color: var(--component-menu-icon-color);
    --icon-size: var(--component-menu-icon-size);
    --list-item-leading-icon-size: var(--component-menu-list-item-leading-icon-size);
    --list-item-leading-icon-color: var(--component-menu-list-item-leading-icon-color);
    --list-item-trailing-icon-size: var(--component-menu-list-item-trailing-icon-size);
    --list-item-trailing-icon-color: var(--component-menu-list-item-trailing-icon-color);
    --list-divider-color: var(--component-menu-list-divider-color);
    --list-divider-height: var(--component-menu-list-divider-height);
    
    & > .container > ul > li > .list-item {
        &:hover {
            --list-item-label-color: var(--component-menu-list-item-hover-label-color);
            --list-item-state-layer-color: rgba(var(--component-menu-list-item-hover-state-layer-color-rgb), var(--component-menu-list-item-hover-state-layer-opacity));
            --list-item-leading-icon-color: var(--component-menu-list-item-hover-leading-icon-color);
            --list-item-trailing-icon-color: var(--component-menu-list-item-hover-trailing-icon-color);
        }

        &:focus {
            --focus-indicator-style: solid;
            --focus-indicator-color: var(--component-menu-focus-indicator-color);
            --focus-indicator-width: var(--component-menu-focus-indicator-thickness);
            --focus-indicator-offset: var(--component-menu-focus-indicator-offset);
            --list-item-label-color: var(--component-menu-list-item-focus-label-color);
            --list-item-state-layer-color: rgba(var(--component-menu-list-item-focus-state-layer-color-rgb), var(--component-menu-list-item-focus-state-layer-opacity));
            --list-item-leading-icon-color: var(--component-menu-list-item-focus-leading-icon-color);
            --list-item-trailing-icon-color: var(--component-menu-list-item-focus-trailing-icon-color);
        }

        &:active {
            --list-item-label-color: var(--component-menu-list-item-pressed-label-color);
            --list-item-state-layer-color: rgba(var(--component-menu-list-item-pressed-state-layer-color-rgb), var(--component-menu-list-item-pressed-state-layer-opacity));
            --list-item-leading-icon-color: var(--component-menu-list-item-pressed-leading-icon-color);
            --list-item-trailing-icon-color: var(--component-menu-list-item-pressed-trailing-icon-color);
        }

        &.select {
            --list-item-container-color: var(--component-menu-list-item-selected-container-color);
            --list-item-label-color: var(--component-menu-list-item-selected-label-color);
            --list-item-leading-icon-color: var(--component-menu-list-item-selected-leading-icon-color);
            --list-item-trailing-icon-color: var(--component-menu-list-item-selected-trailing-icon-color);
        }

        &:disabled {
            --list-item-label-color: rgba(var(--component-menu-list-item-disabled-label-color-rgb), var(--component-menu-list-item-disabled-label-opacity));
            --list-item-leading-icon-color: rgba(var(--component-menu-list-item-disabled-leading-icon-color), var(--component-menu-list-item-disabled-leading-icon-opacity));
            --list-item-trailing-icon-color: rgba(from var(--component-menu-list-item-disabled-trailing-icon-color), var(--component-menu-list-item-disabled-trailing-icon-opacity));
        }
    } 

    min-width: 7rem;
    max-width: 17.5rem;

    & > .container {
        box-shadow: var(--container-elevation);
        border-radius: var(--container-shape);
        background-color: var(--container-color);
        padding: {
            top: 0.5rem;
            bottom: 0.5rem;
        };

        & > ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            & > li {
                & > hr {
                    color: var(--list-divider-color);
                    height: var(--list-divider-height);
                    margin: 0;
                }

                & > .list-item {
                    position: relative;
                    width: 100%;
                    height: var(--list-item-container-height);
                    padding: {
                        top: 0;
                        bottom: 0;
                        left: 0.75rem;
                        right: 0.75rem;
                    };
                    background-color: var(--list-item-container-color);
                    border: none;
                    outline: none;
                    box-shadow: none;
                    text-align: left;
                    outline: {
                        style: var(--focus-indicator-style);
                        color: var(--focus-indicator-color);
                        width: var(--focus-indicator-width);
                        offset: var(--focus-indicator-offset);
                    };

                    & > .label {
                        position: relative;
                        color: var(--list-item-label-color);
                        font-family: var(--list-item-label-font);
                        line-height: var(--list-item-label-line-height);
                        font-size: var(--list-item-label-size);
                        font-weight: var(--list-item-label-weight);
                        letter-spacing: var(--list-item-label-tracking);
                    }

                    & > .leading-icon {
                        position: relative;
                        padding-right: 0.75rem;

                        & > svg {
                            color: var(--list-item-leading-icon-color);
                            width: var(--icon-size);
                            height: var(--icon-size);
                        }
                    }

                    & > .trailing-icon {
                        position: relative;
                        padding-left: 0.75rem;

                        & > svg {
                            color: var(--list-item-trailing-icon-color);
                            width: var(--icon-size);
                            height: var(--icon-size);
                        }   
                    }

                    & > .decorator {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;

                        & > .state-layer {
                            background-color: var(--list-item-state-layer-color);
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}