.navigation-drawer {
    --container-color: var(--component-navigation-drawer-container-color);
    --container-shape: var(--component-navigation-drawer-container-shape);
    --container-width: var(--component-navigation-drawer-container-width);
    --container-height: var(--component-navigation-drawer-container-height);
    --headline-color: var(--component-navigation-drawer-headline-color);
    --headline-font: var(--component-navigation-drawer-headline-font);
    --headline-line-height: var(--component-navigation-drawer-headline-line);
    --headline-size: var(--component-navigation-drawer-headline-size);
    --headline-tracking: var(--component-navigation-drawer-headline-tracking);
    --headline-weight: var(--component-navigation-drawer-headline-weight);
    --headline-height: var(--component-navigation-drawer-active-indicator-height);
    --divider-color: var(--component-navigation-drawer-divider-color);

    &.modal {
        --container-color: var(--component-navigation-drawer-modal-container-color);
        --container-elevation: var(--component-navigation-drawer-modal-container-elevation);
    }

    &.standard {
        --container-color: var(--component-navigation-drawer-standard-container-color);
        --container-elevation: var(--component-navigation-drawer-standard-container-color);
    }

    & .navigation-button {
        --navigation-button-container-color: transparent;
        --navigation-button-container-width: var(--component-navigation-drawer-active-indicator-width);
        --navigation-button-container-height: var(--component-navigation-drawer-active-indicator-height); 
        --navigation-button-container-shape: var(--component-navigation-drawer-active-indicator-shape);
        --focus-indicator-style: none;
        --focus-indicator-color: unset;
        --focus-indicator-width: unset;
        --focus-indicator-offset: unset;
        --label-color: var(--component-navigation-drawer-inactive-label-color);
        --label-font: var(--component-navigation-drawer-label-font);
        --label-line-height: var(--component-navigation-drawer-label-line-height);
        --label-size: var(--component-navigation-drawer-label-size);
        --label-tracking: var(--component-navigation-drawer-label-tracking);
        --label-weight: var(--component-navigation-drawer-label-weight);
        --icon-color: var(--component-navigation-drawer-inactive-icon-color);
        --icon-width: var(--component-navigation-drawer-icon-size);
        --icon-height: var(--component-navigation-drawer-icon-size);
        --active-indicator-color: transparent;
        --active-indicator-width: var(--component-navigation-drawer-active-indicator-width);
        --active-indicator-height: var(--component-navigation-drawer-active-indicator-height);
        --active-indicator-shape: var(--component-navigation-drawer-active-indicator-shape);
        --state-layer-color: transparent;
        --state-layer-width: var(--component-navigation-drawer-active-indicator-width);
        --state-layer-height: var(--component-navigation-drawer-active-indicator-height);
        --state-layer-shape: var(--component-navigation-drawer-active-indicator-shape);

        &.active {
            --label-color: var(--component-navigation-drawer-active-label-color);
            --icon-color: var(--component-navigation-drawer-active-icon-color);
            --active-indicator-color: var(--component-navigation-drawer-active-indicator-color);
        }
    
        &:hover {
            --state-layer-color: rgba(var(--component-navigation-drawer-inactive-hover-state-layer-color-rgb), var(--component-navigation-drawer-hover-state-layer-opacity));
            --label-color: var(--component-navigation-drawer-inactive-hover-label-color);
            --icon-color: var(--component-navigation-drawer-inactive-hover-icon-color);
            &.active {
                --state-layer-color: rgba(var(--component-navigation-drawer-active-hover-state-layer-color-rgb), var(--component-navigation-drawer-hover-state-layer-opacity));
                --label-color: var(--component-navigation-drawer-active-hover-label-color);
                --icon-color: var(--component-navigation-drawer-active-hover-icon-color);
            }
        }
    
        &:focus {
            --focus-indicator-style: solid;
            --focus-indicator-color: var(--component-navigation-drawer-focus-indicator-color);
            --focus-indicator-width: var(--component-navigation-drawer-focus-indicator-thickness);
            --focus-indicator-offset: var(--component-navigation-drawer-focus-indicator-offset);
            --state-layer-color: rgba(var(--component-navigation-drawer-inactive-focus-state-layer-color-rgb), var(--component-navigation-drawer-focus-state-layer-opacity));
            --label-color: var(--component-navigation-drawer-inactive-focus-label-color);
            --icon-color: var(--component-navigation-drawer-inactive-focus-icon-color);
            &.active {
                --state-layer-color: rgba(var(--component-navigation-drawer-active-focus-state-layer-color-rgb), var(--component-navigation-drawer-focus-state-layer-opacity));
                --label-color: var(--component-navigation-drawer-active-focus-label-color);
                --icon-color: var(--component-navigation-drawer-active-focus-icon-color);
            }
        }
    
        &:active {
            --focus-indicator-style: none;
            --focus-indicator-color: unset;
            --focus-indicator-width: unset;
            --focus-indicator-offset: unset;
            --state-layer-color: rgba(var(--component-navigation-drawer-inactive-pressed-state-layer-color-rgb), var(--component-navigation-drawer-pressed-state-layer-opacity));
            --label-color: var(--component-navigation-drawer-inactive-pressed-label-color);
            --icon-color: var(--component-navigation-drawer-inactive-pressed-icon-color);
            &.active {
                --state-layer-color: rgba(var(--component-navigation-drawer-active-pressed-state-layer-color-rgb), var(--component-navigation-drawer-pressed-state-layer-opacity));
                --label-color: var(--component-navigation-drawer-active-pressed-label-color);
                --icon-color: var(--component-navigation-drawer-active-pressed-icon-color);
            }
        }
    }

    & ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    background-color: var(--container-color);
    box-shadow: var(--container-elevation);
    width: var(--container-width);
    height: var(--container-height);
    border-radius: var(--container-shape);

    & > :first-child {
        padding-top: 1rem;
    }

    & hr {
        color: var(--divider-color);
        margin: {
            top: 0;
            bottom: 0;
            left: 1.75rem;
            right: 1.75rem;
        };
    }

    & > .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: var(--headline-height);
        padding: {
            left: 1.75rem;
            right: 1.75rem;
        };
    }
    
    & .headline {
        color: var(--headline-color);
        font-family: var(--headline-font);
        line-height: var(--headline-line-height);
        font-size: var(--headline-size);
        letter-spacing: var(--headline-tracking);
        font-weight: var(--headline-weight);
        height: var(--headline-height);
        margin: 0;
        padding: {
            left: 1.75rem;
            right: 1.75rem;
        };
    }

    & > .header > .headline {
        height: auto;
        padding: {
            left: 0;
            right: 0.75rem;
        };
    }

    & .navigation-button {
        display: block;
        background: none;
        border: none;
        outline: none;
        box-shadow: none;
        text-decoration: none;
        min-height: var(--system-spacer2);
        min-width: var(--system-spacer2);
        padding: {
            left: 0.75rem;
            right: 0.75rem;
        };

        & > .container {
            background-color: var(--navigation-button-container-color);
            width: var(--navigation-button-container-width);
            height: var(--navigation-button-container-height);
            border-radius: var(--navigation-button-container-shape);
            overflow: hidden;
            outline: {
                style: var(--focus-indicator-style);
                color: var(--focus-indicator-color);
                width: var(--focus-indicator-width);
                offset: var(--focus-indicator-offset);
            };

            & > .active-indicator {
                background-color: var(--active-indicator-color);
                width: var(--active-indicator-width);
                height: var(--active-indicator-height);
                border-radius: var(--active-indicator-shape);
    
                & > .state-layer {
                    background-color: var(--state-layer-color);
                    width: var(--state-layer-width);
                    height: var(--state-layer-height);
                    border-radius: var(--state-layer-shape);
                    
                    & > .content {
                        display: grid;
                        justify-content: left;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        padding: {
                            left: 1rem;
                            right: 0.75rem;
                        };
        
                        & > svg {
                            color: var(--icon-color);
                            width: var(--icon-width);
                            height: var(--icon-height);
                            padding-right: 0.75rem;
                        }
        
                        & > .label {
                            color: var(--label-color);
                            font-family: var(--label-font);
                            line-height: var(--label-line-height);
                            font-size: var(--label-size);
                            letter-spacing: var(--label-tracking);
                            font-weight: var(--label-weight);
                            padding-right: 0.75rem;
                        }
        
                        & > .badge {
                            color: var(--badge-label-color);
                            font-family: var(--badge-label-font);
                            line-height: var(--badge-label-line-height);
                            font-size: var(--badge-label-size);
                            letter-spacing: var(--badge-label-tracking);
                            font-weight: var(--badge-label-weight);
                            padding-right: 0.75rem;
                        }
                    }
                }
            }
        }
    }
}