@use "../component-tokens" as comp;

.navigation-drawer {
    @each $key, $value in comp.$navigation-drawer {
        --#{$key}: #{$value};
    }
    --container-color: var(--navigation-drawer-container-color);
    --container-shape: var(--navigation-drawer-container-shape);
    --container-width: var(--navigation-drawer-container-width);
    --container-height: var(--navigation-drawer-container-height);
    --header-color: var(--navigation-drawer-headline-color);
    --header-font: var(--navigation-drawer-headline-font);
    --header-line-height: var(--navigation-drawer-headline-line);
    --header-size: var(--navigation-drawer-headline-size);
    --header-tracking: var(--navigation-drawer-headline-tracking);
    --header-weight: var(--navigation-drawer-headline-weight);
    --header-width: 100%;
    --header-height: var(--navigation-drawer-active-indicator-height);
    --subheader-color: var(--navigation-drawer-inactive-label-color);
    --subheader-font: var(--navigation-drawer-label-font);
    --subheader-line-height: var(--navigation-drawer-label-line-height);
    --subheader-size: var(--navigation-drawer-label-size);
    --subheader-tracking: var(--navigation-drawer-label-tracking);
    --subheader-weight: var(--navigation-drawer-label-weight);

    &.modal {
        --container-color: var(--navigation-drawer-modal-container-color);
        --container-elevation: var(--navigation-drawer-modal-container-elevation);
    }

    &.standard {
        --container-color: var(--navigation-drawer-standard-container-color);
        --container-elevation: var(--navigation-drawer-standard-container-color);
    }

    & .button {
        --label-color: var(--navigation-drawer-inactive-label-color);
        --label-font: var(--navigation-drawer-label-font);
        --label-line-height: var(--navigation-drawer-label-line-height);
        --label-size: var(--navigation-drawer-label-size);
        --label-tracking: var(--navigation-drawer-label-tracking);
        --label-weight: var(--navigation-drawer-label-weight);
        --icon-color: var(--navigation-drawer-inactive-icon-color);
        --icon-width: var(--navigation-drawer-icon-size);
        --icon-height: var(--navigation-drawer-icon-size);
        --active-indicator-color: transparent;
        --active-indicator-width: var(--navigation-drawer-active-indicator-width);
        --active-indicator-height: var(--navigation-drawer-active-indicator-height);
        --active-indicator-shape: var(--navigation-drawer-active-indicator-shape);
        --state-layer-color: transparent;
        --state-layer-width: var(--navigation-drawer-active-indicator-width);
        --state-layer-height: var(--navigation-drawer-active-indicator-height);
        --state-layer-shape: var(--navigation-drawer-active-indicator-shape);
        --focus-indicator-style: none;
        --focus-indicator-color: unset;
        --focus-indicator-width: unset;
        --focus-indicator-offset: unset;

        &.active {
            --label-color: var(--navigation-drawer-active-label-color);
            --icon-color: var(--navigation-drawer-active-icon-color);
            --active-indicator-color: var(--navigation-drawer-active-indicator-color);
        }
    
        &:hover {
            @each $key, $value in comp.$navigation-drawer-hover {
                --#{$key}: #{$value};
            }
            --state-layer-color: rgba(var(--navigation-drawer-inactive-state-layer-color-rgb), var(--navigation-drawer-state-layer-opacity));
            &.active {
                --state-layer-color: rgba(var(--navigation-drawer-active-state-layer-color-rgb), var(--navigation-drawer-state-layer-opacity));
            }
        }
    
        &:focus {
            @each $key, $value in comp.$navigation-drawer-focus {
                --#{$key}: #{$value};
            }
            --focus-indicator-style: solid;
            --focus-indicator-color: var(--navigation-drawer-indicator-color);
            --focus-indicator-width: var(--navigation-drawer-indicator-thickness);
            --focus-indicator-offset: var(--navigation-drawer-indicator-offset);
            --state-layer-color: rgba(var(--navigation-drawer-inactive-state-layer-color-rgb), var(--navigation-drawer-state-layer-opacity));
            &.active {
                --state-layer-color: rgba(var(--navigation-drawer-active-state-layer-color-rgb), var(--navigation-drawer-state-layer-opacity));
            }
        }
    
        &:active {
            @each $key, $value in comp.$navigation-drawer-pressed {
                --#{$key}: #{$value};
            }
            --focus-indicator-style: none;
            --focus-indicator-color: unset;
            --focus-indicator-width: unset;
            --focus-indicator-offset: unset;
            --state-layer-color: rgba(var(--navigation-drawer-inactive-state-layer-color-rgb), var(--navigation-drawer-state-layer-opacity));
            &.active {
                --state-layer-color: rgba(var(--navigation-drawer-active-state-layer-color-rgb), var(--navigation-drawer-state-layer-opacity));
            }
        }
    }

    background-color: var(--scrim-color);

    & ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    & .container {
        background-color: var(--container-color);
        box-shadow: var(--container-elevation);
        width: var(--container-width);
        height: var(--container-height);
        border-radius: var(--container-shape);
        
        & .header {
            color: var(--header-color);
            font-family: var(--header-font);
            line-height: var(--header-line-height);
            font-size: var(--header-size);
            letter-spacing: var(--header-tracking);
            font-weight: var(--header-weight);
            width: var(--header-width);
            height: var(--header-height);
            padding: {
                left: 1.75rem;
                right: 1.75rem;
            };
        }
    
        & .subheader {
            color: var(--subheader-color);
            font-family: var(--subheader-font);
            line-height: var(--subheader-line-height);
            font-size: var(--subheader-size);
            letter-spacing: var(--subheader-tracking);
            font-weight: var(--subheader-weight);
        }
    
        & .button {
            display: block;
            background: none;
            border: none;
            outline: none;
            box-shadow: none;
            text-decoration: none;
            min-height: var(--reference-spacer2);
            min-width: var(--reference-spacer2);
            padding: {
                left: 0.75rem;
                right: 0.75rem;
            };
    
            & > .active-indicator {
                background-color: var(--active-indicator-color);
                width: var(--active-indicator-width);
                height: var(--active-indicator-height);
                border-radius: var(--active-indicator-shape);
                outline: {
                    style: var(--focus-indicator-style);
                    color: var(--focus-indicator-color);
                    width: var(--focus-indicator-width);
                    offset: var(--focus-indicator-offset);
                };
    
                & > .state-layer {
                    background-color: var(--state-layer-color);
                    width: var(--state-layer-width);
                    height: var(--state-layer-height);
                    border-radius: var(--state-layer-shape);
                    
                    & > .content {
                        display: grid;
                        justify-content: left;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        padding: {
                            left: 1rem;
                            right: 0.75rem;
                        };
        
                        & > svg {
                            color: var(--icon-color);
                            width: var(--icon-width);
                            height: var(--icon-height);
                            padding-right: 0.75rem;
                        }
        
                        & > .label {
                            color: var(--label-color);
                            font-family: var(--label-font);
                            line-height: var(--label-line-height);
                            font-size: var(--label-size);
                            letter-spacing: var(--label-tracking);
                            font-weight: var(--label-weight);
                            padding-right: 0.75rem;
                        }
        
                        & > .badge {
                            color: var(--badge-label-color);
                            font-family: var(--badge-label-font);
                            line-height: var(--badge-label-line-height);
                            font-size: var(--badge-label-size);
                            letter-spacing: var(--badge-label-tracking);
                            font-weight: var(--badge-label-weight);
                            padding-right: 0.75rem;
                        }
                    }
                }
            }
        }
    }
}