.progress-circular {
    --spacing: 0.25rem;
    --size: 3rem;
    --half-size: calc(var(--size) / 2);
    --active-indicator-thickness: 0.25rem;
    --active-indicator-shape: round;
    --active-indicator-color: var(--system-color-primary);
    --active-indicator-radius: calc((var(--size) - var(--active-indicator-thickness)) / 2);
    --active-indicator-circumference: calc(var(--active-indicator-radius) * 2 * pi);
    --active-indicator-progress: 0;
    --active-indicator-dash: calc(var(--active-indicator-circumference) * var(--active-indicator-progress) / 100);
    --track-thickness: 0.25rem;
    --track-shape: round;
    --track-color: var(--system-color-secondary-container);
    --track-radius: calc((var(--size) - var(--track-thickness)) / 2);
    --track-circumference: calc(var(--track-radius) * 2 * pi);
    --track-progress: 100;
    --track-dash: calc(var(--track-circumference) * var(--track-progress) / 100);

    &.small {
      --size: 1.5rem;
    }

    width: var(--size);
    height: var(--size);
    position: relative;
    transform-origin: center;
    animation: 1s linear infinite progress-circular-spin, 2s linear infinite alternate active-indicator-progress;

    & > .track {
        cx: var(--half-size);
        cy: var(--half-size);
        r: var(--track-radius);
        stroke-width: var(--track-thickness);
        stroke-linecap: var(--track-shape); 
        stroke-dasharray: var(--track-dash) calc(var(--track-circumference) - var(--track-dash));
        stroke-dashoffset: calc(var(--spacing) * -2);
        stroke: var(--track-color);   
        fill: none;
        transform-origin: center;
        transform: rotate(180eg);
    }

    & > .active-indicator {
        cx: var(--half-size);
        cy: var(--half-size);
        r: var(--active-indicator-radius);
        stroke-width: var(--active-indicator-thickness);
        stroke-linecap: var(--active-indicator-shape); 
        stroke-dasharray: var(--active-indicator-dash) calc(var(--active-indicator-circumference) - var(--active-indicator-dash));
        stroke: var(--active-indicator-color); 
        fill: none;
        transform-origin: center;
        transform: rotate(270deg);
    }
}

@keyframes progress-circular-spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes active-indicator-progress {
    @for $frame from 1 through 100 {
        #{$frame}#{"%"} {
            --active-indicator-progress: #{$frame};
        }
    }
}