@use "../component-tokens" as comp;

.tab-link-navigation {
    @each $key, $value in comp.$tab-link-navigation {
        --#{$key}: #{$value};
    }
    --container-color: var(--tab-link-navigation-container-color);
    --container-height: var(--tab-link-navigation-container-height);
    --container-shape: var(--tab-link-navigation-container-shape);
    --container-elevation: var(--tab-link-navigation-container-elevation);
    --focus-indicator-style: none;
    --focus-indicator-color: unset;
    --focus-indicator-width: unset;
    --focus-indicator-offset: unset;
    --label-font: var(--tab-link-navigation-label-font);
    --label-line-height: var(--tab-link-navigation-label-line-height);
    --label-size: var(--tab-link-navigation-label-size);
    --label-weight: var(--tab-link-navigation-label-weight);
    --label-tracking: var(--tab-link-navigation-label-tracking);
    --label-color: var(--tab-link-navigation-inactive-label-color);
    --icon-width: var(--tab-link-navigation-icon-size);
    --icon-height: var(--tab-link-navigation-icon-size);
    --icon-color: var(--tab-link-navigation-inactive-icon-color);
    --divider-diplay: none;
    --divider-color: var(--tab-link-navigation-divider-color);
    --divider-height: var(--tab-link-navigation-divider-height);
    --active-indicator-height: var(--tab-link-navigation-container-height);
    --active-indicator-color: transparent;
    --active-indicator-shape: var(--tab-link-navigation-active-indicator-shape);
    --state-layer-height: var(--tab-link-navigation-container-height);
    --state-layer-color: rgba(var(--tab-link-navigation-inactive-state-layer-color-rgb), var(--tab-link-navigation-inactive-state-layer-opacity));
    --content-position: relative;

    &.inline {
        --container-height: var(--tab-link-navigation-inline-container-height);
    }

    &.underline {
        --divider-display: block;
    }

    &.active {
        --label-color: var(--tab-link-navigation-active-label-color);
        --icon-color: var(--tab-link-navigation-active-icon-color);
        --state-layer-color: rgba(var(--tab-link-navigation-active-state-layer-color-rgb), var(--tab-link-navigation-active-state-layer-opacity));
        --active-indicator-color: var(--tab-link-navigation-active-indicator-color);
    }

    &:hover {
        @each $key, $value in comp.$tab-link-navigation-hover {
            --#{$key}: #{$value};
        }
    }

    &:focus {
        @each $key, $value in comp.$tab-link-navigation-focus {
            --#{$key}: #{$value};
        }

        --focus-indicator-style: solid;
        --focus-indicator-color: var(--tab-link-navigation-focus-indicator-color);
        --focus-indicator-width: var(--tab-link-navigation-focus-indicator-thickness);
        --focus-indicator-offset: var(--tab-link-navigation-focus-indicator-offset);
    }

    &:active {
        @each $key, $value in comp.$tab-link-navigation-pressed {
            --#{$key}: #{$value};
        }

        --focus-indicator-style: none;
        --focus-indicator-color: unset;
        --focus-indicator-width: unset;
        --focus-indicator-offset: unset;
    }

    display: block;
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    text-decoration: none;
    min-height: var(--reference-spacer2);
    min-width: var(--reference-spacer2);
    padding: 0;

    & > .container {
        display: block;
        position: relative;
        height: var(--container-height);
        background-color: var(--container-color);
        border-radius: var(--container-shape);
        overflow: hidden;
        text-decoration: none;
        outline: {
            style: var(--focus-indicator-style);
            color: var(--focus-indicator-color);
            width: var(--focus-indicator-width);
            offset: var(--focus-indicator-offset);
        };

        & > .active-indicator {
            height: var(--active-indicator-height);
            background-color: var(--active-indicator-color);
            border-radius: var(--active-indicator-shape);

            & > .state-layer {
                height: var(--state-layer-height);
                background-color: var(--state-layer-color);
                border-radius: var(--state-layer-shape);
                text-decoration: none;
    
                & > .content {
                    position: var(--content-position);
                    display: grid;
                    place-items: center;
                    width: fit-content; 
                    height: 100%;
                    margin: 0 auto;
    
                    & > .label {
                        font-family: var(--label-font);
                        line-height: var(--label-line-height);
                        font-size: var(--label-size);
                        font-weight: var(--label-weight);
                        letter-spacing: var(--label-tracking);
                        color: var(--label-color);
    
                    }
        
                    & > .svg {
                        width: var(--icon-width);
                        height: var(--icon-height);
                        color: var(--icon-color);
                    }
                }
            }
        }
    }
}