@use "../component-tokens" as comp;

.tab.primary-navigation {
    @each $key, $value in comp.$tab-primary-navigation {
        --#{$key}: #{$value};
    }
    --container-color: var(--tab-primary-navigation-container-color);
    --container-height: var(--tab-primary-navigation-container-height);
    --container-shape: var(--tab-primary-navigation-container-shape);
    --container-elevation: var(--tab-primary-navigation-container-elevation);
    --label-font: var(--tab-primary-navigation-label-font);
    --label-line-height: var(--tab-primary-navigation-label-line-height);
    --label-size: var(--tab-primary-navigation-label-size);
    --label-weight: var(--tab-primary-navigation-label-weight);
    --label-tracking: var(--tab-primary-navigation-label-tracking);
    --label-color: var(--tab-primary-navigation-inactive-label-color);
    --icon-width: var(--tab-primary-navigation-icon-size);
    --icon-height: var(--tab-primary-navigation-icon-size);
    --icon-color: var(--tab-primary-navigation-inactive-icon-color);
    --divider-color: var(--tab-primary-navigation-divider-color);
    --divider-height: var(--tab-primary-navigation-divider-height);
    --active-indicator-display: none;
    --active-indicator-height: var(--tab-primary-navigation-active-indicator-height);
    --active-indicator-color: var(--tab-primary-navigation-active-indicator-color);
    --active-indicator-shape: var(--tab-primary-navigation-active-indicator-shape);
    --active-indicator-bottom: calc(var(--tab-primary-navigation-divider-height) * -1);
    --state-layer-width: 100%;
    --state-layer-height: 100%;
    --state-layer-color: rgba(var(--tab-primary-navigation-inactive-state-layer-color-rgb), var(--tab-primary-navigation-inactive-state-layer-opacity));
    --state-layer-shape: var(--tab-primary-navigation-container-shape);
    --content-position: relative;
    --content-height: 100%;
    --content-shape: var(--tab-primary-navigation-container-shape);

    &.inline {
        --container-height: var(--tab-primary-navigation-inline-container-height);
    }

    &.active {
        --label-color: var(--tab-primary-navigation-active-label-color);
        --icon-color: var(--tab-primary-navigation-active-icon-color);
        --state-layer-color: rgba(var(--tab-primary-navigation-active-state-layer-color-rgb), var(--tab-primary-navigation-active-state-layer-opacity));
        --active-indicator-display: block;
    }

    &:hover {
        @each $key, $value in comp.$tab-primary-navigation-hover {
            --#{$key}: #{$value};
        }
    }

    &:focus {
        @each $key, $value in comp.$tab-primary-navigation-focus {
            --#{$key}: #{$value};
        }
    }

    &:active {
        @each $key, $value in comp.$tab-primary-navigation-pressed {
            --#{$key}: #{$value};
        }
    }
}