@use "../component-tokens" as comp;

.tab.secondary-navigation {
    @each $key, $value in comp.$tab-secondary-navigation {
        --#{$key}: #{$value};
    }
    --container-color: var(--tab-secondary-navigation-container-color);
    --container-height: var(--tab-secondary-navigation-container-height);
    --container-shape: var(--tab-secondary-navigation-container-shape);
    --container-elevation: var(--tab-secondary-navigation-container-elevation);
    --label-font: var(--tab-secondary-navigation-label-font);
    --label-line-height: var(--tab-secondary-navigation-label-line-height);
    --label-size: var(--tab-secondary-navigation-label-size);
    --label-weight: var(--tab-secondary-navigation-label-weight);
    --label-tracking: var(--tab-secondary-navigation-label-tracking);
    --label-color: var(--tab-secondary-navigation-inactive-label-color);
    --icon-width: var(--tab-secondary-navigation-icon-size);
    --icon-height: var(--tab-secondary-navigation-icon-size);
    --icon-color: var(--tab-secondary-navigation-inactive-icon-color);
    --divider-color: var(--tab-secondary-navigation-divider-color);
    --divider-height: var(--tab-secondary-navigation-divider-height);
    --active-indicator-display: none;
    --active-indicator-height: var(--tab-secondary-navigation-active-indicator-height);
    --active-indicator-color: var(--tab-secondary-navigation-active-indicator-color);
    --active-indicator-shape: var(--tab-secondary-navigation-active-indicator-shape);
    --active-indicator-bottom: 0;
    --state-layer-width: 100%;
    --state-layer-height: 100%;
    --state-layer-color: rgba(var(--tab-secondary-navigation-state-layer-color-rgb), var(--tab-secondary-navigation-state-layer-opacity));
    --state-layer-shape: var(--tab-secondary-navigation-container-shape);
    --content-position: static;
    --content-height: 100%;
    --content-shape: var(--tab-secondary-navigation-container-shape);

    &.active {
        --label-color: var(--tab-secondary-navigation-active-label-color);
        --icon-color: var(--tab-secondary-navigation-active-icon-color);
        --active-indicator-display: block;
    }

    &:hover {
        @each $key, $value in comp.$tab-secondary-navigation-hover {
            --#{$key}: #{$value};
        }
    }

    &:focus {
        @each $key, $value in comp.$tab-secondary-navigation-focus {
            --#{$key}: #{$value};
        }
    }

    &:active {
        @each $key, $value in comp.$tab-secondary-navigation-pressed {
            --#{$key}: #{$value};
        }
    }
}