$button-filled-container-shape: var(--system-shape-corner-full) !default;
$button-filled-container-height: 2.5rem !default;
$button-filled-container-elevation: var(--system-elevation-level0) !default;
$button-filled-container-color: var(--system-color-primary) !default;
$button-filled-container-shadow-color: var(--system-color-shadow) !default;
$button-filled-container-shadow-color-rgb: var(--system-color-shadow-rgb) !default;
$button-filled-label-font: var(--system-typescale-label-large-font) !default;
$button-filled-label-line-height: var(--system-typescale-label-large-line-height) !default;
$button-filled-label-size: var(--system-typescale-label-large-size) !default;
$button-filled-label-weight: var(--system-typescale-label-large-weight) !default;
$button-filled-label-tracking: var(--system-typescale-label-large-tracking) !default;
$button-filled-label-color: var(--system-color-on-primary) !default;
$button-filled-icon-size: 1.125rem !default;
$button-filled-icon-color: var(--system-color-on-primary) !default;

$button-filled-disabled-container-elevation: var(--system-elevation-level0) !default;
$button-filled-disabled-container-color: var(--system-color-on-surface) !default;
$button-filled-disabled-container-color-rgb: var(--system-color-on-surface-rgb) !default;
$button-filled-disabled-container-opacity: 0.12 !default;
$button-filled-disabled-label-color: var(--system-color-on-primary) !default;
$button-filled-disabled-label-color-rgb: var(--system-color-on-primary-rgb) !default;
$button-filled-disabled-label-opacity: 0.38 !default;
$button-filled-disabled-icon-color: var(--system-color-on-primary) !default;
$button-filled-disabled-icon-color-rgb: var(--system-color-on-primary-rgb) !default;
$button-filled-disabled-icon-opacity: 0.38 !default;

$button-filled-hover-container-elevation: var(--system-elevation-level1) !default;
$button-filled-hover-label-color: var(--system-color-on-primary) !default;
$button-filled-hover-state-layer-color: var(--system-color-on-primary) !default;
$button-filled-hover-state-layer-color-rgb: var(--system-color-on-primary-rgb) !default;
$button-filled-hover-state-layer-opacity: var(--system-state-hover-state-layer-opacity) !default;
$button-filled-hover-icon-color: var(--system-color-on-primary) !default;

$button-filled-focus-indicator-color: var(--system-color-secondary) !default;
$button-filled-focus-indicator-thickness: var(--system-state-focus-indicator-thickness) !default;
$button-filled-focus-indicator-offset: var(--system-state-focus-indicator-offset) !default;
$button-filled-focus-container-elevation: var(--system-elevation-level0) !default;
$button-filled-focus-label-color: var(--system-color-on-primary) !default;
$button-filled-focus-state-layer-color: var(--system-color-on-primary) !default;
$button-filled-focus-state-layer-color-rgb: var(--system-color-on-primary-rgb) !default;
$button-filled-focus-state-layer-opacity: var(--system-state-focus-state-layer-opacity) !default;
$button-filled-focus-icon-color: var(--system-color-on-primary) !default;

$button-filled-pressed-container-elevation: var(--system-elevation-level0) !default;
$button-filled-pressed-label-color: var(--system-color-on-primary) !default;
$button-filled-pressed-state-layer-color: var(--system-color-on-primary) !default;
$button-filled-pressed-state-layer-color-rgb: var(--system-color-on-primary-rgb) !default;
$button-filled-pressed-state-layer-opacity: var(--system-state-pressed-state-layer-opacity) !default;
$button-filled-pressed-icon-color: var(--system-color-on-primary) !default;

$button-filled: (
    "button-filled-container-shape": $button-filled-container-shape,
    "button-filled-container-height": $button-filled-container-height,
    "button-filled-container-elevation": $button-filled-container-elevation,
    "button-filled-container-color": $button-filled-container-color,
    "button-filled-container-shadow-color": $button-filled-container-shadow-color,
    "button-filled-container-shadow-color-rgb": $button-filled-container-shadow-color-rgb,
    "button-filled-label-font": $button-filled-label-font,
    "button-filled-label-line-height": $button-filled-label-line-height,
    "button-filled-label-size": $button-filled-label-size,
    "button-filled-label-weight": $button-filled-label-weight,
    "button-filled-label-tracking": $button-filled-label-tracking,
    "button-filled-label-color": $button-filled-label-color,
    "button-filled-icon-size": $button-filled-icon-size,
    "button-filled-icon-color": $button-filled-icon-color, 
) !default;

$button-filled-disabled: (
    "button-filled-container-elevation": $button-filled-disabled-container-elevation,
    "button-filled-container-color": $button-filled-disabled-container-color,
    "button-filled-container-color-rgb": $button-filled-disabled-container-color-rgb,
    "button-filled-container-opacity": $button-filled-disabled-container-opacity,
    "button-filled-label-color": $button-filled-disabled-label-color,
    "button-filled-label-color-rgb": $button-filled-disabled-label-color-rgb,
    "button-filled-label-opacity": $button-filled-disabled-label-opacity,
    "button-filled-icon-color": $button-filled-disabled-icon-color,
    "button-filled-icon-color-rgb": $button-filled-disabled-icon-color-rgb, 
    "button-filled-icon-opacity": $button-filled-disabled-icon-opacity,
) !default;

$button-filled-hover: (
    "button-filled-container-elevation": $button-filled-hover-container-elevation,
    "button-filled-label-color": $button-filled-hover-label-color,
    "button-filled-state-layer-color": $button-filled-hover-state-layer-color,
    "button-filled-state-layer-color-rgb": $button-filled-hover-state-layer-color-rgb,
    "button-filled-state-layer-opacity": $button-filled-hover-state-layer-opacity,
    "button-filled-icon-color": $button-filled-hover-icon-color,  
) !default;

$button-filled-focus: (
    "button-filled-focus-indicator-color": $button-filled-focus-indicator-color,
    "button-filled-focus-indicator-thickness": $button-filled-focus-indicator-thickness,
    "button-filled-focus-indicator-offset": $button-filled-focus-indicator-offset,
    "button-filled-container-elevation": $button-filled-focus-container-elevation,
    "button-filled-label-color": $button-filled-focus-label-color,
    "button-filled-state-layer-color": $button-filled-focus-state-layer-color,
    "button-filled-state-layer-color-rgb": $button-filled-focus-state-layer-color-rgb,
    "button-filled-state-layer-opacity": $button-filled-focus-state-layer-opacity,
    "button-filled-icon-color": $button-filled-focus-icon-color,
) !default;

$button-filled-pressed: (
    "button-filled-container-elevation": $button-filled-pressed-container-elevation,
    "button-filled-label-color": $button-filled-pressed-label-color,
    "button-filled-state-layer-color": $button-filled-pressed-state-layer-color,
    "button-filled-state-layer-color-rgb": $button-filled-pressed-state-layer-color-rgb,
    "button-filled-state-layer-opacity": $button-filled-pressed-state-layer-opacity,
    "button-filled-icon-color": $button-filled-pressed-icon-color,
) !default;