$button-text-container-shape: var(--system-shape-corner-full) !default;
$button-text-container-height: 2.5rem !default;
$button-text-container-elevation: var(--system-elevation-level0) !default;
$button-text-label-font: var(--system-typescale-label-large-font) !default;
$button-text-label-line-height: var(--system-typescale-label-large-line-height) !default;
$button-text-label-size: var(--system-typescale-label-large-size) !default;
$button-text-label-weight: var(--system-typescale-label-large-weight) !default;
$button-text-label-tracking: var(--system-typescale-label-large-tracking) !default;
$button-text-label-color: var(--system-color-primary) !default;
$button-text-icon-size: 1.125rem !default;
$button-text-icon-color: var(--system-color-primary) !default;

$button-text-disabled-label-color: var(--system-color-on-surface) !default;
$button-text-disabled-label-color-rgb: var(--system-color-on-surface-rgb) !default;
$button-text-disabled-label-opacity: 0.38 !default;
$button-text-disabled-icon-color: var(--system-color-on-surface) !default;
$button-text-disabled-icon-color-rgb: var(--system-color-on-surface-rgb) !default;
$button-text-disabled-icon-opacity: 0.38 !default;

$button-text-hover-label-color: var(--system-color-primary) !default;
$button-text-hover-state-layer-color: var(--system-color-primary) !default;
$button-text-hover-state-layer-color-rgb: var(--system-color-primary-rgb) !default;
$button-text-hover-state-layer-opacity: var(--system-state-hover-state-layer-opacity) !default;
$button-text-hover-icon-color: var(--system-color-primary) !default;

$button-text-focus-indicator-color: var(--system-color-secondary) !default;
$button-text-focus-indicator-thickness: var(--system-state-focus-indicator-thickness) !default;
$button-text-focus-indicator-offset: var(--system-state-focus-indicator-offset) !default;
$button-text-focus-container-elevation: var(--system-elevation-level0) !default;
$button-text-focus-label-color: var(--system-color-primary) !default;
$button-text-focus-state-layer-color: var(--system-color-primary) !default;
$button-text-focus-state-layer-color-rgb: var(--system-color-primary-rgb) !default;
$button-text-focus-state-layer-opacity: var(--system-state-focus-state-layer-opacity) !default;
$button-text-focus-icon-color: var(--system-color-primary) !default;

$button-text-pressed-label-color: var(--system-color-primary) !default;
$button-text-pressed-state-layer-color: var(--system-color-primary) !default;
$button-text-pressed-state-layer-color-rgb: var(--system-color-primary-rgb) !default;
$button-text-pressed-state-layer-opacity: var(--system-state-pressed-state-layer-opacity) !default;
$button-text-pressed-icon-color: var(--system-color-primary) !default;

$button-text: (
    "button-text-container-shape": $button-text-container-shape,
    "button-text-container-height": $button-text-container-height,
    "button-text-container-elevation": $button-text-container-elevation,
    "button-text-label-font": $button-text-label-font,
    "button-text-label-line-height": $button-text-label-line-height,
    "button-text-label-size": $button-text-label-size,
    "button-text-label-weight": $button-text-label-weight,
    "button-text-label-tracking": $button-text-label-tracking,
    "button-text-label-color": $button-text-label-color,
    "button-text-icon-size": $button-text-icon-size,
    "button-text-icon-color": $button-text-icon-color, 
) !default;

$button-text-disabled: (
    "button-text-disabled-label-color": $button-text-disabled-label-color,
    "button-text-disabled-label-color-rgb": $button-text-disabled-label-color-rgb,
    "button-text-disabled-label-opacity": $button-text-disabled-label-opacity,
    "button-text-disabled-icon-color": $button-text-disabled-icon-color,
    "button-text-disabled-icon-color-rgb": $button-text-disabled-icon-color-rgb, 
    "button-text-disabled-icon-opacity": $button-text-disabled-icon-opacity,
) !default;

$button-text-hover: (
    "button-text-hover-label-color": $button-text-hover-label-color,
    "button-text-hover-state-layer-color": $button-text-hover-state-layer-color,
    "button-text-hover-state-layer-color-rgb": $button-text-hover-state-layer-color-rgb,
    "button-text-hover-state-layer-opacity": $button-text-hover-state-layer-opacity,
    "button-text-hover-icon-color": $button-text-hover-icon-color,  
) !default;

$button-text-focus: (
    "button-text-focus-indicator-color": $button-text-focus-indicator-color,
    "button-text-focus-indicator-thickness": $button-text-focus-indicator-thickness,
    "button-text-focus-indicator-offset": $button-text-focus-indicator-offset,
    "button-text-focus-label-color": $button-text-focus-label-color,
    "button-text-focus-state-layer-color": $button-text-focus-state-layer-color,
    "button-text-focus-state-layer-color-rgb": $button-text-focus-state-layer-color-rgb,
    "button-text-focus-state-layer-opacity": $button-text-focus-state-layer-opacity,
    "button-text-focus-icon-color": $button-text-focus-icon-color,
) !default;

$button-text-pressed: (
    "button-text-pressed-label-color": $button-text-pressed-label-color,
    "button-text-pressed-state-layer-color": $button-text-pressed-state-layer-color,
    "button-text-pressed-state-layer-color-rgb": $button-text-pressed-state-layer-color-rgb,
    "button-text-pressed-state-layer-opacity": $button-text-pressed-state-layer-opacity,
    "button-text-pressed-icon-color": $button-text-pressed-icon-color,
) !default;