$card-outlined-container-color: var(--system-color-surface) !default;
$card-outlined-container-elevation: var(--system-elevation-level0) !default;
$card-outlined-container-shape: var(--system-shape-corner-medium) !default;
$card-outlined-outline-shadow-color: var(--system-color-shadow);
$card-outlined-outline-width: 0.0625rem;
$card-outlined-outline-color: var(--system-color-outline-variant);
$card-outlined-icon-color: var(--system-color-primary) !default;
$card-outlined-icon-size: 1.5rem !default;

$card-outlined-disabled-container-elevation: var(--system-elevation-level0) !default;
$card-outlined-disabled-outline-color: var(--system-color-outline);
$card-outlined-disabled-outline-color-rgb: var(--system-color-outline-rgb);
$card-outlined-disabled-outline-opacity: 0.12;

$card-outlined-hover-container-elevation: var(--system-elevation-level1) !default;
$card-outlined-hover-state-layer-color: var(--system-color-on-surface) !default;
$card-outlined-hover-state-layer-color-rgb: var(--system-color-on-surface-rgb) !default;
$card-outlined-hover-state-layer-opacity: var(--system-state-hover-state-layer-opacity) !default;
$card-outlined-hover-outline-color: var(--system-color-outline-variant);

$card-outlined-focus-indicator-color: var(--system-color-secondary) !default;
$card-outlined-focus-indicator-thickness: var(--system-state-focus-indicator-thickness) !default;
$card-outlined-focus-indicator-offset: var(--system-state-focus-indicator-offset) !default;
$card-outlined-focus-container-elevation: var(--system-elevation-level0) !default;
$card-outlined-focus-state-layer-color: var(--system-color-on-surface) !default;
$card-outlined-focus-state-layer-color-rgb: var(--system-color-on-surface-rgb) !default;
$card-outlined-focus-state-layer-opacity: var(--system-state-focus-state-layer-opacity) !default;
$card-outlined-focus-outline-color: var(--system-color-on-surface) !default;

$card-outlined-pressed-container-elevation: var(--system-elevation-level0) !default;
$card-outlined-pressed-state-layer-color: var(--system-color-on-surface) !default;
$card-outlined-pressed-state-layer-color-rgb: var(--system-color-on-surface-rgb) !default;
$card-outlined-pressed-state-layer-opacity: var(--system-state-pressed-state-layer-opacity) !default;
$card-outlined-pressed-outline-color: var(--system-color-outline-variant);

$card-outlined: (
    "card-outlined-container-color": $card-outlined-container-color,
    "card-outlined-container-elevation": $card-outlined-container-elevation,
    "card-outlined-container-shape": $card-outlined-container-shape,
    "card-outlined-icon-color": $card-outlined-icon-color,
    "card-outlined-icon-size": $card-outlined-icon-size,
) !default;

$card-outlined-disabled: (
    "card-outlined-container-elevation": $card-outlined-disabled-container-elevation,
    "card-outlined-outline-color": $card-outlined-disabled-outline-color,
    "card-outlined-outline-color-rgb": $card-outlined-disabled-outline-color-rgb,
    "card-outlined-outline-opacity": $card-outlined-disabled-outline-opacity,
) !default;

$card-outlined-hover: (
    "card-outlined-container-elevation": $card-outlined-hover-container-elevation,
    "card-outlined-state-layer-color": $card-outlined-hover-state-layer-color,
    "card-outlined-state-layer-color-rgb": $card-outlined-hover-state-layer-color-rgb,
    "card-outlined-state-layer-opacity": $card-outlined-hover-state-layer-opacity,
    "card-outlined-outline-color": $card-outlined-hover-outline-color,
) !default;

$card-outlined-focus: (
    "card-outlined-focus-indicator-color": $card-outlined-focus-indicator-color,
    "card-outlined-focus-indicator-thickness": $card-outlined-focus-indicator-thickness,
    "card-outlined-focus-indicator-offset": $card-outlined-focus-indicator-offset,
    "card-outlined-container-elevation": $card-outlined-focus-container-elevation,
    "card-outlined-state-layer-color": $card-outlined-focus-state-layer-color,
    "card-outlined-state-layer-color-rgb": $card-outlined-focus-state-layer-color-rgb,
    "card-outlined-state-layer-opacity": $card-outlined-focus-state-layer-opacity,
    "card-outlined-outline-color": $card-outlined-focus-outline-color,
) !default;

$card-outlined-pressed: (
    "card-outlined-container-elevation": $card-outlined-pressed-container-elevation,
    "card-outlined-state-layer-color": $card-outlined-pressed-state-layer-color,
    "card-outlined-state-layer-color-rgb": $card-outlined-pressed-state-layer-color-rgb,
    "card-outlined-state-layer-opacity": $card-outlined-pressed-state-layer-opacity,
    "card-outlined-outline-color": $card-outlined-pressed-outline-color,
) !default;