@use "../reference-tokens" as ref;
@use "../system-tokens" as sys;

$filled-button-container-shape: sys.$shape-corner-full !default;
$filled-button-container-height: 2.5rem !default;
$filled-button-container-elevation: sys.$elevation-level0 !default;
$filled-button-container-color: sys.$primary !default;
$filled-button-container-shadow-color: sys.$shadow !default;
$filled-button-container-shadow-color-rgb: sys.$shadow-rgb !default;
$filled-button-label-font: sys.$typescale-label-large-font !default;
$filled-button-label-line-height: sys.$typescale-label-large-line-height !default;
$filled-button-label-size: sys.$typescale-label-large-font-size !default;
$filled-button-label-weight: sys.$typescale-label-large-font-weight !default;
$filled-button-label-tracking: sys.$typescale-label-large-font-tracking !default;
$filled-button-label-color: sys.$on-primary !default;
$filled-button-with-icon-icon-size: 1.125rem !default;
$filled-button-with-icon-icon-color: sys.$on-primary !default;

$filled-button-disabled-container-elevation: sys.$elevation-level0 !default;
$filled-button-disabled-container-color: sys.$on-surface !default;
$filled-button-disabled-container-color-rgb: sys.$on-surface-rgb !default;
$filled-button-disabled-container-opacity: 0.12 !default;
$filled-button-disabled-label-color: sys.$on-primary !default;
$filled-button-disabled-label-color-rgb: sys.$on-primary-rgb !default;
$filled-button-disabled-label-opacity: 0.38 !default;
$filled-button-with-icon-disabled-icon-color: sys.$on-primary !default;
$filled-button-with-icon-disabled-icon-color-rgb: sys.$on-primary-rgb !default;
$filled-button-with-icon-disabled-icon-opacity: 0.38 !default;

$filled-button-hover-container-elevation: sys.$elevation-level1 !default;
$filled-button-hover-label-color: sys.$on-primary !default;
$filled-button-hover-state-layer-color: sys.$on-primary !default;
$filled-button-hover-state-layer-color-rgb: sys.$on-primary-rgb !default;
$filled-button-hover-state-layer-opacity: sys.$state-hover-state-layer-opacity !default;
$filled-button-with-icon-hover-icon-color: sys.$on-primary !default;

$filled-button-focus-indicator-color: sys.$secondary !default;
$filled-button-focus-indicator-thickness: sys.$state-focus-indicator-thickness !default;
$filled-button-focus-indicator-offset: sys.$state-focus-indicator-offset !default;
$filled-button-focus-container-elevation: sys.$elevation-level0 !default;
$filled-button-focus-label-color: sys.$on-primary !default;
$filled-button-focus-state-layer-color: sys.$on-primary !default;
$filled-button-focus-state-layer-color-rgb: sys.$on-primary-rgb !default;
$filled-button-focus-state-layer-opacity: sys.$state-focus-state-layer-opacity !default;
$filled-button-with-icon-focus-icon-color: sys.$on-primary !default;

$filled-button-pressed-container-elevation: sys.$elevation-level0 !default;
$filled-button-pressed-label-color: sys.$on-primary !default;
$filled-button-pressed-state-layer-color: sys.$on-primary !default;
$filled-button-pressed-state-layer-color-rgb: sys.$on-primary-rgb !default;
$filled-button-pressed-state-layer-opacity: sys.$state-pressed-state-layer-opacity !default;
$filled-button-with-icon-pressed-icon-color: sys.$on-primary !default;

$filled-button: (
    "filled-button-container-shape": $filled-button-container-shape,
    "filled-button-container-height": $filled-button-container-height,
    "filled-button-container-elevation": $filled-button-container-elevation,
    "filled-button-container-color": $filled-button-container-color,
    "filled-button-container-shadow-color": $filled-button-container-shadow-color,
    "filled-button-container-shadow-color-rgb": $filled-button-container-shadow-color-rgb,
    "filled-button-label-font": $filled-button-label-font,
    "filled-button-label-line-height": $filled-button-label-line-height,
    "filled-button-label-size": $filled-button-label-size,
    "filled-button-label-weight": $filled-button-label-weight,
    "filled-button-label-tracking": $filled-button-label-tracking,
    "filled-button-label-color": $filled-button-label-color,
    "filled-button-with-icon-icon-size": $filled-button-with-icon-icon-size,
    "filled-button-with-icon-icon-color": $filled-button-with-icon-icon-color, 
) !default;

$filled-button-disabled: (
    "filled-button-container-elevation": $filled-button-disabled-container-elevation,
    "filled-button-container-color": $filled-button-disabled-container-color,
    "filled-button-container-color-rgb": $filled-button-disabled-container-color-rgb,
    "filled-button-container-opacity": $filled-button-disabled-container-opacity,
    "filled-button-label-color": $filled-button-disabled-label-color,
    "filled-button-label-color-rgb": $filled-button-disabled-label-color-rgb,
    "filled-button-label-opacity": $filled-button-disabled-label-opacity,
    "filled-button-with-icon-icon-color": $filled-button-with-icon-disabled-icon-color,
    "filled-button-with-icon-disabled-icon-color-rgb": $filled-button-with-icon-disabled-icon-color-rgb, 
    "filled-button-with-icon-disabled-icon-opacity": $filled-button-with-icon-disabled-icon-opacity,
) !default;

$filled-button-hover: (
    "filled-button-container-elevation": $filled-button-hover-container-elevation,
    "filled-button-label-color": $filled-button-hover-label-color,
    "filled-button-state-layer-color": $filled-button-hover-state-layer-color,
    "filled-button-state-layer-color-rgb": $filled-button-hover-state-layer-color-rgb,
    "filled-button-state-layer-opacity": $filled-button-hover-state-layer-opacity,
    "filled-button-with-icon-icon-color": $filled-button-with-icon-hover-icon-color,  
) !default;

$filled-button-focus: (
    "filled-button-indicator-color": $filled-button-focus-indicator-color,
    "filled-button-indicator-thickness": $filled-button-focus-indicator-thickness,
    "filled-button-indicator-offset": $filled-button-focus-indicator-offset,
    "filled-button-container-elevation": $filled-button-focus-container-elevation,
    "filled-button-label-color": $filled-button-focus-label-color,
    "filled-button-state-layer-color": $filled-button-focus-state-layer-color,
    "filled-button-state-layer-color-rgb": $filled-button-focus-state-layer-color-rgb,
    "filled-button-state-layer-opacity": $filled-button-focus-state-layer-opacity,
    "filled-button-with-icon-icon-color": $filled-button-with-icon-focus-icon-color,
) !default;

$filled-button-pressed: (
    "filled-button-container-elevation": $filled-button-pressed-container-elevation,
    "filled-button-label-color": $filled-button-pressed-label-color,
    "filled-button-state-layer-color": $filled-button-pressed-state-layer-color,
    "filled-button-state-layer-color-rgb": $filled-button-pressed-state-layer-color-rgb,
    "filled-button-state-layer-opacity": $filled-button-pressed-state-layer-opacity,
    "filled-button-with-icon-icon-color": $filled-button-with-icon-pressed-icon-color,
) !default;