@use "../reference-tokens" as *;
@use "../system-tokens" as *;


$icon-button-standard-icon-size: 1.5rem !default;
$icon-button-standard-unselected-icon-color: $system-color-on-surface !default;
$icon-button-standard-selected-icon-color: $system-color-primary !default;
$icon-button-standard-state-layer-size: 2.5rem !default;
$icon-button-standard-state-layer-width: 2.5rem !default;
$icon-button-standard-state-layer-height: 2.5rem !default;
$icon-button-standard-state-layer-shape: $system-shape-corner-full !default;

$icon-button-standard-disabled-icon-color: $system-color-on-surface !default;
$icon-button-standard-disabled-icon-color-rgb: $system-color-on-surface-rgb !default;
$icon-button-standard-disabled-icon-opacity: 0.38 !default;

$icon-button-standard-unselected-hover-state-layer-color: $system-color-on-surface !default;
$icon-button-standard-unselected-hover-state-layer-color-rgb: $system-color-on-surface-rgb !default;
$icon-button-standard-unselected-hover-state-layer-opacity: $system-state-hover-state-layer-opacity !default;
$icon-button-standard-selected-hover-state-layer-color: $system-color-primary !default;
$icon-button-standard-selected-hover-state-layer-color-rgb: $system-color-primary-rgb !default;
$icon-button-standard-selected-hover-state-layer-opacity: $system-state-hover-state-layer-opacity !default;
$icon-button-standard-unselected-hover-icon-color: $system-color-on-surface !default; 
$icon-button-standard-selected-hover-icon-color: $system-color-primary !default; 

$icon-button-standard-focus-indicator-color: $system-color-secondary !default;
$icon-button-standard-focus-indicator-thickness: $system-state-focus-indicator-thickness !default;
$icon-button-standard-focus-indicator-offset: $system-state-focus-indicator-offset !default;
$icon-button-standard-unselected-focus-state-layer-color: $system-color-on-surface !default;
$icon-button-standard-unselected-focus-state-layer-color-rgb: $system-color-on-surface-rgb !default;
$icon-button-standard-unselected-focus-state-layer-opacity: $system-state-focus-state-layer-opacity !default;
$icon-button-standard-selected-focus-state-layer-color: $system-color-primary !default;
$icon-button-standard-selected-focus-state-layer-color-rgb: $system-color-primary-rgb !default;
$icon-button-standard-selected-focus-state-layer-opacity: $system-state-focus-state-layer-opacity !default;
$icon-button-standard-unselected-focus-icon-color: $system-color-on-surface !default;  
$icon-button-standard-selected-focus-icon-color: $system-color-primary !default;  

$icon-button-standard-unselected-pressed-state-layer-color: $system-color-on-surface !default;
$icon-button-standard-unselected-pressed-state-layer-color-rgb: $system-color-on-surface-rgb !default;
$icon-button-standard-unselected-pressed-state-layer-opacity: $system-state-pressed-state-layer-opacity !default;
$icon-button-standard-selected-pressed-state-layer-color: $system-color-primary !default;
$icon-button-standard-selected-pressed-state-layer-color-rgb: $system-color-primary-rgb !default;
$icon-button-standard-selected-pressed-state-layer-opacity: $system-state-pressed-state-layer-opacity !default;
$icon-button-standard-unselected-pressed-icon-color: $system-color-on-surface !default;  
$icon-button-standard-selected-pressed-icon-color: $system-color-primary !default;  

$icon-button-standard: (
    "icon-button-standard-icon-size": $icon-button-standard-icon-size,
    "icon-button-standard-unselected-icon-color": $icon-button-standard-unselected-icon-color,
    "icon-button-standard-selected-icon-color": $icon-button-standard-selected-icon-color,
    "icon-button-standard-state-layer-size": $icon-button-standard-state-layer-size, 
    "icon-button-standard-state-layer-width": $icon-button-standard-state-layer-width,
    "icon-button-standard-state-layer-height": $icon-button-standard-state-layer-height,
    "icon-button-standard-state-layer-shape": $icon-button-standard-state-layer-shape,
) !default;

$icon-button-standard-disabled: (
    "icon-button-standard-icon-color": $icon-button-standard-disabled-icon-color,
    "icon-button-standard-icon-color-rgb": $icon-button-standard-disabled-icon-color-rgb, 
    "icon-button-standard-icon-opacity": $icon-button-standard-disabled-icon-opacity,
) !default;

$icon-button-standard-hover: (
    "icon-button-standard-unselected-state-layer-color": $icon-button-standard-unselected-hover-state-layer-color,
    "icon-button-standard-unselected-state-layer-color-rgb": $icon-button-standard-unselected-hover-state-layer-color-rgb,
    "icon-button-standard-unselected-state-layer-opacity": $icon-button-standard-unselected-hover-state-layer-opacity,
    "icon-button-standard-selected-state-layer-color": $icon-button-standard-selected-hover-state-layer-color,
    "icon-button-standard-selected-state-layer-color-rgb": $icon-button-standard-selected-hover-state-layer-color-rgb,
    "icon-button-standard-selected-state-layer-opacity": $icon-button-standard-selected-hover-state-layer-opacity,
    "icon-button-standard-unselected-icon-color": $icon-button-standard-unselected-hover-icon-color,
    "icon-button-standard-selected-icon-color": $icon-button-standard-selected-hover-icon-color,
) !default;

$icon-button-standard-focus: (
    "icon-button-standard-indicator-color": $icon-button-standard-focus-indicator-color,
    "icon-button-standard-indicator-thickness": $icon-button-standard-focus-indicator-thickness,
    "icon-button-standard-indicator-offset": $icon-button-standard-focus-indicator-offset,
    "icon-button-standard-unselected-state-layer-color": $icon-button-standard-unselected-focus-state-layer-color,
    "icon-button-standard-unselected-state-layer-color-rgb": $icon-button-standard-unselected-focus-state-layer-color-rgb,
    "icon-button-standard-unselected-state-layer-opacity": $icon-button-standard-unselected-focus-state-layer-opacity,
    "icon-button-standard-selected-state-layer-color": $icon-button-standard-selected-focus-state-layer-color,
    "icon-button-standard-selected-state-layer-color-rgb": $icon-button-standard-selected-focus-state-layer-color-rgb,
    "icon-button-standard-selected-state-layer-opacity": $icon-button-standard-selected-focus-state-layer-opacity,
    "icon-button-standard-unselected-icon-color": $icon-button-standard-unselected-focus-icon-color,
    "icon-button-standard-selected-icon-color": $icon-button-standard-selected-focus-icon-color,
) !default;

$icon-button-standard-pressed: (
    "icon-button-standard-unselected-state-layer-color": $icon-button-standard-unselected-pressed-state-layer-color,
    "icon-button-standard-unselected-state-layer-color-rgb": $icon-button-standard-unselected-pressed-state-layer-color-rgb,
    "icon-button-standard-unselected-state-layer-opacity": $icon-button-standard-unselected-pressed-state-layer-opacity,
    "icon-button-standard-selected-state-layer-color": $icon-button-standard-selected-pressed-state-layer-color,
    "icon-button-standard-selected-state-layer-color-rgb": $icon-button-standard-selected-pressed-state-layer-color-rgb,
    "icon-button-standard-selected-state-layer-opacity": $icon-button-standard-selected-pressed-state-layer-opacity,
    "icon-button-standard-unselected-icon-color": $icon-button-standard-unselected-pressed-icon-color,
    "icon-button-standard-selected-icon-color": $icon-button-standard-selected-pressed-icon-color,
) !default;