$navigation-drawer-container-color: var(--system-color-surface) !default;
$navigation-drawer-modal-container-color: var(--system-color-surface-container-low) !default;
$navigation-drawer-standard-container-color: var(--system-color-surface) !default;
$navigation-drawer-modal-container-elevation: var(--system-elevation-level1) !default;
$navigation-drawer-standard-container-elevation: var(--system-elevation-level0) !default;
$navigation-drawer-container-height: 100% !default;
$navigation-drawer-container-shape: var(--system-shape-corner-large-end) !default;
$navigation-drawer-container-width: 22.5rem !default;
$navigation-drawer-active-label-color: var(--system-color-on-secondary-container) !default;
$navigation-drawer-inactive-label-color: var(--system-color-on-surface-variant) !default;
$navigation-drawer-label-font: var(--system-typescale-label-large-font) !default;
$navigation-drawer-label-line-height: var(--system-typescale-label-large-line-height) !default;
$navigation-drawer-label-size: var(--system-typescale-label-large-size) !default;
$navigation-drawer-label-tracking: var(--system-typescale-label-large-tracking) !default;
$navigation-drawer-label-weight: var(--system-typescale-label-large-weight) !default;
$navigation-drawer-active-icon-color: var(--system-color-on-secondary-container) !default;
$navigation-drawer-inactive-icon-color: var(--system-color-on-surface-variant) !default;
$navigation-drawer-icon-size: 1.5rem !default;
$navigation-drawer-headline-color: var(--system-color-on-surface-variant) !default;
$navigation-drawer-headline-font: var(--system-typescale-title-small-font) !default;
$navigation-drawer-headline-line-height: var(--system-typescale-title-small-line-height) !default;
$navigation-drawer-headline-size: var(--system-typescale-title-small-size) !default;
$navigation-drawer-headline-tracking: var(--system-typescale-title-small-tracking) !default;
$navigation-drawer-headline-weight: var(--system-typescale-title-small-weight) !default;
$navigation-drawer-divider-color: var(--system-color-outline) !default;
$navigation-drawer-active-indicator-color: var(--system-color-secondary-container) !default;
$navigation-drawer-active-indicator-height: 3.5rem !default;
$navigation-drawer-active-indicator-shape: var(--system-shape-corner-full) !default;
$navigation-drawer-active-indicator-width: 21rem !default;
$navigation-drawer-badge-label-color: var(--system-color-on-surface-variang) !default;
$navigation-drawer-badge-label-font: var(--system-typescale-label-large-font) !default;
$navigation-drawer-badge-label-line-height: var(--system-typescale-label-large-line-height) !default;
$navigation-drawer-badge-label-size: var(--system-typescale-label-large-size) !default;
$navigation-drawer-badge-label-tracking: var(--system-typescale-label-large-tracking) !default;
$navigation-drawer-badge-label-weight: var(--system-typescale-label-large-weight) !default;
$navigation-drawer-scrim-color: var(--reference-palette-neutral-variant20) !default;
$navigation-drawer-scrim-color-rgb: var(--reference-palette-neutral-variant20-rgb) !default;
$navigation-drawer-scrim-opacity: 0.4 !default;

$navigation-drawer-active-hover-label-color: var(--system-color-on-secondary-container) !default;
$navigation-drawer-inactive-hover-label-color: var(--system-color-on-surface) !default;
$navigation-drawer-active-hover-state-layer-color: var(--system-color-on-secondary-container) !default;
$navigation-drawer-active-hover-state-layer-color-rgb: var(--system-color-on-secondary-container-rgb) !default;
$navigation-drawer-inactive-hover-state-layer-color: var(--system-color-on-surface) !default;
$navigation-drawer-inactive-hover-state-layer-color-rgb: var(--system-color-on-surface-rgb) !default;
$navigation-drawer-hover-state-layer-opacity: var(--system-state-hover-state-layer-opacity) !default;
$navigation-drawer-active-hover-icon-color: var(--system-color-on-secondary-container) !default;
$navigation-drawer-inactive-hover-icon-color: var(--system-color-on-surface) !default;

$navigation-drawer-focus-indicator-color: var(--system-color-secondary) !default;
$navigation-drawer-focus-indicator-thickness: var(--system-state-focus-indicator-thickness) !default;
$navigation-drawer-focus-indicator-offset: var(--system-state-focus-indicator-offset) !default;
$navigation-drawer-active-focus-label-color: var(--system-color-on-secondary-container) !default;
$navigation-drawer-inactive-focus-label-color: var(--system-color-on-surface) !default;
$navigation-drawer-active-focus-state-layer-color: var(--system-color-on-secondary-container) !default;
$navigation-drawer-active-focus-state-layer-color-rgb: var(--system-color-on-secondary-container-rgb) !default;
$navigation-drawer-inactive-focus-state-layer-color: var(--system-color-on-surface) !default;
$navigation-drawer-inactive-focus-state-layer-color-rgb: var(--system-color-on-surface-rgb) !default;
$navigation-drawer-focus-state-layer-opacity: var(--system-state-hover-state-layer-opacity) !default;
$navigation-drawer-active-focus-icon-color: var(--system-color-on-secondary-container) !default;
$navigation-drawer-inactive-focus-icon-color: var(--system-color-on-surface) !default;

$navigation-drawer-active-pressed-label-color: var(--system-color-on-secondary-container) !default;
$navigation-drawer-inactive-pressed-label-color: var(--system-color-on-surface) !default;
$navigation-drawer-active-pressed-state-layer-color: var(--system-color-on-secondary-container) !default;
$navigation-drawer-active-pressed-state-layer-color-rgb: var(--system-color-on-secondary-container-rgb) !default;
$navigation-drawer-inactive-pressed-state-layer-color: var(--system-color-on-surface) !default;
$navigation-drawer-inactive-pressed-state-layer-color-rgb: var(--system-color-on-surface-rgb) !default;
$navigation-drawer-pressed-state-layer-opacity: var(--system-state-hover-state-layer-opacity) !default;
$navigation-drawer-active-pressed-icon-color: var(--system-color-on-secondary-container) !default;
$navigation-drawer-inactive-pressed-icon-color: var(--system-color-on-surface) !default;

$navigation-drawer: (
    "navigation-drawer-container-color": $navigation-drawer-container-color,
    "navigation-drawer-modal-container-color": $navigation-drawer-modal-container-color,
    "navigation-drawer-standard-container-color": $navigation-drawer-standard-container-color,
    "navigation-drawer-modal-container-elevation": $navigation-drawer-modal-container-elevation,
    "navigation-drawer-standard-container-elevation": $navigation-drawer-standard-container-elevation,
    "navigation-drawer-container-height": $navigation-drawer-container-height,
    "navigation-drawer-container-shape": $navigation-drawer-container-shape,
    "navigation-drawer-container-width": $navigation-drawer-container-width,
    "navigation-drawer-active-label-color": $navigation-drawer-active-label-color,
    "navigation-drawer-inactive-label-color": $navigation-drawer-inactive-label-color,
    "navigation-drawer-label-font": $navigation-drawer-label-font,
    "navigation-drawer-label-line-height": $navigation-drawer-label-line-height,
    "navigation-drawer-label-size": $navigation-drawer-label-size,
    "navigation-drawer-label-tracking": $navigation-drawer-label-tracking,
    "navigation-drawer-label-weight": $navigation-drawer-label-weight,
    "navigation-drawer-active-icon-color": $navigation-drawer-active-icon-color,
    "navigation-drawer-inactive-icon-color": $navigation-drawer-inactive-icon-color,
    "navigation-drawer-icon-size": $navigation-drawer-icon-size,
    "navigation-drawer-headline-color": $navigation-drawer-headline-color,
    "navigation-drawer-headline-font": $navigation-drawer-headline-font,
    "navigation-drawer-headline-line-height": $navigation-drawer-headline-line-height,
    "navigation-drawer-headline-size": $navigation-drawer-headline-size,
    "navigation-drawer-headline-tracking": $navigation-drawer-headline-tracking,
    "navigation-drawer-headline-weight": $navigation-drawer-headline-weight,
    "navigation-drawer-divider-color": $navigation-drawer-divider-color,
    "navigation-drawer-active-indicator-color": $navigation-drawer-active-indicator-color,
    "navigation-drawer-active-indicator-height": $navigation-drawer-active-indicator-height,
    "navigation-drawer-active-indicator-shape": $navigation-drawer-active-indicator-shape,
    "navigation-drawer-active-indicator-width": $navigation-drawer-active-indicator-width,
    "navigation-drawer-badge-label-color": $navigation-drawer-badge-label-color,
    "navigation-drawer-badge-label-font": $navigation-drawer-badge-label-font,
    "navigation-drawer-badge-label-line-height": $navigation-drawer-badge-label-line-height,
    "navigation-drawer-badge-label-size": $navigation-drawer-badge-label-size,
    "navigation-drawer-badge-label-tracking": $navigation-drawer-badge-label-tracking,
    "navigation-drawer-badge-label-weight": $navigation-drawer-badge-label-weight,
    "navigation-drawer-scrim-color": $navigation-drawer-scrim-color,
    "navigation-drawer-scrim-color-rgb": $navigation-drawer-scrim-color-rgb,
    "navigation-drawer-scrim-opacity": $navigation-drawer-scrim-opacity,
) !default;

$navigation-drawer-hover: (
    "navigation-drawer-active-hover-label-color": $navigation-drawer-active-hover-label-color,
    "navigation-drawer-inactive-hover-label-color": $navigation-drawer-inactive-hover-label-color,
    "navigation-drawer-active-hover-state-layer-color": $navigation-drawer-active-hover-state-layer-color,
    "navigation-drawer-active-hover-state-layer-color-rgb": $navigation-drawer-active-hover-state-layer-color-rgb,
    "navigation-drawer-inactive-hover-state-layer-color": $navigation-drawer-inactive-hover-state-layer-color,
    "navigation-drawer-inactive-hover-state-layer-color-rgb": $navigation-drawer-inactive-hover-state-layer-color-rgb,
    "navigation-drawer-hover-state-layer-opacity": $navigation-drawer-hover-state-layer-opacity,
    "navigation-drawer-active-hover-icon-color": $navigation-drawer-active-hover-icon-color,
    "navigation-drawer-inactive-hover-icon-color": $navigation-drawer-inactive-hover-icon-color,
) !default;

$navigation-drawer-focus: (
    "navigation-drawer-focus-indicator-color": $navigation-drawer-focus-indicator-color,
    "navigation-drawer-focus-indicator-thickness": $navigation-drawer-focus-indicator-thickness,
    "navigation-drawer-focus-indicator-offset": $navigation-drawer-focus-indicator-offset,
    "navigation-drawer-active-focus-label-color": $navigation-drawer-active-focus-label-color,
    "navigation-drawer-inactive-focus-label-color": $navigation-drawer-inactive-focus-label-color,
    "navigation-drawer-active-focus-state-layer-color": $navigation-drawer-active-focus-state-layer-color,
    "navigation-drawer-active-focus-state-layer-color-rgb": $navigation-drawer-active-focus-state-layer-color-rgb,
    "navigation-drawer-inactive-focus-state-layer-color": $navigation-drawer-inactive-focus-state-layer-color,
    "navigation-drawer-inactive-focus-state-layer-color-rgb": $navigation-drawer-inactive-focus-state-layer-color-rgb,
    "navigation-drawer-focus-state-layer-opacity": $navigation-drawer-focus-state-layer-opacity,
    "navigation-drawer-active-focus-icon-color": $navigation-drawer-active-focus-icon-color,
    "navigation-drawer-inactive-focus-icon-color": $navigation-drawer-inactive-focus-icon-color,
) !default;

$navigation-drawer-pressed: (
    "navigation-drawer-active-pressed-label-color": $navigation-drawer-active-pressed-label-color,
    "navigation-drawer-inactive-pressed-label-color": $navigation-drawer-inactive-pressed-label-color,
    "navigation-drawer-active-pressed-state-layer-color": $navigation-drawer-active-pressed-state-layer-color,
    "navigation-drawer-active-pressed-state-layer-color-rgb": $navigation-drawer-active-pressed-state-layer-color-rgb,
    "navigation-drawer-inactive-pressed-state-layer-color": $navigation-drawer-inactive-pressed-state-layer-color,
    "navigation-drawer-inactive-pressed-state-layer-color-rgb": $navigation-drawer-inactive-pressed-state-layer-color-rgb,
    "navigation-drawer-pressed-state-layer-opacity": $navigation-drawer-pressed-state-layer-opacity,
    "navigation-drawer-active-pressed-icon-color": $navigation-drawer-active-pressed-icon-color,
    "navigation-drawer-inactive-pressed-icon-color": $navigation-drawer-inactive-pressed-icon-color,
) !default;