@use "../reference-tokens" as ref;
@use "../system-tokens" as sys;

$navigation-tab-primary-container-color: sys.$surface !default;
$navigation-tab-primary-container-shape: sys.$shape-corner-none !default;
$navigation-tab-primary-inline-container-height: 3rem !default;
$navigation-tab-primary-container-height: 4rem !default;
$navigation-tab-primary-container-elevation: sys.$elevation-level0 !default;
$navigation-tab-primary-label-font: sys.$typescale-title-small-font !default;
$navigation-tab-primary-label-line-height: sys.$typescale-title-small-line-height !default;
$navigation-tab-primary-label-size: sys.$typescale-title-small-font-size !default;
$navigation-tab-primary-label-weight: sys.$typescale-title-small-font-weight !default;
$navigation-tab-primary-label-tracking: sys.$typescale-title-small-font-tracking !default;
$navigation-tab-primary-active-label-color: sys.$primary !default;
$navigation-tab-primary-inactive-label-color: sys.$on-surface !default;
$navigation-tab-primary-icon-size: 1.5rem !default;
$navigation-tab-primary-active-icon-color: sys.$primary !default;
$navigation-tab-primary-inactive-icon-color: sys.$on-surface !default;
$navigation-tab-primary-divider-color: sys.$surface-container-highest !default;
$navigation-tab-primary-divider-height: 0.0625rem !default;
$navigation-tab-primary-active-indicator-color: sys.$primary !default;
$navigation-tab-primary-active-indicator-height: 3px !default;
$navigation-tab-primary-active-indicator-shape: 0.1875rem 0.1875rem 0 0 !default;

$navigation-tab-primary-active-hover-label-color: sys.$primary !default;
$navigation-tab-primary-inactiove-hover-label-color: sys.$on-surface !default;
$navigation-tab-primary-active-hover-state-layer-color: sys.$primary !default;
$navigation-tab-primary-active-hover-state-layer-color-rgb: sys.$primary-rgb !default;
$navigation-tab-primary-active-hover-state-layer-opacity: sys.$state-hover-state-layer-opacity !default;
$navigation-tab-primary-inactive-hover-state-layer-color: sys.$on-surface !default;
$navigation-tab-primary-inactive-hover-state-layer-color-rgb: sys.$on-surface-rgb !default;
$navigation-tab-primary-inactive-hover-state-layer-opacity: sys.$state-hover-state-layer-opacity !default;
$navigation-tab-primary-active-hover-icon-color: sys.$primary !default;
$navigation-tab-primary-inactive-hover-icon-color: sys.$on-surface !default;

$navigation-tab-primary-focus-indicator-color: sys.$secondary !default;
$navigation-tab-primary-focus-indicator-thickness: sys.$state-focus-indicator-thickness !default;
$navigation-tab-primary-focus-indicator-offset: sys.$state-focus-indicator-offset !default;
$navigation-tab-primary-active-focus-label-color: sys.$primary !default;
$navigation-tab-primary-inactiove-focus-label-color: sys.$on-surface !default;
$navigation-tab-primary-active-focus-state-layer-color: sys.$primary !default;
$navigation-tab-primary-active-focus-state-layer-color-rgb: sys.$primary-rgb !default;
$navigation-tab-primary-active-focus-state-layer-opacity: sys.$state-focus-state-layer-opacity !default;
$navigation-tab-primary-inactive-focus-state-layer-color: sys.$on-surface !default;
$navigation-tab-primary-inactive-focus-state-layer-color-rgb: sys.$on-surface-rgb !default;
$navigation-tab-primary-inactive-focus-state-layer-opacity: sys.$state-focus-state-layer-opacity !default;
$navigation-tab-primary-active-focus-icon-color: sys.$primary !default;
$navigation-tab-primary-inactive-focus-icon-color: sys.$on-surface !default;

$navigation-tab-primary-active-pressed-label-color: sys.$primary !default;
$navigation-tab-primary-inactiove-pressed-label-color: sys.$on-surface !default;
$navigation-tab-primary-active-pressed-state-layer-color: sys.$primary !default;
$navigation-tab-primary-active-pressed-state-layer-color-rgb: sys.$primary-rgb !default;
$navigation-tab-primary-active-pressed-state-layer-opacity: sys.$state-pressed-state-layer-opacity !default;
$navigation-tab-primary-inactive-pressed-state-layer-color: sys.$on-surface !default;
$navigation-tab-primary-inactive-pressed-state-layer-color-rgb: sys.$on-surface-rgb !default;
$navigation-tab-primary-inactive-pressed-state-layer-opacity: sys.$state-pressed-state-layer-opacity !default;
$navigation-tab-primary-active-pressed-icon-color: sys.$primary !default;
$navigation-tab-primary-inactive-pressed-icon-color: sys.$on-surface !default;

$navigation-tab-primary: (
    "navigation-tab-primary-container-color": $navigation-tab-primary-container-color,
    "navigation-tab-primary-container-shape": $navigation-tab-primary-container-shape,
    "navigation-tab-primary-inline-container-height": $navigation-tab-primary-inline-container-height,
    "navigation-tab-primary-container-height": $navigation-tab-primary-container-height,
    "navigation-tab-primary-container-elevation": $navigation-tab-primary-container-elevation,
    "navigation-tab-primary-label-font": $navigation-tab-primary-label-font,
    "navigation-tab-primary-label-line-height": $navigation-tab-primary-label-line-height,
    "navigation-tab-primary-label-size": $navigation-tab-primary-label-size,
    "navigation-tab-primary-label-weight": $navigation-tab-primary-label-weight,
    "navigation-tab-primary-label-tracking": $navigation-tab-primary-label-tracking,
    "navigation-tab-primary-active-label-color": $navigation-tab-primary-active-label-color,
    "navigation-tab-primary-inactive-label-color": $navigation-tab-primary-inactive-label-color,
    "navigation-tab-primary-icon-size": $navigation-tab-primary-icon-size,
    "navigation-tab-primary-active-icon-color": $navigation-tab-primary-active-icon-color,
    "navigation-tab-primary-inactive-icon-color": $navigation-tab-primary-inactive-icon-color,
    "navigation-tab-primary-divider-color": $navigation-tab-primary-divider-color,
    "navigation-tab-primary-divider-height": $navigation-tab-primary-divider-height,
    "navigation-tab-primary-active-indicator-color": $navigation-tab-primary-active-indicator-color,
    "navigation-tab-primary-active-indicator-height": $navigation-tab-primary-active-indicator-height,
    "navigation-tab-primary-active-indicator-shape": $navigation-tab-primary-active-indicator-shape,
) !default;

$navigation-tab-primary-hover: (
    "navigation-tab-primary-active-label-color": $navigation-tab-primary-active-hover-label-color,
    "navigation-tab-primary-inactiove-label-color": $navigation-tab-primary-inactiove-hover-label-color,
    "navigation-tab-primary-active-state-layer-color": $navigation-tab-primary-active-hover-state-layer-color,
    "navigation-tab-primary-active-state-layer-color-rgb": $navigation-tab-primary-active-hover-state-layer-color-rgb,
    "navigation-tab-primary-active-state-layer-opacity": $navigation-tab-primary-active-hover-state-layer-opacity,
    "navigation-tab-primary-inactive-state-layer-color": $navigation-tab-primary-inactive-hover-state-layer-color,
    "navigation-tab-primary-inactive-state-layer-color-rgb": $navigation-tab-primary-inactive-hover-state-layer-color-rgb,
    "navigation-tab-primary-inactive-state-layer-opacity": $navigation-tab-primary-inactive-hover-state-layer-opacity,
    "navigation-tab-primary-active-icon-color": $navigation-tab-primary-active-hover-icon-color,
    "navigation-tab-primary-inactive-icon-color": $navigation-tab-primary-inactive-hover-icon-color,
) !default;

$navigation-tab-primary-focus: (
    "navigation-tab-primary-indicator-color": $navigation-tab-primary-focus-indicator-color,
    "navigation-tab-primary-indicator-thickness": $navigation-tab-primary-focus-indicator-thickness,
    "navigation-tab-primary-indicator-offset": $navigation-tab-primary-focus-indicator-offset,
    "navigation-tab-primary-active-label-color": $navigation-tab-primary-active-focus-label-color,
    "navigation-tab-primary-inactiove-label-color": $navigation-tab-primary-inactiove-focus-label-color,
    "navigation-tab-primary-active-state-layer-color": $navigation-tab-primary-active-focus-state-layer-color,
    "navigation-tab-primary-active-state-layer-color-rgb": $navigation-tab-primary-active-focus-state-layer-color-rgb,
    "navigation-tab-primary-active-state-layer-opacity": $navigation-tab-primary-active-focus-state-layer-opacity,
    "navigation-tab-primary-inactive-state-layer-color": $navigation-tab-primary-inactive-focus-state-layer-color,
    "navigation-tab-primary-inactive-state-layer-color-rgb": $navigation-tab-primary-inactive-focus-state-layer-color-rgb,
    "navigation-tab-primary-inactive-state-layer-opacity": $navigation-tab-primary-inactive-focus-state-layer-opacity,
    "navigation-tab-primary-active-icon-color": $navigation-tab-primary-active-focus-icon-color,
    "navigation-tab-primary-inactive-icon-color": $navigation-tab-primary-inactive-focus-icon-color,
) !default;

$navigation-tab-primary-pressed: (
    "navigation-tab-primary-active-label-color": $navigation-tab-primary-active-pressed-label-color,
    "navigation-tab-primary-inactiove-label-color": $navigation-tab-primary-inactiove-pressed-label-color,
    "navigation-tab-primary-active-state-layer-color": $navigation-tab-primary-active-pressed-state-layer-color,
    "navigation-tab-primary-active-state-layer-color-rgb": $navigation-tab-primary-active-pressed-state-layer-color-rgb,
    "navigation-tab-primary-active-state-layer-opacity": $navigation-tab-primary-active-pressed-state-layer-opacity,
    "navigation-tab-primary-inactive-state-layer-color": $navigation-tab-primary-inactive-pressed-state-layer-color,
    "navigation-tab-primary-inactive-state-layer-color-rgb": $navigation-tab-primary-inactive-pressed-state-layer-color-rgb,
    "navigation-tab-primary-inactive-state-layer-opacity": $navigation-tab-primary-inactive-pressed-state-layer-opacity,
    "navigation-tab-primary-active-icon-color": $navigation-tab-primary-active-pressed-icon-color,
    "navigation-tab-primary-inactive-icon-color": $navigation-tab-primary-inactive-pressed-icon-color,
) !default;