@use "../reference-tokens" as ref;
@use "../system-tokens" as sys;


$standard-icon-button-icon-size: 1.5rem !default;
$standard-icon-button-unselected-icon-color: sys.$on-surface !default;
$standard-icon-button-selected-icon-color: sys.$primary !default;
$standard-icon-button-state-layer-size: 2.5rem !default;
$standard-icon-button-state-layer-width: 2.5rem !default;
$standard-icon-button-state-layer-height: 2.5rem !default;
$standard-icon-button-state-layer-shape: sys.$shape-corner-full !default;

$standard-icon-button-disabled-icon-color: sys.$on-surface !default;
$standard-icon-button-disabled-icon-color-rgb: sys.$on-surface-rgb !default;
$standard-icon-button-disabled-icon-opacity: 0.38 !default;

$standard-icon-button-unselected-hover-state-layer-color: sys.$on-surface !default;
$standard-icon-button-unselected-hover-state-layer-color-rgb: sys.$on-surface-rgb !default;
$standard-icon-button-unselected-hover-state-layer-opacity: sys.$state-hover-state-layer-opacity !default;
$standard-icon-button-selected-hover-state-layer-color: sys.$primary !default;
$standard-icon-button-selected-hover-state-layer-color-rgb: sys.$primary-rgb !default;
$standard-icon-button-selected-hover-state-layer-opacity: sys.$state-hover-state-layer-opacity !default;
$standard-icon-button-unselected-hover-icon-color: sys.$on-surface !default; 
$standard-icon-button-selected-hover-icon-color: sys.$primary !default; 

$standard-icon-button-focus-indicator-color: sys.$secondary !default;
$standard-icon-button-focus-indicator-thickness: sys.$state-focus-indicator-thickness !default;
$standard-icon-button-focus-indicator-offset: sys.$state-focus-indicator-offset !default;
$standard-icon-button-unselected-focus-state-layer-color: sys.$on-surface !default;
$standard-icon-button-unselected-focus-state-layer-color-rgb: sys.$on-surface-rgb !default;
$standard-icon-button-unselected-focus-state-layer-opacity: sys.$state-focus-state-layer-opacity !default;
$standard-icon-button-selected-focus-state-layer-color: sys.$primary !default;
$standard-icon-button-selected-focus-state-layer-color-rgb: sys.$primary-rgb !default;
$standard-icon-button-selected-focus-state-layer-opacity: sys.$state-focus-state-layer-opacity !default;
$standard-icon-button-unselected-focus-icon-color: sys.$on-surface !default;  
$standard-icon-button-selected-focus-icon-color: sys.$primary !default;  

$standard-icon-button-unselected-pressed-state-layer-color: sys.$on-surface !default;
$standard-icon-button-unselected-pressed-state-layer-color-rgb: sys.$on-surface-rgb !default;
$standard-icon-button-unselected-pressed-state-layer-opacity: sys.$state-pressed-state-layer-opacity !default;
$standard-icon-button-selected-pressed-state-layer-color: sys.$primary !default;
$standard-icon-button-selected-pressed-state-layer-color-rgb: sys.$primary-rgb !default;
$standard-icon-button-selected-pressed-state-layer-opacity: sys.$state-pressed-state-layer-opacity !default;
$standard-icon-button-unselected-pressed-icon-color: sys.$on-surface !default;  
$standard-icon-button-selected-pressed-icon-color: sys.$primary !default;  

$standard-icon-button: (
    "standard-icon-button-icon-size": $standard-icon-button-icon-size,
    "standard-icon-button-unselected-icon-color": $standard-icon-button-unselected-icon-color,
    "standard-icon-button-selected-icon-color": $standard-icon-button-selected-icon-color,
    "standard-icon-button-state-layer-size": $standard-icon-button-state-layer-size, 
    "standard-icon-button-state-layer-width": $standard-icon-button-state-layer-width,
    "standard-icon-button-state-layer-height": $standard-icon-button-state-layer-height,
    "standard-icon-button-state-layer-shape": $standard-icon-button-state-layer-shape,
) !default;

$standard-icon-button-disabled: (
    "standard-icon-button-icon-color": $standard-icon-button-disabled-icon-color,
    "standard-icon-button-icon-color-rgb": $standard-icon-button-disabled-icon-color-rgb, 
    "standard-icon-button-icon-opacity": $standard-icon-button-disabled-icon-opacity,
) !default;

$standard-icon-button-hover: (
    "standard-icon-button-unselected-state-layer-color": $standard-icon-button-unselected-hover-state-layer-color,
    "standard-icon-button-unselected-state-layer-color-rgb": $standard-icon-button-unselected-hover-state-layer-color-rgb,
    "standard-icon-button-unselected-state-layer-opacity": $standard-icon-button-unselected-hover-state-layer-opacity,
    "standard-icon-button-selected-state-layer-color": $standard-icon-button-selected-hover-state-layer-color,
    "standard-icon-button-selected-state-layer-color-rgb": $standard-icon-button-selected-hover-state-layer-color-rgb,
    "standard-icon-button-selected-state-layer-opacity": $standard-icon-button-selected-hover-state-layer-opacity,
    "standard-icon-button-unselected-icon-color": $standard-icon-button-unselected-hover-icon-color,
    "standard-icon-button-selected-icon-color": $standard-icon-button-selected-hover-icon-color,
) !default;

$standard-icon-button-focus: (
    "standard-icon-button-indicator-color": $standard-icon-button-focus-indicator-color,
    "standard-icon-button-indicator-thickness": $standard-icon-button-focus-indicator-thickness,
    "standard-icon-button-indicator-offset": $standard-icon-button-focus-indicator-offset,
    "standard-icon-button-unselected-state-layer-color": $standard-icon-button-unselected-focus-state-layer-color,
    "standard-icon-button-unselected-state-layer-color-rgb": $standard-icon-button-unselected-focus-state-layer-color-rgb,
    "standard-icon-button-unselected-state-layer-opacity": $standard-icon-button-unselected-focus-state-layer-opacity,
    "standard-icon-button-selected-state-layer-color": $standard-icon-button-selected-focus-state-layer-color,
    "standard-icon-button-selected-state-layer-color-rgb": $standard-icon-button-selected-focus-state-layer-color-rgb,
    "standard-icon-button-selected-state-layer-opacity": $standard-icon-button-selected-focus-state-layer-opacity,
    "standard-icon-button-unselected-icon-color": $standard-icon-button-unselected-focus-icon-color,
    "standard-icon-button-selected-icon-color": $standard-icon-button-selected-focus-icon-color,
) !default;

$standard-icon-button-pressed: (
    "standard-icon-button-unselected-state-layer-color": $standard-icon-button-unselected-pressed-state-layer-color,
    "standard-icon-button-unselected-state-layer-color-rgb": $standard-icon-button-unselected-pressed-state-layer-color-rgb,
    "standard-icon-button-unselected-state-layer-opacity": $standard-icon-button-unselected-pressed-state-layer-opacity,
    "standard-icon-button-selected-state-layer-color": $standard-icon-button-selected-pressed-state-layer-color,
    "standard-icon-button-selected-state-layer-color-rgb": $standard-icon-button-selected-pressed-state-layer-color-rgb,
    "standard-icon-button-selected-state-layer-opacity": $standard-icon-button-selected-pressed-state-layer-opacity,
    "standard-icon-button-unselected-icon-color": $standard-icon-button-unselected-pressed-icon-color,
    "standard-icon-button-selected-icon-color": $standard-icon-button-selected-pressed-icon-color,
) !default;