@use "../reference-tokens" as *;
@use "../system-tokens" as *;

$tab-link-navigation-container-color: transparent !default;
$tab-link-navigation-container-shape: $system-shape-corner-none !default;
$tab-link-navigation-inline-container-height: 3rem !default;
$tab-link-navigation-container-height: 4rem !default;
$tab-link-navigation-container-elevation: $system-elevation-level0 !default;
$tab-link-navigation-label-font: $system-typescale-title-small-font !default;
$tab-link-navigation-label-line-height: $system-typescale-title-small-line-height !default;
$tab-link-navigation-label-size: $system-typescale-title-small-font-size !default;
$tab-link-navigation-label-weight: $system-typescale-title-small-font-weight !default;
$tab-link-navigation-label-tracking: $system-typescale-title-small-font-tracking !default;
$tab-link-navigation-active-label-color: $system-color-on-primary !default;
$tab-link-navigation-inactive-label-color: $system-color-primary-container !default;
$tab-link-navigation-icon-size: 1.5rem !default;
$tab-link-navigation-active-icon-color: $system-color-on-primary !default;
$tab-link-navigation-inactive-icon-color: $system-color-primary-container !default;
$tab-link-navigation-divider-color: $system-color-surface-container-highest !default;
$tab-link-navigation-divider-height: 0.0625rem !default;
$tab-link-navigation-active-indicator-color: $system-color-on-primary !default;
$tab-link-navigation-active-indicator-height: 3px !default;
$tab-link-navigation-active-indicator-shape: 0.1875rem 0.1875rem 0 0 !default;

$tab-link-navigation-active-hover-label-color: $system-color-on-primary !default;
$tab-link-navigation-inactive-hover-label-color: $system-color-on-primary !default;
$tab-link-navigation-active-hover-state-layer-color: $system-color-on-primary !default;
$tab-link-navigation-active-hover-state-layer-color-rgb: $system-color-on-primary-rgb !default;
$tab-link-navigation-active-hover-state-layer-opacity: $system-state-hover-state-layer-opacity !default;
$tab-link-navigation-inactive-hover-state-layer-color: $system-color-on-primary !default;
$tab-link-navigation-inactive-hover-state-layer-color-rgb: $system-color-on-primary-rgb !default;
$tab-link-navigation-inactive-hover-state-layer-opacity: $system-state-hover-state-layer-opacity !default;
$tab-link-navigation-active-hover-icon-color: $system-color-on-primary !default;
$tab-link-navigation-inactive-hover-icon-color: $system-color-on-primary !default;

$tab-link-navigation-focus-indicator-color: $system-color-secondary !default;
$tab-link-navigation-focus-indicator-thickness: $system-state-focus-indicator-thickness !default;
$tab-link-navigation-focus-indicator-offset: $system-state-focus-indicator-offset !default;
$tab-link-navigation-active-focus-label-color: $system-color-on-primary !default;
$tab-link-navigation-inactive-focus-label-color: $system-color-on-primary !default;
$tab-link-navigation-active-focus-state-layer-color: $system-color-on-primary !default;
$tab-link-navigation-active-focus-state-layer-color-rgb: $system-color-on-primary-rgb !default;
$tab-link-navigation-active-focus-state-layer-opacity: $system-state-focus-state-layer-opacity !default;
$tab-link-navigation-inactive-focus-state-layer-color: $system-color-on-primary !default;
$tab-link-navigation-inactive-focus-state-layer-color-rgb: $system-color-on-primary-rgb !default;
$tab-link-navigation-inactive-focus-state-layer-opacity: $system-state-focus-state-layer-opacity !default;
$tab-link-navigation-active-focus-icon-color: $system-color-on-primary !default;
$tab-link-navigation-inactive-focus-icon-color: $system-color-on-primary !default;

$tab-link-navigation-active-pressed-label-color: $system-color-on-primary !default;
$tab-link-navigation-inactive-pressed-label-color: $system-color-on-primary !default;
$tab-link-navigation-active-pressed-state-layer-color: $system-color-on-primary !default;
$tab-link-navigation-active-pressed-state-layer-color-rgb: $system-color-on-primary-rgb !default;
$tab-link-navigation-active-pressed-state-layer-opacity: $system-state-pressed-state-layer-opacity !default;
$tab-link-navigation-inactive-pressed-state-layer-color: $system-color-on-primary !default;
$tab-link-navigation-inactive-pressed-state-layer-color-rgb: $system-color-on-primary-rgb !default;
$tab-link-navigation-inactive-pressed-state-layer-opacity: $system-state-pressed-state-layer-opacity !default;
$tab-link-navigation-active-pressed-icon-color: $system-color-on-primary !default;
$tab-link-navigation-inactive-pressed-icon-color: $system-color-on-primary !default;

$tab-link-navigation: (
    "tab-link-navigation-container-color": $tab-link-navigation-container-color,
    "tab-link-navigation-container-shape": $tab-link-navigation-container-shape,
    "tab-link-navigation-inline-container-height": $tab-link-navigation-inline-container-height,
    "tab-link-navigation-container-height": $tab-link-navigation-container-height,
    "tab-link-navigation-container-elevation": $tab-link-navigation-container-elevation,
    "tab-link-navigation-label-font": $tab-link-navigation-label-font,
    "tab-link-navigation-label-line-height": $tab-link-navigation-label-line-height,
    "tab-link-navigation-label-size": $tab-link-navigation-label-size,
    "tab-link-navigation-label-weight": $tab-link-navigation-label-weight,
    "tab-link-navigation-label-tracking": $tab-link-navigation-label-tracking,
    "tab-link-navigation-active-label-color": $tab-link-navigation-active-label-color,
    "tab-link-navigation-inactive-label-color": $tab-link-navigation-inactive-label-color,
    "tab-link-navigation-icon-size": $tab-link-navigation-icon-size,
    "tab-link-navigation-active-icon-color": $tab-link-navigation-active-icon-color,
    "tab-link-navigation-inactive-icon-color": $tab-link-navigation-inactive-icon-color,
    "tab-link-navigation-divider-color": $tab-link-navigation-divider-color,
    "tab-link-navigation-divider-height": $tab-link-navigation-divider-height,
    "tab-link-navigation-active-indicator-color": $tab-link-navigation-active-indicator-color,
    "tab-link-navigation-active-indicator-height": $tab-link-navigation-active-indicator-height,
    "tab-link-navigation-active-indicator-shape": $tab-link-navigation-active-indicator-shape,
) !default;

$tab-link-navigation-hover: (
    "tab-link-navigation-active-label-color": $tab-link-navigation-active-hover-label-color,
    "tab-link-navigation-inactive-label-color": $tab-link-navigation-inactive-hover-label-color,
    "tab-link-navigation-active-state-layer-color": $tab-link-navigation-active-hover-state-layer-color,
    "tab-link-navigation-active-state-layer-color-rgb": $tab-link-navigation-active-hover-state-layer-color-rgb,
    "tab-link-navigation-active-state-layer-opacity": $tab-link-navigation-active-hover-state-layer-opacity,
    "tab-link-navigation-inactive-state-layer-color": $tab-link-navigation-inactive-hover-state-layer-color,
    "tab-link-navigation-inactive-state-layer-color-rgb": $tab-link-navigation-inactive-hover-state-layer-color-rgb,
    "tab-link-navigation-inactive-state-layer-opacity": $tab-link-navigation-inactive-hover-state-layer-opacity,
    "tab-link-navigation-active-icon-color": $tab-link-navigation-active-hover-icon-color,
    "tab-link-navigation-inactive-icon-color": $tab-link-navigation-inactive-hover-icon-color,
) !default;

$tab-link-navigation-focus: (
    "tab-link-navigation-indicator-color": $tab-link-navigation-focus-indicator-color,
    "tab-link-navigation-indicator-thickness": $tab-link-navigation-focus-indicator-thickness,
    "tab-link-navigation-indicator-offset": $tab-link-navigation-focus-indicator-offset,
    "tab-link-navigation-active-label-color": $tab-link-navigation-active-focus-label-color,
    "tab-link-navigation-inactive-label-color": $tab-link-navigation-inactive-focus-label-color,
    "tab-link-navigation-active-state-layer-color": $tab-link-navigation-active-focus-state-layer-color,
    "tab-link-navigation-active-state-layer-color-rgb": $tab-link-navigation-active-focus-state-layer-color-rgb,
    "tab-link-navigation-active-state-layer-opacity": $tab-link-navigation-active-focus-state-layer-opacity,
    "tab-link-navigation-inactive-state-layer-color": $tab-link-navigation-inactive-focus-state-layer-color,
    "tab-link-navigation-inactive-state-layer-color-rgb": $tab-link-navigation-inactive-focus-state-layer-color-rgb,
    "tab-link-navigation-inactive-state-layer-opacity": $tab-link-navigation-inactive-focus-state-layer-opacity,
    "tab-link-navigation-active-icon-color": $tab-link-navigation-active-focus-icon-color,
    "tab-link-navigation-inactive-icon-color": $tab-link-navigation-inactive-focus-icon-color,
) !default;

$tab-link-navigation-pressed: (
    "tab-link-navigation-active-label-color": $tab-link-navigation-active-pressed-label-color,
    "tab-link-navigation-inactive-label-color": $tab-link-navigation-inactive-pressed-label-color,
    "tab-link-navigation-active-state-layer-color": $tab-link-navigation-active-pressed-state-layer-color,
    "tab-link-navigation-active-state-layer-color-rgb": $tab-link-navigation-active-pressed-state-layer-color-rgb,
    "tab-link-navigation-active-state-layer-opacity": $tab-link-navigation-active-pressed-state-layer-opacity,
    "tab-link-navigation-inactive-state-layer-color": $tab-link-navigation-inactive-pressed-state-layer-color,
    "tab-link-navigation-inactive-state-layer-color-rgb": $tab-link-navigation-inactive-pressed-state-layer-color-rgb,
    "tab-link-navigation-inactive-state-layer-opacity": $tab-link-navigation-inactive-pressed-state-layer-opacity,
    "tab-link-navigation-active-icon-color": $tab-link-navigation-active-pressed-icon-color,
    "tab-link-navigation-inactive-icon-color": $tab-link-navigation-inactive-pressed-icon-color,
) !default;