@mixin page-padding {
    padding: {
        top: var(--system-padding4);
        bottom: var(--system-padding4);
    };

    @media (min-width: 600px) {
        padding: var(--system-padding12);
    }
}

@mixin card-filled {
    background-color: var(--system-color-surface-container-highest);
    box-shadow: var(--system-elevation-level0);
    border-radius: var(--system-shape-corner-medium);
    padding: {
        left: var(--system-padding4);
        right: var(--system-padding4);
    }
}

@mixin card-outlined {
    background-color: var(--system-color-surface);
    box-shadow: var(--system-elevation-level0);
    border-radius: var(--system-shape-corner-medium);
    border: 1px solid var(--system-color-outline-variant);
    padding: {
        left: var(--system-padding4);
        right: var(--system-padding4);
    }
}