@mixin page-padding {
    padding: {
        top: var(--system-padding4);
        bottom: var(--system-padding4);
    };

    @media (min-width: 600px) {
        padding: var(--system-padding12);
    }
}

@mixin card-filled {
    background-color: var(--component-card-filled-container-color);
    box-shadow: var(--component-card-filled-container-elevation);
    border-radius: var(--component-card-filled-container-shape);
    padding: {
        left: var(--system-padding4);
        right: var(--system-padding4);
    };
    overflow: hidden;
}

@mixin card-outlined {
    background-color: var(--component-card-outlined-container-color);
    box-shadow: var(--component-card-outlined-container-elevation);
    border-radius: var(--component-card-outlined-container-shape);
    border: var(--component-card-outlined-outline-width) solid var(--component-card-outlined-outline-color);
    padding: {
        left: var(--system-padding4);
        right: var(--system-padding4);
    };
    overflow: hidden;
}