@use 'normalize';
@use 'box-sizing';
@use 'palette';

$font-family-sans: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

$app-bg: linear-gradient(
    to bottom,
    var(--primary) 21rem,
    var(--surface) 21rem,
);
$footer-bg: var(--surface-dim);
$navigation-color: var(--on-primary);
$footer-color: var(--on-surface-variant);
$dialog-overlay: rgba(var(--scrim-rgb), 0.8);
$drawer-navigation-bg: var(--surface);
$drawer-navigation-outline: var(--outline-variant);
$drawer-navigation-color: var(--on-surface);

$btn-rounded-md: 0.25rem;
$btn-fontsz-md: 1rem;
$btn-fontw-md: 500;
$btn-px-md: 1rem;
$btn-py-md: 0.5rem; 

$button-icon-rounded-md: 0.25rem;
$button-icon-font-size-md: 1rem;
$button-icon-font-weight-md: 500;
$button-icon-padding-md: 0.5rem; 

$layout: (
    "font-family-sans": $font-family-sans,
    "app-bg": $app-bg,
    "footer-bg": $footer-bg,
    "navigation-color": $navigation-color,
    "footer-color": $footer-color,
    "dialog-overlay": $dialog-overlay,
    "drawer-navigation-bg": $drawer-navigation-bg,
    "drawer-navigation-outline": $drawer-navigation-outline,
    "drawer-navigation-color": $drawer-navigation-color,
    "btn-rounded-md": $btn-rounded-md,
    "btn-fontsz-md": $btn-fontsz-md,
    "btn-fontw-md": $btn-fontw-md,
    "btn-px-md": $btn-px-md,
    "btn-py-md": $btn-py-md,
    "button-icon-rounded-md": $button-icon-rounded-md,
    "button-icon-font-size-md": $button-icon-font-size-md,
    "button-icon-font-weight-md": $button-icon-font-weight-md,
    "button-icon-padding-md": $button-icon-padding-md,
);

:root {
    @each $key, $value in $layout {
        --#{$key}: #{$value};
    }
}

body {
    font-family: var(--font-family-sans);
}