.cardContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--reference-padding2);
    padding: {
        top: var(--reference-padding4);
        bottom: var(--reference-padding4);
    };

    @media (min-width: 600px) {
        padding: var(--reference-padding12);
    }

    @media (min-width: 840px) {
        flex-direction: row;
    }
}

.card {
    width: 100%;
    height: var(--reference-spacer10);
    flex-grow: 1;
}

.cardContent {
    padding: {
        top: var(--reference-padding4);
        bottom: var(--reference-padding4);
    }
}

.cardHeader {
    text-align: center;
}

.cardBody {
    text-align: center;
}