@use "reference-tokens" as *;
@use "functions" as fn;

$system-color-primary: $reference-palette-primary40 !default;
$system-color-on-primary: $reference-palette-primary100 !default;
$system-color-primary-container: $reference-palette-primary90 !default;
$system-color-on-primary-container: $reference-palette-primary10 !default;

$system-color-secondary: $reference-palette-secondary40 !default;
$system-color-on-primary: $reference-palette-secondary100 !default;
$system-color-secondary-container: $reference-palette-secondary90 !default;
$system-color-on-primary-container: $reference-palette-secondary10 !default;

$system-color-surface-dim: $reference-palette-neutral87 !default;
$system-color-surface: $reference-palette-neutral98 !default;
$system-color-surface-bright: $reference-palette-neutral98 !default;
$system-color-surface-container-lowest: $reference-palette-neutral100 !default;
$system-color-surface-container-low: $reference-palette-neutral96 !default;
$system-color-surface-container: $reference-palette-neutral94 !default;
$system-color-surface-container-high: $reference-palette-neutral92 !default;
$system-color-surface-container-highest: $reference-palette-neutral90 !default;
$system-color-on-surface: $reference-palette-neutral10 !default;
$system-color-on-surface-variant: $reference-palette-neutral-variant30 !default;
$system-color-outline: $reference-palette-neutral-variant50 !default;
$system-color-outline-variant: $reference-palette-neutral-variant80 !default;

$system-colors: (
    "system-color-primary": $system-color-primary,
    "system-color-on-primary": $system-color-on-primary,
    "system-color-primary-container": $system-color-primary-container,
    "system-color-on-primary-container": $system-color-on-primary-container,
    "system-color-secondary": $system-color-secondary,
    "system-color-on-secondary": $system-color-on-primary,
    "system-color-secondary-container": $system-color-secondary-container,
    "system-color-on-secondary-container": $system-color-on-primary-container,
    "system-color-surface-dim": $system-color-surface-dim,
    "system-color-surface": $system-color-surface,
    "system-color-surface-bright": $system-color-surface-bright,
    "system-color-on-surface": $system-color-on-surface,
    "system-color-on-surface-variant": $system-color-on-surface-variant,
    "system-color-surface-container-lowest": $system-color-surface-container-lowest,
    "system-color-surface-container-low": $system-color-surface-container-low,
    "system-color-surface-container": $system-color-surface-container,
    "system-color-surface-container-high": $system-color-surface-container-high,
    "system-color-surface-container-highest": $system-color-surface-container-highest,
    "system-color-outline": $system-color-outline,
    "system-color-outline-variant": $system-color-outline-variant,
) !default;

$system-color-primary-rgb: fn.to-rgb($system-color-primary) !default;
$system-color-on-primary-rgb: fn.to-rgb($system-color-on-primary) !default;
$system-color-primary-container-rgb: fn.to-rgb($system-color-primary-container) !default;
$system-color-on-primary-container-rgb: fn.to-rgb($system-color-on-primary-container) !default;

$system-color-secondary-rgb: fn.to-rgb($system-color-secondary) !default;
$system-color-on-primary-rgb: fn.to-rgb($system-color-on-primary) !default;
$system-color-secondary-container-rgb: fn.to-rgb($system-color-secondary-container) !default;
$system-color-on-primary-container-rgb: fn.to-rgb($system-color-on-primary-container) !default;

$system-color-surface-dim-rgb: fn.to-rgb($system-color-surface-dim) !default;
$system-color-surface-rgb: fn.to-rgb($system-color-surface) !default;
$system-color-surface-bright-rgb: fn.to-rgb($system-color-surface-bright) !default;
$system-color-surface-container-lowest-rgb: fn.to-rgb($system-color-surface-container-lowest) !default;
$system-color-surface-container-low-rgb: fn.to-rgb($system-color-surface-container-low) !default;
$system-color-surface-container-rgb: fn.to-rgb($system-color-surface-container) !default;
$system-color-surface-container-high-rgb: fn.to-rgb($system-color-surface-container-high) !default;
$system-color-surface-container-highest-rgb: fn.to-rgb($system-color-surface-container-highest) !default;
$system-color-on-surface-rgb: fn.to-rgb($system-color-on-surface) !default;
$system-color-on-surface-variant-rgb: fn.to-rgb($system-color-on-surface-variant) !default;
$system-color-outline-rgb: fn.to-rgb($system-color-outline) !default;
$system-color-outline-variant-rgb: fn.to-rgb($system-color-outline-variant) !default;

$system-colors-rgb: (
    "system-color-primary-rgb": $system-color-primary-rgb,
    "system-color-on-primary-rgb": $system-color-on-primary-rgb,
    "system-color-primary-container-rgb": $system-color-primary-container-rgb,
    "system-color-on-primary-container-rgb": $system-color-on-primary-container-rgb,
    "system-color-secondary-rgb": $system-color-secondary-rgb,
    "system-color-on-secondary-rgb": $system-color-on-primary-rgb,
    "system-color-secondary-container-rgb": $system-color-secondary-container-rgb,
    "system-color-on-secondary-container-rgb": $system-color-on-primary-container-rgb,
    "system-color-surface-dim-rgb": $system-color-surface-dim-rgb,
    "system-color-surface-rgb": $system-color-surface-rgb,
    "system-color-surface-bright-rgb": $system-color-surface-bright-rgb,
    "system-color-on-surface-rgb": $system-color-on-surface-rgb,
    "system-color-on-surface-variant-rgb": $system-color-on-surface-variant-rgb,
    "system-color-surface-container-lowest-rgb": $system-color-surface-container-lowest-rgb,
    "system-color-surface-container-low-rgb": $system-color-surface-container-low-rgb,
    "system-color-surface-container-rgb": $system-color-surface-container-rgb,
    "system-color-surface-container-high-rgb": $system-color-surface-container-high-rgb,
    "system-color-surface-container-highest-rgb": $system-color-surface-container-highest-rgb,
    "system-color-outline-rgb": $system-color-outline-rgb,
    "system-color-outline-variant-rgb": $system-color-outline-variant-rgb,
) !default;

$system-color-primary-dark: $reference-palette-primary80 !default;
$system-color-on-primary-dark: $reference-palette-primary20 !default;
$system-color-primary-container-dark: $reference-palette-primary30 !default;
$system-color-on-primary-container-dark: $reference-palette-primary90 !default;

$system-color-secondary-dark: $reference-palette-secondary80 !default;
$system-color-on-primary-dark: $reference-palette-secondary20 !default;
$system-color-secondary-container-dark: $reference-palette-secondary30 !default;
$system-color-on-primary-container-dark: $reference-palette-secondary90 !default;

$system-color-surface-dim-dark: $reference-palette-neutral6 !default;
$system-color-surface-dark: $reference-palette-neutral6 !default;
$system-color-surface-bright-dark: $reference-palette-neutral24 !default;
$system-color-surface-container-lowest-dark: $reference-palette-neutral4 !default;
$system-color-surface-container-low-dark: $reference-palette-neutral10 !default;
$system-color-surface-container-dark: $reference-palette-neutral12 !default;
$system-color-surface-container-high-dark: $reference-palette-neutral17 !default;
$system-color-surface-container-highest-dark: $reference-palette-neutral22 !default;
$system-color-on-surface-dark: $reference-palette-neutral90 !default;
$system-color-on-surface-variant-dark: $reference-palette-neutral-variant80 !default;
$system-color-outline-dark: $reference-palette-neutral-variant60 !default;
$system-color-outline-variant-dark: $reference-palette-neutral-variant30 !default;

$system-colors-dark: (
    "system-color-primary": $system-color-primary-dark,
    "system-color-on-primary": $system-color-on-primary-dark,
    "system-color-primary-container": $system-color-primary-container-dark,
    "system-color-on-primary-container": $system-color-on-primary-container-dark,
    "system-color-secondary": $system-color-secondary-dark,
    "system-color-on-secondary": $system-color-on-primary-dark,
    "system-color-secondary-container": $system-color-secondary-container-dark,
    "system-color-on-secondary-container": $system-color-on-primary-container-dark,
    "system-color-surface-dim": $system-color-surface-dim-dark,
    "system-color-surface": $system-color-surface-dark,
    "system-color-surface-bright": $system-color-surface-bright-dark,
    "system-color-on-surface": $system-color-on-surface-dark,
    "system-color-on-surface-variant": $system-color-on-surface-variant-dark,
    "system-color-surface-container-lowest": $system-color-surface-container-lowest-dark,
    "system-color-surface-container-low": $system-color-surface-container-low-dark,
    "system-color-surface-container": $system-color-surface-container-dark,
    "system-color-surface-container-high": $system-color-surface-container-high-dark,
    "system-color-surface-container-highest": $system-color-surface-container-highest-dark,
    "system-color-outline": $system-color-outline-dark,
    "system-color-outline-variant": $system-color-outline-variant-dark,
) !default;

$system-color-primary-dark-rgb: fn.to-rgb($system-color-primary-dark) !default;
$system-color-on-primary-dark-rgb: fn.to-rgb($system-color-on-primary-dark) !default;
$system-color-primary-container-dark-rgb: fn.to-rgb($system-color-primary-container-dark) !default;
$system-color-on-primary-container-dark-rgb: fn.to-rgb($system-color-on-primary-container-dark) !default;

$system-color-secondary-dark-rgb: fn.to-rgb($system-color-secondary-dark) !default;
$system-color-on-primary-dark-rgb: fn.to-rgb($system-color-on-primary-dark) !default;
$system-color-secondary-container-dark-rgb: fn.to-rgb($system-color-secondary-container-dark) !default;
$system-color-on-primary-container-dark-rgb: fn.to-rgb($system-color-on-primary-container-dark) !default;

$system-color-surface-dim-dark-rgb: fn.to-rgb($system-color-surface-dim-dark) !default;
$system-color-surface-dark-rgb: fn.to-rgb($system-color-surface-dark) !default;
$system-color-surface-bright-dark-rgb: fn.to-rgb($system-color-surface-bright-dark) !default;
$system-color-surface-container-lowest-dark-rgb: fn.to-rgb($system-color-surface-container-lowest-dark) !default;
$system-color-surface-container-low-dark-rgb: fn.to-rgb($system-color-surface-container-low-dark) !default;
$system-color-surface-container-dark-rgb: fn.to-rgb($system-color-surface-container-dark) !default;
$system-color-surface-container-high-dark-rgb: fn.to-rgb($system-color-surface-container-high-dark) !default;
$system-color-surface-container-highest-dark-rgb: fn.to-rgb($system-color-surface-container-highest-dark) !default;
$system-color-on-surface-dark-rgb: fn.to-rgb($system-color-on-surface-dark) !default;
$system-color-on-surface-variant-dark-rgb: fn.to-rgb($system-color-on-surface-variant-dark) !default;
$system-color-outline-dark-rgb: fn.to-rgb($system-color-outline-dark) !default;
$system-color-outline-variant-dark-rgb: fn.to-rgb($system-color-outline-variant-dark) !default;

$system-colors-dark-rgb: (
    "system-color-primary-rgb": $system-color-primary-dark-rgb,
    "system-color-on-primary-rgb": $system-color-on-primary-dark-rgb,
    "system-color-primary-container-rgb": $system-color-primary-container-dark-rgb,
    "system-color-on-primary-container-rgb": $system-color-on-primary-container-dark-rgb,
    "system-color-secondary-rgb": $system-color-secondary-dark-rgb,
    "system-color-on-secondary-rgb": $system-color-on-primary-dark-rgb,
    "system-color-secondary-container-rgb": $system-color-secondary-container-dark-rgb,
    "system-color-on-secondary-container-rgb": $system-color-on-primary-container-dark-rgb,
    "system-color-surface-dim-rgb": $system-color-surface-dim-dark-rgb,
    "system-color-surface-rgb": $system-color-surface-dark-rgb,
    "system-color-surface-bright-rgb": $system-color-surface-bright-dark-rgb,
    "system-color-on-surface-rgb": $system-color-on-surface-dark-rgb,
    "system-color-on-surface-variant-rgb": $system-color-on-surface-variant-dark-rgb,
    "system-color-surface-container-lowest-rgb": $system-color-surface-container-lowest-dark-rgb,
    "system-color-surface-container-low-rgb": $system-color-surface-container-low-dark-rgb,
    "system-color-surface-container-rgb": $system-color-surface-container-dark-rgb,
    "system-color-surface-container-high-rgb": $system-color-surface-container-high-dark-rgb,
    "system-color-surface-container-highest-rgb": $system-color-surface-container-highest-dark-rgb,
    "system-color-outline-rgb": $system-color-outline-dark-rgb,
    "system-color-outline-variant-rgb": $system-color-outline-variant-dark-rgb,
) !default;

$system-color-scrim: $reference-palette-neutral0 !default;
$system-color-scrim-rgb: fn.to-rgb($system-color-scrim) !default;

$system-color-scrims: (
    "system-color-scrim": $system-color-scrim,
    "system-color-scrim-rgb": $system-color-scrim-rgb,
) !default;

$system-color-shadow: $reference-palette-neutral0 !default;
$system-color-shadow-rgb: fn.to-rgb($system-color-shadow) !default;

$system-color-shadows: (
    "system-color-shadow": $system-color-shadow,
    "system-color-shadow-rgb": $system-color-shadow-rgb,
) !default;

$system-elevation-level0: 0 0 0 0 rgba(var(--shadow-rgb), 0.2), 0 0 0 0 rgba(var(--shadow-rgb), 0.14), 0 0 0 0 rgba(var(--shadow-rgb), 0.12) !default;
$system-elevation-level1: 0 2px 1px -1px rgba(var(--shadow-rgb), 0.2), 0 1px 1px 0 rgba(var(--shadow-rgb), 0.14), 0 1px 3px 0 rgba(var(--shadow-rgb), 0.12) !default;
$system-elevation-level2: 0 3px 3px -2px rgba(var(--shadow-rgb), 0.2), 0 3px 4px 0 rgba(var(--shadow-rgb), 0.14), 0 1px 8px 0 rgba(var(--shadow-rgb), 0.12) !default;
$system-elevation-level3: 0 3px 5px -1px rgba(var(--shadow-rgb), 0.2), 0 6px 10px 0 rgba(var(--shadow-rgb), 0.14), 0 1px 18px 0 rgba(var(--shadow-rgb), 0.12) !default;
$system-elevation-level4: 0 5px 5px -3px rgba(var(--shadow-rgb), 0.2), 0 8px 10px 1px rgba(var(--shadow-rgb), 0.14), 0 3px 14px 2px rgba(var(--shadow-rgb), 0.12) !default;
$system-elevation-level5: 0 7px 8px -4px rgba(var(--shadow-rgb), 0.2), 0 12px 17px 2px rgba(var(--shadow-rgb), 0.14), 0 5px 22px 4px rgba(var(--shadow-rgb), 0.12) !default;

$system-elevations: (
    "system-elevation-level0": $system-elevation-level0,
    "system-elevation-level1": $system-elevation-level1,
    "system-elevation-level2": $system-elevation-level2,
    "system-elevation-level3": $system-elevation-level3,
    "system-elevation-level4": $system-elevation-level4,
) !default;

$system-state-hover-state-layer-opacity: 0.08 !default;
$system-state-focus-state-layer-opacity: 0.1 !default;
$system-state-focus-indicator-thickness: 0.1875rem !default;
$system-state-focus-indicator-offset: 0.125rem !default;
$system-state-pressed-state-layer-opacity: 0.1 !default;
$system-state-dragged-state-layer-opacity: 0.16 !default;

$system-states: (
    "system-state-hover-state-layer-opacity": $system-state-hover-state-layer-opacity,
    "system-state-focus-state-layer-opacity": $system-state-focus-state-layer-opacity,
    "system-state-focus-indicator-thickness": $system-state-focus-indicator-thickness,
    "system-state-focus-indicator-offset": $system-state-focus-indicator-offset,
    "system-state-pressed-state-layer-opacity": $system-state-pressed-state-layer-opacity,
    "system-state-dragged-state-layer-opacity": $system-state-dragged-state-layer-opacity,
) !default;

$system-typescale-display-large-font: $reference-typeface-brand !default;
$system-typescale-display-large-font-weight: 400 !default;
$system-typescale-display-large-font-size: 57pt !default;
$system-typescale-display-large-font-tracking: -0.25pt !default;
$system-typescale-display-large-line-height: 64pt !default;
$system-typescale-display-medium-font: $reference-typeface-brand !default;
$system-typescale-display-medium-font-weight: 400 !default;
$system-typescale-display-medium-font-size: 45pt !default;
$system-typescale-display-medium-font-tracking: 0pt !default;
$system-typescale-display-medium-line-height: 52pt !default;
$system-typescale-display-small-font: $reference-typeface-brand !default;
$system-typescale-display-small-font-weight: 400 !default;
$system-typescale-display-small-font-size: 36pt !default;
$system-typescale-display-small-font-tracking: 0pt !default;
$system-typescale-display-small-line-height: 44pt !default;
$system-typescale-headline-large-font: $reference-typeface-brand !default;
$system-typescale-headline-large-font-weight: 400 !default;
$system-typescale-headline-large-font-size: 32pt !default;
$system-typescale-headline-large-font-tracking: 0pt !default;
$system-typescale-headline-large-line-height: 40pt !default;
$system-typescale-headline-medium-font: $reference-typeface-brand !default;
$system-typescale-headline-medium-font-weight: 400 !default;
$system-typescale-headline-medium-font-size: 28pt !default;
$system-typescale-headline-medium-font-tracking: 0pt !default;
$system-typescale-headline-medium-line-height: 36pt !default;
$system-typescale-headline-small-font: $reference-typeface-brand !default;
$system-typescale-headline-small-font-weight: 400 !default;
$system-typescale-headline-small-font-size: 24pt !default;
$system-typescale-headline-small-font-tracking: 0pt !default;
$system-typescale-headline-small-line-height: 32pt !default;
$system-typescale-title-large-font: $reference-typeface-brand !default;
$system-typescale-title-large-font-weight: 400 !default;
$system-typescale-title-large-font-size: 22pt !default;
$system-typescale-title-large-font-tracking: 0pt !default;
$system-typescale-title-large-line-height: 28pt !default;
$system-typescale-title-medium-font: $reference-typeface-brand !default;
$system-typescale-title-medium-font-weight: 500 !default;
$system-typescale-title-medium-font-size: 16pt !default;
$system-typescale-title-medium-font-tracking: 0.15pt !default;
$system-typescale-title-medium-line-height: 24pt !default;
$system-typescale-title-small-font: $reference-typeface-brand !default;
$system-typescale-title-small-font-weight: 500 !default;
$system-typescale-title-small-font-size: 14pt !default;
$system-typescale-title-small-font-tracking: 0.1pt !default;
$system-typescale-title-small-line-height: 20pt !default;
$system-typescale-body-large-font: $reference-typeface-plain !default;
$system-typescale-body-large-font-weight: 400 !default;
$system-typescale-body-large-font-size: 16pt !default;
$system-typescale-body-large-font-tracking: 0.5pt !default;
$system-typescale-body-large-line-height: 24pt !default;
$system-typescale-body-medium-font: $reference-typeface-plain !default;
$system-typescale-body-medium-font-weight: 400 !default;
$system-typescale-body-medium-font-size: 14pt !default;
$system-typescale-body-medium-font-tracking: 0.25pt !default;
$system-typescale-body-medium-line-height: 20pt !default;
$system-typescale-body-small-font: $reference-typeface-plain !default;
$system-typescale-body-small-font-weight: 400 !default;
$system-typescale-body-small-font-size: 12pt !default;
$system-typescale-body-small-font-tracking: 0.4pt !default;
$system-typescale-body-small-line-height: 16pt !default;
$system-typescale-label-large-font: $reference-typeface-plain !default;
$system-typescale-label-large-font-weight: 500 !default;
$system-typescale-label-large-font-weight-prominent: 700 !default;
$system-typescale-label-large-font-size: 14pt !default;
$system-typescale-label-large-font-tracking: 0.1pt !default;
$system-typescale-label-large-line-height: 20pt !default;
$system-typescale-label-medium-font: $reference-typeface-plain !default;
$system-typescale-label-medium-font-weight: 500 !default;
$system-typescale-label-medium-font-weight-prominent: 700 !default;
$system-typescale-label-medium-font-size: 12pt !default;
$system-typescale-label-medium-font-tracking: 0.5pt !default;
$system-typescale-label-medium-line-height: 16pt !default;
$system-typescale-label-medium-text-transform: none !default;
$system-typescale-label-small-font: $reference-typeface-plain !default;
$system-typescale-label-small-font-weight: 500 !default;
$system-typescale-label-small-font-size: 11pt !default;
$system-typescale-label-small-font-tracking: 0.5pt !default;
$system-typescale-label-small-line-height: 16pt !default;

$system-typescales: (
    "system-typescale-display-large-font": $system-typescale-display-large-font,
    "system-typescale-display-large-font-weight": $system-typescale-display-large-font-weight,
    "system-typescale-display-large-font-size": $system-typescale-display-large-font-size,
    "system-typescale-display-large-font-tracking": $system-typescale-display-large-font-tracking,
    "system-typescale-display-large-line-height": $system-typescale-display-large-line-height,
    "system-typescale-display-medium-font": $system-typescale-display-medium-font,
    "system-typescale-display-medium-font-weight": $system-typescale-display-medium-font-weight,
    "system-typescale-display-medium-font-size": $system-typescale-display-medium-font-size,
    "system-typescale-display-medium-font-tracking": $system-typescale-display-medium-font-tracking,
    "system-typescale-display-medium-line-height": $system-typescale-display-medium-line-height,
    "system-typescale-display-small-font": $system-typescale-display-small-font,
    "system-typescale-display-small-font-weight": $system-typescale-display-small-font-weight,
    "system-typescale-display-small-font-size": $system-typescale-display-small-font-size,
    "system-typescale-display-small-font-tracking": $system-typescale-display-small-font-tracking,
    "system-typescale-display-small-line-height": $system-typescale-display-small-line-height,
    "system-typescale-headline-large-font": $system-typescale-headline-large-font,
    "system-typescale-headline-large-font-weight": $system-typescale-headline-large-font-weight,
    "system-typescale-headline-large-font-size": $system-typescale-headline-large-font-size,
    "system-typescale-headline-large-font-tracking": $system-typescale-headline-large-font-tracking,
    "system-typescale-headline-large-line-height": $system-typescale-headline-large-line-height,
    "system-typescale-headline-medium-font": $system-typescale-headline-medium-font,
    "system-typescale-headline-medium-font-weight": $system-typescale-headline-medium-font-weight,
    "system-typescale-headline-medium-font-size": $system-typescale-headline-medium-font-size,
    "system-typescale-headline-medium-font-tracking": $system-typescale-headline-medium-font-tracking,
    "system-typescale-headline-medium-line-height": $system-typescale-headline-medium-line-height,
    "system-typescale-headline-small-font": $system-typescale-headline-small-font,
    "system-typescale-headline-small-font-weight": $system-typescale-headline-small-font-weight,
    "system-typescale-headline-small-font-size": $system-typescale-headline-small-font-size,
    "system-typescale-headline-small-font-tracking": $system-typescale-headline-small-font-tracking,
    "system-typescale-headline-small-line-height": $system-typescale-headline-small-line-height,
    "system-typescale-title-large-font": $system-typescale-title-large-font,
    "system-typescale-title-large-font-weight": $system-typescale-title-large-font-weight,
    "system-typescale-title-large-font-size": $system-typescale-title-large-font-size,
    "system-typescale-title-large-font-tracking": $system-typescale-title-large-font-tracking,
    "system-typescale-title-large-line-height": $system-typescale-title-large-line-height,
    "system-typescale-title-medium-font": $system-typescale-title-medium-font,
    "system-typescale-title-medium-font-weight": $system-typescale-title-medium-font-weight,
    "system-typescale-title-medium-font-size": $system-typescale-title-medium-font-size,
    "system-typescale-title-medium-font-tracking": $system-typescale-title-medium-font-tracking,
    "system-typescale-title-medium-line-height": $system-typescale-title-medium-line-height,
    "system-typescale-title-small-font": $system-typescale-title-small-font,
    "system-typescale-title-small-font-weight": $system-typescale-title-small-font-weight,
    "system-typescale-title-small-font-size": $system-typescale-title-small-font-size,
    "system-typescale-title-small-font-tracking": $system-typescale-title-small-font-tracking,
    "system-typescale-title-small-line-height": $system-typescale-title-small-line-height,
    "system-typescale-body-large-font": $system-typescale-body-large-font,
    "system-typescale-body-large-font-weight": $system-typescale-body-large-font-weight,
    "system-typescale-body-large-font-size": $system-typescale-body-large-font-size,
    "system-typescale-body-large-font-tracking": $system-typescale-body-large-font-tracking,
    "system-typescale-body-large-line-height": $system-typescale-body-large-line-height,
    "system-typescale-body-medium-font": $system-typescale-body-medium-font,
    "system-typescale-body-medium-font-weight": $system-typescale-body-medium-font-weight,
    "system-typescale-body-medium-font-size": $system-typescale-body-medium-font-size,
    "system-typescale-body-medium-font-tracking": $system-typescale-body-medium-font-tracking,
    "system-typescale-body-medium-line-height": $system-typescale-body-medium-line-height,
    "system-typescale-body-small-font": $system-typescale-body-small-font,
    "system-typescale-body-small-font-weight": $system-typescale-body-small-font-weight,
    "system-typescale-body-small-font-size": $system-typescale-body-small-font-size,
    "system-typescale-body-small-font-tracking": $system-typescale-body-small-font-tracking,
    "system-typescale-body-small-line-height": $system-typescale-body-small-line-height,
    "system-typescale-label-large-font": $system-typescale-label-large-font,
    "system-typescale-label-large-font-weight": $system-typescale-label-large-font-weight,
    "system-typescale-label-large-font-weight-prominent": $system-typescale-label-large-font-weight-prominent,
    "system-typescale-label-large-font-size": $system-typescale-label-large-font-size,
    "system-typescale-label-large-font-tracking": $system-typescale-label-large-font-tracking,
    "system-typescale-label-large-line-height": $system-typescale-label-large-line-height,
    "system-typescale-label-medium-font": $system-typescale-label-medium-font,
    "system-typescale-label-medium-font-weight": $system-typescale-label-medium-font-weight,
    "system-typescale-label-medium-font-weight-prominent": $system-typescale-label-medium-font-weight-prominent,
    "system-typescale-label-medium-font-size": $system-typescale-label-medium-font-size,
    "system-typescale-label-medium-font-tracking": $system-typescale-label-medium-font-tracking,
    "system-typescale-label-medium-line-height": $system-typescale-label-medium-line-height,
    "system-typescale-label-medium-text-transform": $system-typescale-label-medium-text-transform,
    "system-typescale-label-small-font": $system-typescale-label-small-font,
    "system-typescale-label-small-font-weight": $system-typescale-label-small-font-weight,
    "system-typescale-label-small-font-size": $system-typescale-label-small-font-size,
    "system-typescale-label-small-font-tracking": $system-typescale-label-small-font-tracking,
    "system-typescale-label-small-line-height": $system-typescale-label-small-line-height,
) !default;

$system-shape-corner-none: 0px !default;
$system-shape-corner-extra-small: 0.125rem !default;
$system-shape-corner-small: 0.25rem !default;
$system-shape-corner-medium: 0.375rem !default;
$system-shape-corner-large: 0.5rem !default;
$system-shape-corner-extra-large: 0.75 !default;
$system-shape-corner-full: var(--corner-radius) !default;

$system-shapes: (
    "system-shape-corner-none": $system-shape-corner-none,
    "system-shape-corner-extra-small": $system-shape-corner-extra-small,
    "system-shape-corner-small": $system-shape-corner-small,
    "system-shape-corner-medium": $system-shape-corner-medium,
    "system-shape-corner-large": $system-shape-corner-large,
    "system-shape-corner-extra-large": $system-shape-corner-extra-large,
    "system-shape-corner-full": $system-shape-corner-full,
) !default;