.text-display-large {
    font-family: var(--system-typescale-display-large-font);
    line-height: var(--system-typescale-display-large-line-height);
    font-size: var(--system-typescale-display-large-size);
    font-weight: var(--system-typescale-display-large-weight);
    letter-spacing: var(--system-typescale-display-large-tracking);
}

.text-display-medium {
    font-family: var(--system-typescale-display-medium-font);
    line-height: var(--system-typescale-display-medium-line-height);
    font-size: var(--system-typescale-display-medium-size);
    font-weight: var(--system-typescale-display-medium-weight);
    letter-spacing: var(--system-typescale-display-medium-tracking);
}

.text-display-small {
    font-family: var(--system-typescale-display-small-font);
    line-height: var(--system-typescale-display-small-line-height);
    font-size: var(--system-typescale-display-small-size);
    font-weight: var(--system-typescale-display-small-weight);
    letter-spacing: var(--system-typescale-display-small-tracking);
}

.text-headline-large {
    font-family: var(--system-typescale-headline-large-font);
    line-height: var(--system-typescale-headline-large-line-height);
    font-size: var(--system-typescale-headline-large-size);
    font-weight: var(--system-typescale-headline-large-weight);
    letter-spacing: var(--system-typescale-headline-large-tracking);
}

.text-headline-medium {
    font-family: var(--system-typescale-headline-medium-font);
    line-height: var(--system-typescale-headline-medium-line-height);
    font-size: var(--system-typescale-headline-medium-size);
    font-weight: var(--system-typescale-headline-medium-weight);
    letter-spacing: var(--system-typescale-headline-medium-tracking);
}

.text-headline-small {
    font-family: var(--system-typescale-headline-small-font);
    line-height: var(--system-typescale-headline-small-line-height);
    font-size: var(--system-typescale-headline-small-size);
    font-weight: var(--system-typescale-headline-small-weight);
    letter-spacing: var(--system-typescale-headline-small-tracking);
}

.text-title-large {
    font-family: var(--system-typescale-title-large-font);
    line-height: var(--system-typescale-title-large-line-height);
    font-size: var(--system-typescale-title-large-size);
    font-weight: var(--system-typescale-title-large-weight);
    letter-spacing: var(--system-typescale-title-large-tracking);
}

.text-title-medium {
    font-family: var(--system-typescale-title-medium-font);
    line-height: var(--system-typescale-title-medium-line-height);
    font-size: var(--system-typescale-title-medium-size);
    font-weight: var(--system-typescale-title-medium-weight);
    letter-spacing: var(--system-typescale-title-medium-tracking);
}

.text-title-small {
    font-family: var(--system-typescale-title-small-font);
    line-height: var(--system-typescale-title-small-line-height);
    font-size: var(--system-typescale-title-small-size);
    font-weight: var(--system-typescale-title-small-weight);
    letter-spacing: var(--system-typescale-title-small-tracking);
}

.text-body-large {
    font-family: var(--system-typescale-body-large-font);
    line-height: var(--system-typescale-body-large-line-height);
    font-size: var(--system-typescale-body-large-size);
    font-weight: var(--system-typescale-body-large-weight);
    letter-spacing: var(--system-typescale-body-large-tracking);
}

.text-body-medium {
    font-family: var(--system-typescale-body-medium-font);
    line-height: var(--system-typescale-body-medium-line-height);
    font-size: var(--system-typescale-body-medium-size);
    font-weight: var(--system-typescale-body-medium-weight);
    letter-spacing: var(--system-typescale-body-medium-tracking);
}

.text-body-small {
    font-family: var(--system-typescale-body-small-font);
    line-height: var(--system-typescale-body-small-line-height);
    font-size: var(--system-typescale-body-small-size);
    font-weight: var(--system-typescale-body-small-weight);
    letter-spacing: var(--system-typescale-body-small-tracking);
}

.text-label-large {
    font-family: var(--system-typescale-label-large-font);
    line-height: var(--system-typescale-label-large-line-height);
    font-size: var(--system-typescale-label-large-size);
    font-weight: var(--system-typescale-label-large-weight);
    letter-spacing: var(--system-typescale-label-large-tracking);
}

.text-label-medium {
    font-family: var(--system-typescale-label-medium-font);
    line-height: var(--system-typescale-label-medium-line-height);
    font-size: var(--system-typescale-label-medium-size);
    font-weight: var(--system-typescale-label-medium-weight);
    letter-spacing: var(--system-typescale-label-medium-tracking);
}

.text-label-small {
    font-family: var(--system-typescale-label-small-font);
    line-height: var(--system-typescale-label-small-line-height);
    font-size: var(--system-typescale-label-small-size);
    font-weight: var(--system-typescale-label-small-weight);
    letter-spacing: var(--system-typescale-label-small-tracking);
}