$btn-p-md: .5rem;

.button {
    border: none;

    &.solid {
        &.primary {
            background-color: var(--system-color-primary);
            color: var(--system-color-on-primary);
        }

        &.secondary {
            background-color: var(--system-color-secondary);
            color: var(--sytem-color-on-secondary);
        }
    }

    &.md {
        border-radius: var(--btn-rounded-md);
        font-size: var(--btn-fontsz-md);
        font-weight: var(--btn-fontw-md);
        padding: var(--btn-py-md) var(--btn-px-md);
    }
}