.overlay {
    background-color: var(--dialog-overlay);
}

.nav {
    grid-area: menu;
    justify-self: center;
    align-self: center;
}

.dialog {
    height: 100%;
    width: 67%;
    background-color: var(--drawer-navigation-bg);
    opacity: 1;
}

.trigger {
    border: none;
    background-color: transparent;
    color: var(--navigation-color);

    @media (min-width: 992px) {
        display: none;
    }
}

.header {
    display: grid;
    grid-template-areas: "logo close";
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 6rem;
    border-bottom: 1px solid var(--drawer-navigation-outline);
}

.close {
    border: none;
    grid-area: close;
    justify-self: end;
    align-self: center;
    background-color: transparent;
    padding: 2rem;
}

.logo {
    grid-area: logo;
    justify-self: center;
    align-self: center;
}

.navigationBar {
    display: flex;
    flex-direction: column;
}

.navigationItem {
    display: inline-block;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--drawer-navigation-color);
}