.card {
    display: grid;
    grid-template-areas: 
        "header"
        "body"
        "footer";
    grid-template-rows: 3rem 1fr 3rem;
    grid-template-columns: 1fr;
    width: 100%;
    background-color: var(--system-color-surface-container);
    color: var(--sytem-color-on-surface);
    border: 1px solid var(--system-color-outline-variant);
    border-radius: 0.5rem;
    padding: 4rem;
}

.header {
    grid-area: header;
    justify-self: end;
}