@use "../mixins";

.container {
    @include mixins.page-padding;
}

.card {
    @include mixins.card-outlined;
    padding: {
        top: var(--system-padding4);
        bottom: var(--system-padding4);
    };
    display: grid;
    grid-template-areas: 
        "header"
        "body"
        "footer";
    grid-template-rows: 4rem 1fr 4rem;
    grid-template-columns: 1fr;
    width: 100%;
}

.header {
    grid-area: header;
    justify-self: end;
    display: grid;
    align-items: center;
}

.body {
    grid-area: body;
    width: 100%;
    overflow-x: auto;
}
