$padding1: 0.25rem !default;
$padding2: $padding1 * 2 !default;
$padding3: $padding1 * 3 !default;
$padding4: $padding1 * 4 !default;
$padding5: $padding1 * 5 !default;
$padding6: $padding1 * 6 !default;
$padding7: $padding1 * 7 !default;
$padding8: $padding1 * 8 !default;
$padding9: $padding1 * 9 !default;
$padding10: $padding1 * 10 !default;
$padding11: $padding1 * 11 !default;
$padding12: $padding1 * 12 !default;
$padding13: $padding1 * 13 !default;
$padding14: $padding1 * 14 !default;
$padding15: $padding1 * 15 !default;
$padding16: $padding1 * 16 !default;
$padding17: $padding1 * 17 !default;
$padding18: $padding1 * 18 !default;
$padding19: $padding1 * 19 !default;
$padding20: $padding1 * 20 !default;
$padding21: $padding1 * 21 !default;
$padding22: $padding1 * 22 !default;
$padding23: $padding1 * 23 !default;
$padding24: $padding1 * 24 !default;
$padding25: $padding1 * 25 !default;
$padding26: $padding1 * 26 !default;
$padding27: $padding1 * 27 !default;
$padding28: $padding1 * 28 !default;
$padding29: $padding1 * 29 !default;
$padding30: $padding1 * 30 !default;
$padding31: $padding1 * 31 !default;
$padding32: $padding1 * 32 !default;
$padding33: $padding1 * 33 !default;
$padding34: $padding1 * 34 !default;
$padding35: $padding1 * 35 !default;
$padding36: $padding1 * 36 !default;
$padding36: $padding1 * 36 !default;
$padding37: $padding1 * 37 !default;
$padding38: $padding1 * 38 !default;
$padding39: $padding1 * 27 !default;
$padding40: $padding1 * 40 !default;

$paddings: (
    "padding1": $padding1,
    "padding2": $padding2,
    "padding3": $padding3,
    "padding4": $padding4,
    "padding5": $padding5,
    "padding6": $padding6,
    "padding7": $padding7,
    "padding8": $padding8,
    "padding9": $padding9,
    "padding10": $padding10,
    "padding11": $padding11,
    "padding12": $padding12,
    "padding13": $padding13,
    "padding14": $padding14,
    "padding15": $padding15,
    "padding16": $padding16,
    "padding17": $padding17,
    "padding18": $padding18,
    "padding19": $padding19,
    "padding20": $padding20,
    "padding21": $padding21,
    "padding22": $padding22,
    "padding23": $padding23,
    "padding24": $padding24,
    "padding25": $padding25,
    "padding26": $padding26,
    "padding27": $padding27,
    "padding28": $padding28,
    "padding29": $padding29,
    "padding30": $padding30,
    "padding31": $padding31,
    "padding32": $padding32,
    "padding33": $padding33,
    "padding34": $padding34,
    "padding35": $padding35,
    "padding36": $padding36,
    "padding37": $padding37,
    "padding38": $padding38,
    "padding39": $padding39,
    "padding40": $padding40,
) !default;