@use "../../style/mixins";

.card {
    width: 100%;
    height: var(--system-spacer10);
    padding: {
        top: var(--system-padding4);
        bottom: var(--system-padding4);
    }
}

.cardHeader {
    display: grid;
    place-items: center;
    height: 3rem;
}

.cardBody {
    display: grid;
    place-items: center;
    height: 6rem;
}

.placeholder {
    display: grid;
    place-items: center;
    height: 6rem;
    
    & > svg {
        width: 3rem;
        height: 3rem;
    }
}