$checkbox-container-width: 1.125rem !default;
$checkbox-container-height: 1.125rem !default;
$checkbox-container-shape: 0.125rem !default;
$checkbox-unselected-outline-color: var(--system-color-on-surface-variant) !default;
$checkbox-unselected-outline-width: 0.125rem !default;
$checkbox-selected-container-color: var(--system-color-primary) !default;
$checkbox-selected-outline-width: 0 !default;
$checkbox-unselected-error-outline-color: var(--system-color-error) !default;
$checkbox-selected-error-container-color: var(--system-color-error) !default;
$checkbox-icon-width: 1.125rem !default;
$checkbox-icon-height: 1.125rem !default;
$checkbox-selected-icon-color: var(--system-color-on-primary) !default;
$checkbox-selected-error-icon-color: var(--system-color-on-error) !default;
$checkbox-unselected-icon-color: var(--system-color-on-surface) !default;
$checkbox-state-layer-size: 2.5rem !default;
$checkbox-state-layer-shape: var(--system-shape-corner-full) !default;

$checkbox-unselected-disabled-outline-color: var(--system-color-on-surface) !default;
$checkbox-unselected-disabled-outline-width: 0.125rem !default;
$checkbox-unselected-container-opacity: 0.38 !default;
$checkbox-selected-disabled-container-color: var(--system-color-on-surface) !default;
$checkbox-selected-disabled-container-color-rgb: var(--system-color-on-surface-rgb) !default;
$checkbox-selected-disabled-container-opacity: 0.38 !default;
$checkbox-selected-disabled-outline-width: 0 !default;
// $checkbox-selected-disabled-icon-color: var(--system-color-surface) !default;
$checkbox-disabled-selected-icon-color: var(--system-color-primary) !default;
$checkbox-disabled-selected-icon-color-rgb: var(--system-color-primary-rgb) !default;
$checkbox-disabled-selected-icon-opacity: 0.38 !default;
$checkbox-disabled-unselected-icon-color: var(--system-color-primary) !default;
$checkbox-disabled-unselected-icon-color-rgb: var(--system-color-primary-rgb) !default;
$checkbox-disabled-unselected-icon-opacity: 0.38 !default;

$checkbox-unselected-hover-outline-color: var(--system-color-on-surface) !default;
$checkbox-unselected-hover-outline-width: 0.125rem !default;
$checkbox-selected-hover-container-color: var(--system-color-primary) !default;
$checkbox-selected-hover-outline-width: 0 !default;
$checkbox-unselected-error-hover-outline-color: var(--system-color-error) !default;
$checkbox-unselected-error-hover-outline-width: 0.125rem !default;
$checkbox-selected-error-hover-container-color: var(--system-color-error) !default;
$checkbox-selected-error-hover-outline-width: 0 !default;
$checkbox-selected-hover-state-layer-color: var(--system-color-primary) !default;
$checkbox-selected-hover-state-layer-color-rgb: var(--system-color-primary-rgb) !default;
$checkbox-selected-hover-state-layer-opacity: var(--system-state-hover-state-layer-opacity) !default;
$checkbox-unselected-hover-state-layer-color: var(--system-color-on-surface) !default;
$checkbox-unselected-hover-state-layer-color-rgb: var(--system-color-on-surface-rgb) !default;
$checkbox-unselected-hover-state-layer-opacity: var(--system-state-hover-state-layer-opacity) !default;
$checkbox-error-hover-state-layer-color: var(--system-color-error) !default;
$checkbox-error-hover-state-layer-color-rgb: var(--system-color-error-rgb) !default;
$checkbox-error-hover-state-layer-opacity: var(--system-state-hover-state-layer-opacity) !default;
$checkbox-selected-hover-icon-color: var(--system-color-on-primary) !default;
$checkbox-selected-error-hover-icon-color: var(--system-color-on-error) !default;
$checkbox-unselected-hover-icon-color: var(--system-color-on-surface) !default;

$checkbox-focus-indicator-color: var(--system-color-secondary) !default;
$checkbox-focus-indicator-thickness: var(--system-state-focus-indicator-thickness) !default;
$checkbox-focus-indicator-offset: var(--system-state-focus-indicator-offset) !default;
$checkbox-unselected-focus-outline-color: var(--system-color-on-surface) !default;
$checkbox-unselected-focus-outline-width: 0.125rem !default;
$checkbox-selected-focus-container-color: var(--system-color-primary) !default;
$checkbox-selected-focus-outline-width: 0 !default;
$checkbox-unselected-error-focus-outline-color: var(--system-color-error) !default;
$checkbox-unselected-error-focus-outline-width: 0.125rem !default;
$checkbox-selected-error-focus-container-color: var(--system-color-error) !default;
$checkbox-selected-error-focus-outline-width: 0 !default;
$checkbox-selected-focus-state-layer-color: var(--system-color-primary) !default;
$checkbox-selected-focus-state-layer-color-rgb: var(--system-color-primary-rgb) !default;
$checkbox-selected-focus-state-layer-opacity: var(--system-state-focus-state-layer-opacity) !default;
$checkbox-unselected-focus-state-layer-color: var(--system-color-on-surface) !default;
$checkbox-unselected-focus-state-layer-color-rgb: var(--system-color-on-surface-rgb) !default;
$checkbox-unselected-focus-state-layer-opacity: var(--system-state-focus-state-layer-opacity) !default;
$checkbox-error-focus-state-layer-color: var(--system-color-error) !default;
$checkbox-error-focus-state-layer-color-rgb: var(--system-color-error-rgb) !default;
$checkbox-error-focus-state-layer-opacity: var(--system-state-focus-state-layer-opacity) !default;
$checkbox-selected-focus-icon-color: var(--system-color-on-primary) !default;
$checkbox-selected-error-focus-icon-color: var(--system-color-on-error) !default;
$checkbox-unselected-focus-icon-color: var(--system-color-on-surface) !default;

$checkbox-unselected-pressed-outline-color: var(--system-color-on-surface) !default;
$checkbox-unselected-pressed-outline-width: 0.125rem !default;
$checkbox-selected-pressed-container-color: var(--system-color-primary) !default;
$checkbox-selected-pressed-outline-width: 0 !default;
$checkbox-unselected-error-pressed-outline-color: var(--system-color-error) !default;
$checkbox-unselected-error-pressed-outline-width: 0.125rem !default;
$checkbox-selected-error-pressed-container-color: var(--system-color-error) !default;
$checkbox-selected-error-pressed-outline-width: 0 !default;
$checkbox-unselected-pressed-state-layer-color: var(--system-color-primary) !default;
$checkbox-unselected-pressed-state-layer-color-rgb: var(--system-color-primary-rgb) !default;
$checkbox-unselected-pressed-state-layer-opacity: var(--system-state-pressed-state-layer-opacity) !default;
$checkbox-selected-pressed-state-layer-color: var(--system-color-on-surface) !default;
$checkbox-selected-pressed-state-layer-color-rgb: var(--system-color-on-surface-rgb) !default;
$checkbox-selected-pressed-state-layer-opacity: var(--system-state-pressed-state-layer-opacity) !default;
$checkbox-error-pressed-state-layer-color: var(--system-color-error) !default;
$checkbox-error-pressed-state-layer-color-rgb: var(--system-color-error-rgb) !default;
$checkbox-error-pressed-state-layer-opacity: var(--system-state-pressed-state-layer-opacity) !default;
$checkbox-selected-pressed-icon-color: var(--system-color-on-primary) !default;
$checkbox-selected-error-pressed-icon-color: var(--system-color-on-error) !default;
$checkbox-unselected-pressed-icon-color: var(--system-color-on-surface) !default;

$checkbox: (
    "checkbox-container-width": $checkbox-container-width,
    "checkbox-container-height": $checkbox-container-height,
    "checkbox-container-shape": $checkbox-container-shape,
    "checkbox-unselected-outline-color": $checkbox-unselected-outline-color,
    "checkbox-unselected-outline-width": $checkbox-unselected-outline-width,
    "checkbox-selected-container-color": $checkbox-selected-container-color,
    "checkbox-selected-outline-width": $checkbox-selected-outline-width,
    "checkbox-unselected-error-outline-color": $checkbox-unselected-error-outline-color,
    "checkbox-selected-error-container-color": $checkbox-selected-error-container-color,
    "checkbox-icon-width": $checkbox-icon-width,
    "checkbox-icon-height": $checkbox-icon-height,
    "checkbox-selected-icon-color": $checkbox-selected-icon-color,
    "checkbox-selected-error-icon-color": $checkbox-selected-error-icon-color,
    "checkbox-unselected-icon-color": $checkbox-unselected-icon-color,
    "checkbox-state-layer-size": $checkbox-state-layer-size,
    "checkbox-state-layer-shape": $checkbox-state-layer-shape,
) !default;

$checkbox-disabled: (
    "checkbox-unselected-disabled-outline-color": $checkbox-unselected-disabled-outline-color,
    "checkbox-unselected-disabled-outline-width": $checkbox-unselected-disabled-outline-width,
    "checkbox-unselected-container-opacity": $checkbox-unselected-container-opacity,
    "checkbox-selected-disabled-container-color": $checkbox-selected-disabled-container-color,
    "checkbox-selected-disabled-container-color-rgb": $checkbox-selected-disabled-container-color-rgb,
    "checkbox-selected-disabled-container-opacity": $checkbox-selected-disabled-container-opacity,
    "checkbox-selected-disabled-outline-width": $checkbox-selected-disabled-outline-width,
    // "checkbox-selected-disabled-icon-color": $checkbox-selected-disabled-icon-color,
    "checkbox-disabled-selected-icon-color": $checkbox-disabled-selected-icon-color,
    "checkbox-disabled-selected-icon-color-rgb": $checkbox-disabled-selected-icon-color-rgb,
    "checkbox-disabled-selected-icon-opacity": $checkbox-disabled-selected-icon-opacity,
    "checkbox-disabled-unselected-icon-color": $checkbox-disabled-unselected-icon-color,
    "checkbox-disabled-unselected-icon-color-rgb": $checkbox-disabled-unselected-icon-color-rgb,
    "checkbox-disabled-unselected-icon-opacity": $checkbox-disabled-unselected-icon-opacity,
) !default;

$checkbox-hover: (
    "checkbox-unselected-hover-outline-color": $checkbox-unselected-hover-outline-color,
    "checkbox-unselected-hover-outline-width": $checkbox-unselected-hover-outline-width,
    "checkbox-selected-hover-container-color": $checkbox-selected-hover-container-color,
    "checkbox-selected-hover-outline-width": $checkbox-selected-hover-outline-width,
    "checkbox-unselected-error-hover-outline-color": $checkbox-unselected-error-hover-outline-color,
    "checkbox-unselected-error-hover-outline-width": $checkbox-unselected-error-hover-outline-width,
    "checkbox-selected-error-hover-container-color": $checkbox-selected-error-hover-container-color,
    "checkbox-selected-error-hover-outline-width": $checkbox-selected-error-hover-outline-width,
    "checkbox-selected-hover-state-layer-color": $checkbox-selected-hover-state-layer-color,
    "checkbox-selected-hover-state-layer-color-rgb": $checkbox-selected-hover-state-layer-color-rgb,
    "checkbox-selected-hover-state-layer-opacity": $checkbox-selected-hover-state-layer-opacity,
    "checkbox-unselected-hover-state-layer-color": $checkbox-unselected-hover-state-layer-color,
    "checkbox-unselected-hover-state-layer-color-rgb": $checkbox-unselected-hover-state-layer-color-rgb,
    "checkbox-unselected-hover-state-layer-opacity": $checkbox-unselected-hover-state-layer-opacity,
    "checkbox-error-hover-state-layer-color": $checkbox-error-hover-state-layer-color,
    "checkbox-error-hover-state-layer-color-rgb": $checkbox-error-hover-state-layer-color-rgb,
    "checkbox-error-hover-state-layer-opacity": $checkbox-error-hover-state-layer-opacity,
    "checkbox-selected-hover-icon-color": $checkbox-selected-hover-icon-color,
    "checkbox-selected-error-hover-icon-color": $checkbox-selected-error-hover-icon-color,
    "checkbox-unselected-hover-icon-color": $checkbox-unselected-hover-icon-color,
) !default;

$checkbox-focus: (
    "checkbox-focus-indicator-color": $checkbox-focus-indicator-color,
    "checkbox-focus-indicator-thickness": $checkbox-focus-indicator-thickness,
    "checkbox-focus-indicator-offset": $checkbox-focus-indicator-offset,
    "checkbox-unselected-focus-outline-color": $checkbox-unselected-focus-outline-color,
    "checkbox-unselected-focus-outline-width": $checkbox-unselected-focus-outline-width,
    "checkbox-selected-focus-container-color": $checkbox-selected-focus-container-color,
    "checkbox-selected-focus-outline-width": $checkbox-selected-focus-outline-width,
    "checkbox-unselected-error-focus-outline-color": $checkbox-unselected-error-focus-outline-color,
    "checkbox-unselected-error-focus-outline-width": $checkbox-unselected-error-focus-outline-width,
    "checkbox-selected-error-focus-container-color": $checkbox-selected-error-focus-container-color,
    "checkbox-selected-error-focus-outline-width": $checkbox-selected-error-focus-outline-width,
    "checkbox-selected-focus-state-layer-color": $checkbox-selected-focus-state-layer-color,
    "checkbox-selected-focus-state-layer-color-rgb": $checkbox-selected-focus-state-layer-color-rgb,
    "checkbox-selected-focus-state-layer-opacity": $checkbox-selected-focus-state-layer-opacity,
    "checkbox-unselected-focus-state-layer-color": $checkbox-unselected-focus-state-layer-color,
    "checkbox-unselected-focus-state-layer-color-rgb": $checkbox-unselected-focus-state-layer-color-rgb,
    "checkbox-unselected-focus-state-layer-opacity": $checkbox-unselected-focus-state-layer-opacity,
    "checkbox-error-focus-state-layer-color": $checkbox-error-focus-state-layer-color,
    "checkbox-error-focus-state-layer-color-rgb": $checkbox-error-focus-state-layer-color-rgb,
    "checkbox-error-focus-state-layer-opacity": $checkbox-error-focus-state-layer-opacity,
    "checkbox-selected-focus-icon-color": $checkbox-selected-focus-icon-color,
    "checkbox-selected-error-focus-icon-color": $checkbox-selected-error-focus-icon-color,
    "checkbox-unselected-focus-icon-color": $checkbox-unselected-focus-icon-color,
) !default;

$checkbox-pressed: (
    "checkbox-unselected-pressed-outline-color": $checkbox-unselected-pressed-outline-color,
    "checkbox-unselected-pressed-outline-width": $checkbox-unselected-pressed-outline-width,
    "checkbox-selected-pressed-container-color": $checkbox-selected-pressed-container-color,
    "checkbox-selected-pressed-outline-width": $checkbox-selected-pressed-outline-width,
    "checkbox-unselected-error-pressed-outline-color": $checkbox-unselected-error-pressed-outline-color,
    "checkbox-unselected-error-pressed-outline-width": $checkbox-unselected-error-pressed-outline-width,
    "checkbox-selected-error-pressed-container-color": $checkbox-selected-error-pressed-container-color,
    "checkbox-selected-error-pressed-outline-width": $checkbox-selected-error-pressed-outline-width,
    "checkbox-unselected-pressed-state-layer-color": $checkbox-unselected-pressed-state-layer-color,
    "checkbox-unselected-pressed-state-layer-color-rgb": $checkbox-unselected-pressed-state-layer-color-rgb,
    "checkbox-unselected-pressed-state-layer-opacity": $checkbox-unselected-pressed-state-layer-opacity,
    "checkbox-selected-pressed-state-layer-color": $checkbox-selected-pressed-state-layer-color,
    "checkbox-selected-pressed-state-layer-color-rgb": $checkbox-selected-pressed-state-layer-color-rgb,
    "checkbox-selected-pressed-state-layer-opacity": $checkbox-selected-pressed-state-layer-opacity,
    "checkbox-error-pressed-state-layer-color": $checkbox-error-pressed-state-layer-color,
    "checkbox-error-pressed-state-layer-color-rgb": $checkbox-error-pressed-state-layer-color-rgb,
    "checkbox-error-pressed-state-layer-opacity": $checkbox-error-pressed-state-layer-opacity,
    "checkbox-selected-pressed-icon-color": $checkbox-selected-pressed-icon-color,
    "checkbox-selected-error-pressed-icon-color": $checkbox-selected-error-pressed-icon-color,
    "checkbox-unselected-pressed-icon-color": $checkbox-unselected-pressed-icon-color,
) !default;