.app {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr 4rem;
    background: linear-gradient(
        to bottom,
        var(--system-color-primary) 16rem,
        var(--system-color-surface) 16rem,
    );
    min-height: 100vh;
    max-width: 100%;
}  

.header {
    grid-area: header;
    display: grid;
    grid-template-areas: "navigation logo";
    grid-template-columns: 5rem 1fr;
    padding: {
        left: 1rem;
        right: 1rem;
    };

    @media (min-width: 600px) {
        padding: {
            left: 1.5em;
            right: 1.5rem;
        };
    }

    @media (min-width: 840px) {
        grid-template-areas: "logo navigation";
        grid-template-columns: 5rem 1fr;
    }
}

.main {
    grid-area: main;
    padding: {
        left: 1rem;
        right: 1rem;
    };

    @media (min-width: 600px) {
        padding: {
            left: 1.5em;
            right: 1.5rem;
        };
    }
}

.footer {
    grid-area: footer;
    background-color: var(--system-color-surface-dim);
    color: var(--system-color-on-surface-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: {
        left: 1rem;
        right: 1rem;
    };

    @media (min-width: 600px) {
        padding: {
            left: 1.5em;
            right: 1.5rem;
        };
    }
}