.snackbar {
    --container-color: var(--component-snackbar-container-color);
    --container-elevation: var(--component-snackbar-container-elevation);
    --container-shape: var(--component-snackbar-container-shape);
    --container-height: var(--component-snackbar-container-with-single-line-height);
    --label-color: var(--component-snackbar-label-color);
    --label-font: var(--component-snackbar-label-font);
    --label-line-height: var(--component-snackbar-label-line-height);
    --label-size: var(--component-snackbar-label-size);
    --label-tracking: var(--component-snackbar-label-tracking);
    --label-weight: var(--component-snackbar-label-weight);
    --icon-color: var(--component-snackbar-icon-color);
    --icon-size: var(--component-snackbar-icon-size);
    --supporting-text-color: var(--component-snackbar-supporting-text-color);
    --supporting-text-font: var(--component-snackbar-supporting-text-font);
    --supporting-text-line-height: var(--component-snackbar-supporting-text-line-height);
    --supporting-text-size: var(--component-snackbar-supporting-text-size);
    --supporting-text-tracking: var(--component-snackbar-supporting-text-tracking);
    --supporting-text-weight: var(--component-snackbar-supporting-text-weight);

    &.two-lines {
        --container-height: var(--component-snackbar-container-with-two-line-height);
    }

    & > .container > .icon-action {
        &:hover {
            --icon-state-layer-color: rgba(var(--component-snackbar-icon-hover-state-layer-color-rgb), var(--component-snackbar-icon-hover-state-layer-opacity));
            --icon-color: var(--component-snackbar-hover-icon-color);
        }
    
        &:focus {
            --icon-state-layer-color: rgba(var(--component-snackbar-icon-focus-state-layer-color-rgb), var(--component-snackbar-icon-focus-state-layer-opacity));
            --icon-color: var(--component-snackbar-focus-icon-color);
        }
    
        &:active {
            --icon-state-layer-color: rgba(var(--component-snackbar-icon-pressed-state-layer-color-rgb), var(--component-snackbar-icon-pressed-state-layer-opacity));
            --icon-color: var(--component-snackbar-pressed-icon-color);
        }
    }

    & > .container > .action {
        &:hover {
            --label-color: var(--component-snackbar-hover-label-color);
            --state-layer-color: rgba(var(--component-snackbar-hover-state-layer-color-rgb), var(--component-snackbar-hover-state-layer-opacity));
        }
    
        &:focus {
            --label-color: var(--component-snackbar-focus-label-color);
            --state-layer-color: rgba(var(--component-snackbar-focus-state-layer-color-rgb), var(--component-snackbar-focus-state-layer-opacity));
        }
    
        &:active {
            --label-color: var(--component-snackbar-pressed-label-color);
            --state-layer-color: rgba(var(--component-snackbar-pressed-state-layer-color-rgb), var(--component-snackbar-pressed-state-layer-opacity));
        }   
    }

    height: var(--container-height);

    &.two-lines > .container .supporting-text {
        display: -webkit-inline-box;
        white-space: wrap;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    & > .container {
        display: flex;
        align-items: center;
        height: var(--container-height);
        background-color: var(--container-color);
        border-radius: var(--container-shape);
        box-shadow: var(--container-elevation);

        & > .action {
            background: none;
            border: none;
            outline: none;
            box-shadow: none;
            min-height: var(--system-spacer2);
            min-width: var(--system-spacer2);
            padding: 0;

            & > .label {
                height: 2.5rem;
                border-radius: var(--system-shape-corner-full);
                color: var(--label-color);
                font-family: var(--label-font);
                line-height: var(--label-line-height);
                font-size: var(--label-size);
                letter-spacing: var(--label-tracking);
                font-weight: var(--label-weight);
                background-color: var(--state-layer-color);
            }
        }

        & > .supporting-text {
            flex-grow: 1;
            padding-left: 1rem;
            color: var(--supporting-text-color);
            font-family: var(--supporting-text-font);
            line-height: var(--supporting-text-line-height);
            font-size: var(--supporting-text-size);
            letter-spacing: var(--supporting-text-tracking);
            font-weight: var(--supporting-text-weight);
            white-space: nowrap;
            overflow: hidden;
        }

        & > .icon-action {
            display: grid;
            place-items: center;
            background: none;
            border: none;
            outline: none;
            box-shadow: none;
            min-height: var(--system-spacer2);
            min-width: var(--system-spacer2);
            padding: 0;

            & > .icon {
                display: grid;
                place-items: center;
                width: 2.5rem;
                height: 2.5rem;
                background-color: var(--icon-state-layer-color);
                border-radius: var(--system-shape-corner-full);
            }
        }

        & > .icon-action > .icon > svg,
        & > svg {
            color: var(--icon-color);
            width: var(--icon-size);
            height: var(--icon-size);
        }
    }
}