@use "../mixins";

.tab-secondary-navigation {
    --container-color: var(--component-tab-secondary-navigation-container-color);
    --container-height: var(--component-tab-secondary-navigation-container-height);
    --container-shape: var(--component-tab-secondary-navigation-container-shape);
    --container-elevation: var(--component-tab-secondary-navigation-container-elevation);
    --label-font: var(--component-tab-secondary-navigation-label-font);
    --label-line-height: var(--component-tab-secondary-navigation-label-line-height);
    --label-size: var(--component-tab-secondary-navigation-label-size);
    --label-weight: var(--component-tab-secondary-navigation-label-weight);
    --label-tracking: var(--component-tab-secondary-navigation-label-tracking);
    --label-color: var(--component-tab-secondary-navigation-inactive-label-color);
    --icon-width: var(--component-tab-secondary-navigation-icon-size);
    --icon-height: var(--component-tab-secondary-navigation-icon-size);
    --icon-color: var(--component-tab-secondary-navigation-inactive-icon-color);
    --divider-color: var(--component-tab-secondary-navigation-divider-color);
    --divider-height: var(--component-tab-secondary-navigation-divider-height);
    --active-indicator-display: none;
    --active-indicator-height: var(--component-tab-secondary-navigation-active-indicator-height);
    --active-indicator-color: var(--component-tab-secondary-navigation-active-indicator-color);
    --active-indicator-shape: var(--component-tab-secondary-navigation-active-indicator-shape);
    --active-indicator-bottom: 0;
    --state-layer-width: 100%;
    --state-layer-height: 100%;
    --state-layer-color: rgba(var(--component-tab-secondary-navigation-state-layer-color-rgb), var(--component-tab-secondary-navigation-state-layer-opacity));
    --state-layer-shape: var(--component-tab-secondary-navigation-container-shape);
    --content-position: static;
    --content-height: 100%;
    --content-shape: var(--component-tab-secondary-navigation-container-shape);

    &.active {
        --label-color: var(--component-tab-secondary-navigation-active-label-color);
        --icon-color: var(--component-tab-secondary-navigation-active-icon-color);
        --active-indicator-display: block;
    }

    &:hover {
        --label-color: var(--component-tab-secondary-navigation-inactive-hover-label-color);
        --state-layer-color: rgba(var(--component-tab-secondary-navigation-inactive-hover-state-layer-color-rgb), var(--component-tab-secondary-navigation-inactive-hover-state-layer-opacity));
        --icon-color: var(--component-tab-secondary-navigation-inactive-hover-icon-color);
    }

    &:focus {
        --label-color: var(--component-tab-secondary-navigation-inactive-hover-label-color);
        --state-layer-color: rgba(var(--component-tab-secondary-navigation-inactive-focus-state-layer-color-rgb), var(--component-tab-secondary-navigation-inactive-focus-state-layer-opacity));
        --icon-color: var(--component-tab-secondary-navigation-inactive-focus-icon-color);
    }

    &:active {
        --label-color: var(--component-tab-secondary-navigation-inactive-pressed-label-color);
        --state-layer-color: rgba(var(--component-tab-secondary-navigation-inactive-pressed-state-layer-color-rgb), var(--component-tab-secondary-navigation-inactive-pressed-state-layer-opacity));
        --icon-color: var(--component-tab-secondary-navigation-inactive-pressed-icon-color);
    }

    @include mixins.tab;
}